Repository strimzi/strimzi-kafka-operator, pull requests merged in 2018-11, with the labels that each got.

#1056 Fix the titles for two different chapters which used the same title
  documentation/book/assembly-kafka-broker-replicas.adoc
  documentation/book/assembly-zookeeper-replicas.adoc
Labels: documentation, peer-review-needed

#1044 ST: Mirror Maker
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/Resources.java
Labels: System tests

#1051 Add documentation to metadata templates
  documentation/book/assembly-customizing-deployments.adoc
  documentation/book/assembly-deployment-configuration.adoc
  documentation/book/con-customizing-labels-and-annotations.adoc
  documentation/book/con-customizing-template-properties.adoc
  documentation/book/proc-customizing-deployments.adoc
Labels: documentation, peer-review-needed, sme-review-done

#1062 [DOC] fixed new line spaces
  api/src/main/java/io/strimzi/api/kafka/model/AclRule.java
  api/src/main/java/io/strimzi/api/kafka/model/CertificateAuthority.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMakerSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/TlsSidecar.java
  documentation/book/appendix_crds.adoc
Labels: documentation

#1077 ST: Fix helm chart system test
  api/pom.xml
  api/src/test/java/io/strimzi/test/StrimziExtension.java
  pom.xml
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: System tests

#1085 ST: Log collector for failed tests
  api/src/test/java/io/strimzi/test/StrimziExtension.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: System tests, needs review

#1078 ST: fix and new tests for multiple namespace
  api/src/test/java/io/strimzi/test/StrimziExtension.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
Labels: System tests

#1110 Fix incorrect links on Metrics appendix on master
  Makefile
  documentation/book/appendix_metrics.adoc
  documentation/common/attributes.adoc
Labels: bug, documentation

#1114 Fix exposing using routes by setting the external addresses
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
Labels: bug

#1113 Make sure the UO in EO is listening only for the users belonging to the same cluster
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ModelUtils.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityTopicOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityUserOperatorTest.java
Labels: bug

#1119 Docs: Add transactional ID to the documentation
  documentation/book/ref-kafka-user.adoc
Labels: documentation, peer-review-done, sme-review-done

#1123 Fix incorrect links to latest files in Metrics appendics
  documentation/book/appendix_metrics.adoc
Labels: bug, documentation

#1129 Fix ignored logging configuration in Entity Operator
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityTopicOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityUserOperatorTest.java
  user-operator/Dockerfile
  user-operator/scripts/user_operator_run.sh
Labels: bug
