Repository strimzi/strimzi-kafka-operator, pull requests merged in 2018-12, with the labels that each got.

#1145 Routes should be using status instead of spec to get addresses
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  operator-common/src/main/java/io/strimzi/operator/common/operator/resource/RouteOperator.java
Labels: bug

#1079 Getting started kafka connect
  documentation/book/assembly-kafka-connect.adoc
  documentation/book/assembly-using-kafka-connect-with-plugins.adoc
  documentation/book/proc-creating-new-image-from-base.adoc
  documentation/book/proc-deploying-kafka-connect-kubernetes.adoc
  documentation/book/proc-deploying-kafka-connect-openshift.adoc
  documentation/book/proc-using-openshift-builds-create-image.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1153 Replace the Apache Zookeeper project's client with ZkClient
  topic-operator/pom.xml
  topic-operator/src/main/java/io/strimzi/operator/topic/Config.java
  topic-operator/src/main/java/io/strimzi/operator/topic/Session.java
  topic-operator/src/main/java/io/strimzi/operator/topic/ZkTopicStore.java
  topic-operator/src/main/java/io/strimzi/operator/topic/zk/Zk.java
  topic-operator/src/main/java/io/strimzi/operator/topic/zk/ZkImpl.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MockZk.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/ZkTopicStoreTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/zk/ZkImplTest.java
Labels: topic operator

#1139 Added maintenance time windows documentation
  documentation/book/assembly-deployment-configuration-kafka.adoc
  documentation/book/assembly-maintenance-time-windows.adoc
  documentation/book/con-maintenance-time-window-definition.adoc
  documentation/book/con-maintenance-time-windows-overview.adoc
  documentation/book/proc-configuring-maintenance-time-windows.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1167 Added TLS sidecar healthchecks documentation
  documentation/book/assembly-tls-sidecar.adoc
  documentation/book/ref-healthchecks.adoc
  documentation/book/ref-tls-sidecar.adoc
Labels: documentation, peer-review-done
