Repository strimzi/strimzi-kafka-operator, pull requests merged in 2018-08, with the labels that each got.

#661 ST: Certificates & renaming class names
  api/src/test/java/io/strimzi/test/k8s/BaseKubeClient.java
  api/src/test/java/io/strimzi/test/k8s/KubeClient.java
  pom.xml
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectS2IST.testDeployS2IWithMongoDBPlugin.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectS2IST.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectST.testDeployUndeploy.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectST.testForUpdateValuesInConnectCM.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectST.testJvmAndResources.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectST.testKafkaConnectScaleUpScaleDown.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectST.testKafkaConnectWithFileSinkPlugin.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectST.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/HelmChartST.testDeployKafkaClusterViaHelmChart.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testCustomAndUpdatedValues.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testForTopicOperator.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testJvmAndResources.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testKafkaAndZookeeperScaleUpScaleDown.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testRackAware.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testSendMessages.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testWatchingOtherNamespace.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaST.testZookeeperScaleUpScaleDown.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/RecoveryST.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/SecurityST.testCertificates.yaml
Labels: System tests

#697 Docs : description about spec.bootstrapServers for Kafka Connect CRD
  documentation/book/cluster-operator.adoc
Labels: documentation, peer-review-done

#701 Organization should not be in the subject when it is not set
  certificate-manager/src/main/java/io/strimzi/certs/Subject.java
  certificate-manager/src/test/java/io/strimzi/certs/SubjectTests.java
Labels: bug

#665 Docs: Kafka Connect Getting Started Modularization
  documentation/book/assembly-kafka-connect.adoc
  documentation/book/assembly-using-kafka-connect-with-plugins.adoc
  documentation/book/getting-started.adoc
  documentation/book/proc-creating-new-image-from-base.adoc
  documentation/book/proc-deploying-kafka-connect-kubernetes.adoc
  documentation/book/proc-deploying-kafka-connect-openshift.adoc
  documentation/book/proc-using-openshift-builds-create-image.adoc
Labels: documentation, peer-review-done, sme-review-done

#705 Fix issues with labels, selectors and their changes - Closes #699
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectS2ICluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
  operator-common/src/main/java/io/strimzi/operator/common/model/Labels.java
  operator-common/src/test/java/io/strimzi/operator/common/model/LabelsTest.java
Labels: bug

#707 Fix NPE when topic contains no config
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicSerialization.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicSerializationTest.java
Labels: bug

#684 wip Topic Operator pt III
  .travis/check_docs.sh
  Makefile
  documentation/book/assembly-deploying-the-topic-operator.adoc
  documentation/book/assembly-using-the-topic-operator.adoc
  documentation/book/cluster-operator.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/getting-started.adoc
  documentation/book/master.adoc
  documentation/book/proc-changing-a-topic.adoc
  documentation/book/proc-creating-a-topic.adoc
  documentation/book/proc-deleting-a-topic.adoc
  documentation/book/proc-deploying-cluster-operator-kubernetes.adoc
  documentation/book/proc-deploying-cluster-operator-openshift.adoc
  documentation/book/proc-deploying-kafka-cluster-kubernetes.adoc
  documentation/book/proc-deploying-kafka-cluster-openshift.adoc
  documentation/book/proc-deploying-the-topic-operator-standalone.adoc
  documentation/book/proc-deploying-the-topic-operator-using-the-cluster-operator.adoc
  documentation/book/proc-topic-operator-with-resource-requests-limits.adoc
  documentation/book/ref-minimum-resource-requirements.adoc
  documentation/book/ref-topic-operator-environment.adoc
  documentation/book/topic-operator.adoc
Labels: peer-review-needed, sme-review-done

#694 Docs: Update documentation about installing from Helm Chart
  documentation/book/assembly-cluster-operator.adoc
  documentation/book/con-product-downloads.adoc
  documentation/book/proc-deploying-cluster-operator-helm-chart.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#726 Docs: Add documentation about pod scheduling
  documentation/book/assembly-dedicated-nodes.adoc
  documentation/book/assembly-node-scheduling.adoc
  documentation/book/assembly-scheduling-based-on-other-pods.adoc
  documentation/book/assembly-scheduling.adoc
  documentation/book/cluster-operator.adoc
  documentation/book/con-dedicated-nodes.adoc
  documentation/book/con-scheduling-based-on-other-pods.adoc
  documentation/book/con-scheduling-to-specific-nodes.adoc
  documentation/book/con-scheduling.adoc
  documentation/book/proc-dedicated-nodes.adoc
  documentation/book/proc-scheduling-based-on-other-pods.adoc
  documentation/book/proc-scheduling-deplyoment-to-node-using-node-affinity.adoc
  documentation/book/proc-topic-operator-with-resource-requests-limits.adoc
  documentation/book/ref-affinity.adoc
  documentation/book/ref-tolerations.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done

#700 Fix namespace for ST
  api/src/test/java/io/strimzi/test/StrimziRunner.java
  api/src/test/java/io/strimzi/test/k8s/Helm.java
  api/src/test/resources/helm/helm-service-account.yaml
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/resources/io/strimzi/systemtest/ConnectS2IST.testDeployS2IWithMongoDBPlugin.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/HelmChartST.testDeployKafkaClusterViaHelmChart.yaml
Labels: System tests, needs review

#733 Docs: Remove references to attributes
  documentation/book/assembly-cluster-operator.adoc
  documentation/book/assembly-dedicated-nodes.adoc
  documentation/book/assembly-deploying-the-topic-operator.adoc
  documentation/book/assembly-kafka-cluster.adoc
  documentation/book/assembly-kafka-connect.adoc
  documentation/book/assembly-node-scheduling.adoc
  documentation/book/assembly-overview.adoc
  documentation/book/assembly-scheduling-based-on-other-pods.adoc
  documentation/book/assembly-scheduling.adoc
  documentation/book/assembly-using-kafka-connect-with-plugins.adoc
  documentation/book/assembly-using-the-topic-operator.adoc
  documentation/book/con-dedicated-nodes.adoc
  documentation/book/con-how-the-topic-operator-works.adoc
  documentation/book/con-product-downloads.adoc
  documentation/book/con-scheduling-based-on-other-pods.adoc
  documentation/book/con-scheduling-to-specific-nodes.adoc
  documentation/book/con-scheduling.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/getting-started.adoc
  documentation/book/proc-changing-a-topic.adoc
  documentation/book/proc-creating-a-topic.adoc
  documentation/book/proc-creating-new-image-from-base.adoc
  documentation/book/proc-dedicated-nodes.adoc
  documentation/book/proc-deleting-a-topic.adoc
  documentation/book/proc-deploying-cluster-operator-kubernetes.adoc
  documentation/book/proc-deploying-cluster-operator-openshift.adoc
  documentation/book/proc-deploying-kafka-cluster-kubernetes.adoc
  documentation/book/proc-deploying-kafka-cluster-openshift.adoc
  documentation/book/proc-deploying-kafka-connect-kubernetes.adoc
  documentation/book/proc-deploying-kafka-connect-openshift.adoc
  documentation/book/proc-scheduling-based-on-other-pods.adoc
  documentation/book/proc-scheduling-deplyoment-to-node-using-node-affinity.adoc
  documentation/book/proc-using-openshift-builds-create-image.adoc
  documentation/book/ref-affinity.adoc
  documentation/book/ref-document-conventions.adoc
  documentation/book/ref-tolerations.adoc
  documentation/book/ref-topic-operator-environment.adoc
  documentation/book/ref-topic-operator-usage-recommendation.adoc
Labels: documentation

#737 Docs: Storage documentation
  documentation/book/assembly-storage.adoc
  documentation/book/cluster-operator.adoc
  documentation/book/ref-storage.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done

#735 Docs: Listener configuration, Authentication and Authroization
  documentation/book/assembly-configuring-kafka-listeners.adoc
  documentation/book/assembly-kafka-authentication-and-authorization.adoc
  documentation/book/cluster-operator.adoc
  documentation/book/proc-configuring-kafka-listeners.adoc
  documentation/book/proc-kafka-authentication.adoc
  documentation/book/proc-kafka-authorization.adoc
  documentation/book/ref-kafka-authentication.adoc
  documentation/book/ref-kafka-authorization.adoc
  documentation/book/ref-kafka-listeners.adoc
Labels: documentation, peer-review-done

#736 Docs: hello world for getting started
  documentation/book/assembly-hello-world.adoc
  documentation/book/getting-started.adoc
  documentation/book/proc-deploying-example-clients.adoc
Labels: documentation, peer-review-done, sme-review-done

#749 Docs: Add User Operator docs
  documentation/book/assembly-getting-started-user-operator.adoc
  documentation/book/assembly-user-operator.adoc
  documentation/book/assembly-using-the-user-operator.adoc
  documentation/book/con-what-the-user-operator-does.adoc
  documentation/book/getting-started.adoc
  documentation/book/master.adoc
  documentation/book/proc-changing-kafka-user.adoc
  documentation/book/proc-creating-kafka-user.adoc
  documentation/book/proc-deleting-kafka-user.adoc
  documentation/book/proc-deploying-the-topic-operator-standalone.adoc
  documentation/book/proc-deploying-the-user-operator-standalone.adoc
  documentation/book/proc-deploying-the-user-operator-using-the-cluster-operator.adoc
  documentation/book/ref-kafka-user.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done

#757 ST: Fixed recovery and helm ST tests
  api/src/test/java/io/strimzi/test/StrimziRunner.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
Labels: System tests

#761 Docs: Fix hello world
  documentation/book/assembly-hello-world.adoc
  documentation/book/getting-started.adoc
  documentation/book/proc-deploying-example-clients.adoc
Labels: documentation, peer-review-done, sme-review-done

#768 Added supported version info in the tabular format
  documentation/book/assembly-overview.adoc
  documentation/book/getting-started.adoc
Labels: documentation, peer-review-needed, sme-review-done

#776 Docs: Fix topology key alignment
  documentation/book/proc-scheduling-based-on-other-pods.adoc
Labels: documentation

#777 Use 'standalone' consistently in docs - issue #772
  documentation/book/proc-creating-a-topic.adoc
  documentation/book/proc-deploying-the-topic-operator-standalone.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#782 Docs: Architecture changes
  documentation/book/assembly-kafka-connect.adoc
  documentation/book/assembly-overview.adoc
  documentation/book/getting-started.adoc
Labels: documentation, peer-review-done

#787 Docs: Added User Operator as the main component in the Overview section
  documentation/book/assembly-overview.adoc
Labels: documentation, peer-review-done, sme-review-done

#785 Docs: Renamed reference topic title
  documentation/book/ref-configuring-container-images.adoc
Labels: documentation, peer-review-done

#789 Docs: Update titles
  documentation/book/con-how-the-topic-operator-works.adoc
  documentation/book/con-what-the-cluster-operator-does.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/con-what-the-user-operator-does.adoc
Labels: documentation

#790 Docs: Fix modularization of Storage
  documentation/book/assembly-storage.adoc
  documentation/book/ref-storage-ephemeral.adoc
  documentation/book/ref-storage-persistent.adoc
  documentation/book/ref-storage.adoc
Labels: documentation

#780 Docs: Updated section "6.3. Editing a Kafka user" - QE comment #770
  documentation/book/proc-changing-kafka-user.adoc
Labels: documentation, peer-review-done, sme-review-done

#792 Modified 3.1.2. Replicas section.
  documentation/book/assembly-kafka-broker-replicas.adoc
  documentation/book/proc-configuring-kafka-broker-replicas.adoc
  documentation/book/ref-kafka-broker-replicas.adoc
Labels: documentation, peer-review-done, sme-review-done

#797 Architecture: Changed JVM options' to labels
  documentation/book/ref-jvm-options.adoc
Labels: documentation, peer-review-done

#798 Architecture: Modified 3.1.2. Replicas section
  documentation/book/assembly-kafka-connect-replicas.adoc
  documentation/book/proc-configuring-kafka-connect-replicas.adoc
  documentation/book/ref-kafka-connect-replicas.adoc
Labels: documentation, peer-review-done

#799 Architecture-Modified 3.2.2. Bootstrap servers section
  documentation/book/assembly-bootstrap-servers.adoc
  documentation/book/ref-bootstrap-servers.adoc
Labels: documentation, peer-review-done

#784 Docs: Fix modules in Rack Awareness
  documentation/book/assembly-kafka-rack.adoc
  documentation/book/proc-configuring-init-container-image.adoc
  documentation/book/proc-configuring-kafka-rack-awareness.adoc
Labels: documentation, sme-review-done

#805 Fixed QE comments
  documentation/book/proc-configuring-kafka-listeners.adoc
  documentation/book/proc-configuring-resource-limits-and-requests.adoc
  documentation/book/proc-dedicated-nodes.adoc
  documentation/book/proc-kafka-external-logging.adoc
  documentation/book/proc-kafka-inline-logging.adoc
Labels: documentation, peer-review-done

#808 Docs: Add User Operator and Kafka Connect S2I to the list of loggers
  documentation/book/ref-kafka-logging.adoc
Labels: documentation, peer-review-done

#803 Use dynamic names for bindings created for TO and UO so that they do not conflict across clusters
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/TopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  documentation/book/ref-list-of-kafka-cluster-resources.adoc
Labels: peer-review-done

#815 Fixed references to the defaults picked for container images
  documentation/book/ref-configuring-container-images.adoc
Labels: documentation, peer-review-done
