Repository strimzi/strimzi-kafka-operator, pull requests merged in 2018-07, with the labels that each got.

#522 ST: Whitelist for log errors
  common-test/src/main/java/io/strimzi/test/k8s/BaseKubeClient.java
  common-test/src/main/java/io/strimzi/test/k8s/KubeClient.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractClusterIT.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaClusterIT.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryClusterIT.java
  systemtest/src/test/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/test/java/io/strimzi/systemtest/matchers/Matchers.java
Labels: needs review

#596 ST: The fix for system tests about the checking of updated values for Kafka cluster
  systemtest/src/test/java/io/strimzi/systemtest/KafkaClusterIT.java
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaClusterIT.testCustomAndUpdatedValues.yaml
  systemtest/src/test/resources/io/strimzi/systemtest/KafkaClusterIT.testForTopicOperator.yaml
Labels: System tests

#598 Add Documentation Contribution Guide
  documentation/common/revision-info.adoc
  documentation/contributing/README.md
  documentation/contributing/common
  documentation/contributing/contributor-guide.adoc
  documentation/contributing/files.adoc
  documentation/contributing/formatting-guide.adoc
  documentation/contributing/git-setup-guide.adoc
  documentation/contributing/git-tips.adoc
  documentation/contributing/images
  documentation/contributing/introduction.adoc
  documentation/contributing/master.adoc
  documentation/contributing/screenshots.adoc
  documentation/contributing/styleguide.adoc
  documentation/contributing/templates.adoc
  documentation/contributing/templates/template-assembly.adoc
  documentation/contributing/templates/template-concept.adoc
  documentation/contributing/templates/template-procedure-brief.adoc
  documentation/contributing/templates/template-procedure.adoc
  documentation/contributing/templates/template-reference.adoc
  documentation/contributing/templates/templates.zip
Labels: documentation

#601 docs for cluster role
  documentation/book/cluster-operator.adoc
  documentation/book/getting-started.adoc
Labels: documentation, peer-review-needed

#604 fix for missing logging docs
  documentation/book/cluster-operator.adoc
  documentation/book/getting-started.adoc
Labels: documentation, peer-review-done

#611 Docs: Minor improvements to TLS / SSL implementation in CO
  documentation/book/security.adoc
Labels: documentation, peer-review-done

#618 Fail the Travis build if docs don't build cleanly
  .travis/build.sh
  Makefile
Labels: documentation

#573 Zookeeper TLS documentation
  documentation/book/cluster-operator.adoc
  documentation/book/security.adoc
  documentation/book/topic-operator.adoc
  documentation/images/secure_communication.png
Labels: documentation, peer-review-done

#639 Docs: Modularization of Introduction & Download Instructions
  documentation/book/assembly-deploying-cluster-operator.adoc
  documentation/book/assembly-overview.adoc
  documentation/book/con-product-downloads.adoc
  documentation/book/getting-started.adoc
  documentation/book/master.adoc
  documentation/book/proc-deploying-cluster-operator-kubernetes.adoc
  documentation/book/proc-deploying-cluster-operator-openshift.adoc
  documentation/book/ref-document-conventions.adoc
  documentation/book/ref-key-features.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#647 New behaviour for the annotation @JUnitGroup
  api/src/test/java/io/strimzi/test/JUnitGroup.java
  api/src/test/java/io/strimzi/test/StrimziRunner.java
Labels: System tests

#644 Docs: Update Getting Started
  documentation/book/getting-started.adoc
Labels: documentation, peer-review-done

#657 Docs: Change replaceable style to be italics
  documentation/book/proc-deploying-cluster-operator-kubernetes.adoc
  documentation/book/proc-deploying-cluster-operator-openshift.adoc
  documentation/book/ref-document-conventions.adoc
  documentation/contributing/styleguide.adoc
Labels: documentation

#667 Docs: Update context on assemblies
  documentation/book/assembly-cluster-operator.adoc
  documentation/book/assembly-kafka-cluster.adoc
  documentation/book/assembly-overview.adoc
Labels: documentation
