Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-04, with the labels that each got.

#1489 [DOC] Minor text changes from doc review
  documentation/book/assembly-healthchecks.adoc
  documentation/book/assembly-kafka-connect-authentication.adoc
  documentation/book/assembly-kafka-mirror-maker-authentication.adoc
  documentation/book/assembly-logging.adoc
  documentation/book/assembly-overview.adoc
  documentation/book/assembly-resource-limits-and-requests.adoc
  documentation/book/assembly-storage.adoc
  documentation/book/assembly-using-kafka-connect-with-plugins.adoc
  documentation/book/assembly-zookeeper-node-configuration.adoc
  documentation/book/assembly-zookeeper-replicas.adoc
  documentation/book/con-mutual-tls-authentication.adoc
  documentation/book/con-scram-sha-authentication.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/getting-started.adoc
  documentation/book/proc-configuring-kafka-broker-replicas.adoc
  documentation/book/proc-configuring-kafka-rack-awareness.adoc
  documentation/book/proc-deploying-kafka-cluster-kubernetes.adoc
  documentation/book/proc-kafka-external-logging.adoc
  documentation/book/proc-kafka-inline-logging.adoc
  documentation/book/ref-kafka-authentication.adoc
  documentation/book/ref-kafka-entity-operator.adoc
  documentation/book/ref-kafka-rack.adoc
  documentation/book/ref-key-features.adoc
  documentation/book/ref-metrics.adoc
  documentation/book/ref-operators-cluster-operator-configuration.adoc
  documentation/book/ref-resource-limits-and-requests.adoc
  documentation/book/ref-topic-operator-environment.adoc
  documentation/book/ref-zookeeper-node-configuration.adoc
Labels: documentation, peer-review-done, sme-review-done

#1488 [DOC] Listing container images
  Makefile
  documentation/book/con-container-images.adoc
  documentation/book/getting-started.adoc
  documentation/book/snip-images.adoc
  documentation/common/attributes.adoc
  documentation/snip-images.sh
Labels: documentation, peer-review-needed, sme-review-needed

#1466 Improve the readiness check for Kafka broker containers
  .gitignore
  Makefile
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  docker-images/kafka/Dockerfile
  docker-images/kafka/Makefile
  docker-images/kafka/scripts/kafka_liveness.sh
  docker-images/kafka/scripts/kafka_run.sh
  kafka-agent/Makefile
  kafka-agent/pom.xml
  kafka-agent/src/main/java/io/strimzi/kafka/agent/KafkaAgent.java
  pom.xml
Labels: cluster operator, docker images, kafka broker

#1509 ST: Specify namespace for each resource deletion
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests

#1516 [DOC] Standalone procedures references wrong operators
  documentation/book/proc-deploying-the-topic-operator-standalone.adoc
  documentation/book/proc-deploying-the-user-operator-standalone.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1492 ST: check the handling of the topic without labels
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1517 [DOC] User feedback: Clarify which file is applied in procedures, plus style edits.
  documentation/book/assembly-kafka-broker-configuration.adoc
  documentation/book/proc-configuring-kafka-brokers.adoc
  documentation/book/proc-configuring-zookeeper-nodes.adoc
  documentation/book/proc-configuring-zookeeper-replicas.adoc
  documentation/book/proc-kafka-authentication.adoc
  documentation/book/ref-kafka-broker-configuration.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1527 Added singlestat view for rates metrics
  metrics/examples/grafana/strimzi-kafka.json
Labels: monitoring

#1499 ST: Use vertx kafka client as a availability verifier
  crd-generator/pom.xml
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/clients/ClientHandlerBase.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/KafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/Producer.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/AvailabilityVerifier.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  test/src/main/java/io/strimzi/test/BaseITST.java
Labels: System tests

#1532 ST: update test execution based on the specified tags
  HACKING.md
  Jenkinsfile-pr
  test/src/main/java/io/strimzi/test/extensions/StrimziExtension.java
Labels: System tests

#1535 ST: allow some security STs
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests

#1560 ST: remove forgoten log in connectST
  .travis.yml
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
Labels: System tests

#1552 Docs: Add Ingress documentation
  documentation/book/assembly-configuring-kafka-listeners.adoc
  documentation/book/con-kafka-listeners.adoc
  documentation/book/proc-accessing-kafka-using-ingress.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1565 ST: change pull policy for kafka client
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
Labels: System tests

#1568 Fix the typo in the procedure about accssing Kafka using node ports
  documentation/book/proc-accessing-kafka-using-nodeports.adoc
Labels: bug, documentation, peer-review-needed, sme-review-done

#1562 [DOC] Editorial review comments
  documentation/book/assembly-deployment-configuration-kafka-connect-s2i.adoc
  documentation/book/assembly-deployment-configuration-kafka-connect.adoc
  documentation/book/assembly-deployment-configuration-kafka-mirror-maker.adoc
  documentation/book/assembly-deployment-configuration-kafka.adoc
  documentation/book/assembly-kafka-connect-authentication.adoc
  documentation/book/assembly-kafka-connect-bootstrap-servers.adoc
  documentation/book/assembly-kafka-connect-replicas.adoc
  documentation/book/assembly-kafka-connect-tls.adoc
  documentation/book/con-kafka-connect-authentication.adoc
  documentation/book/con-kafka-mirror-maker-authentication.adoc
  documentation/book/con-what-the-cluster-operator-does.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/proc-configuring-kafka-connect-authentication-scram-sha-512.adoc
  documentation/book/proc-configuring-kafka-connect-authentication-tls.adoc
  documentation/book/proc-configuring-kafka-connect-replicas.adoc
  documentation/book/proc-configuring-kafka-connect-tls.adoc
  documentation/book/proc-configuring-kafka-mirror-maker-authentication-scram-sha-512.adoc
  documentation/book/proc-configuring-kafka-mirror-maker-authentication-tls.adoc
  documentation/book/proc-configuring-kafka-mirror-maker-tls.adoc
  documentation/book/ref-kafka-connect-tls.adoc
Labels: documentation, peer-review-done, sme-review-done

#1551 Docs: Add docs for adding / removing volumes to/from JBOD storage
  documentation/book/assembly-storage.adoc
  documentation/book/con-partition-reassignment.adoc
  documentation/book/proc-adding-volumes-to-jbod-storage.adoc
  documentation/book/proc-removing-volumes-from-jbod-storage.adoc
  documentation/book/ref-storage-ephemeral.adoc
  documentation/book/ref-storage-jbod.adoc
  documentation/book/ref-storage-persistent.adoc
Labels: documentation, peer-review-done, sme-review-done

#1564 ST: log setting fix
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
Labels: System tests

#1563 ST: fix for securityST
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/lib/KafkaClientProperties.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests

#1543 [DOC] uninstall-process
  documentation/book/master.adoc
  documentation/book/proc-uninstalling.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1555 [DOC] Reorder the attributes file for easier comparisons
  documentation/common/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-done

#1567 Add mention of OperatorHub.io to our docs
  documentation/book/assembly-cluster-operator.adoc
  documentation/book/assembly-operators-cluster-operator.adoc
  documentation/book/con-deploying-cluster-operator-from-operator-hub.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-done

#1580 ST: fix testCustomAndUpdatedValues ST
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1574 ST: use test watcher for collect logs from pods
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestExecutionWatcher.java
Labels: System tests

#1585 ST: allow underscore in image tag
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: System tests

#1457 Use CoreOS Prometheus operator
  documentation/book/appendix_metrics.adoc
  metrics/Makefile
  metrics/examples/prometheus/additional-properties/prometheus-additional.yaml
  metrics/examples/prometheus/alerting-rules.yaml
  metrics/examples/prometheus/alertmanager-config/alertmanager.yaml
  metrics/examples/prometheus/alertmanager.yaml
  metrics/examples/prometheus/install/alert-manager.yaml
  metrics/examples/prometheus/install/prometheus-rules.yaml
  metrics/examples/prometheus/install/prometheus.yaml
  metrics/examples/prometheus/install/strimzi-service-monitor.yaml
  metrics/examples/prometheus/prometheus.yaml
Labels: documentation, peer-review-needed

#1592 ST: Security st fix
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests

#1588 Add docs for SASL PLAIn support in Mirror Maker
  documentation/book/con-kafka-connect-authentication.adoc
  documentation/book/con-kafka-mirror-maker-authentication.adoc
Labels: documentation, peer-review-done, sme-review-done

#1581 Add docs for the image pull secrets CO option
  documentation/book/con-customizing-pods.adoc
  documentation/book/ref-operators-cluster-operator-configuration.adoc
Labels: documentation, peer-review-needed, sme-review-done
