Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-12, with the labels that each got.

#2261 Fix lock management issue with early lock release - Closes #2260
  operator-common/src/main/java/io/strimzi/operator/common/AbstractOperator.java
Labels: bug

#2271 [MO] - [fix] -> problem with propagation namespace
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
Labels: System tests, needs review

#2242 ST: system test resources refactor
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/AbstractResources.java
  systemtest/src/main/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/BridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestExecutionWatcher.java
  systemtest/src/main/java/resources/KubernetesResource.java
  systemtest/src/main/java/resources/ResourceManager.java
  systemtest/src/main/java/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/resources/crd/KafkaResource.java
  systemtest/src/main/java/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/resources/crd/KafkaUserResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#2270 Remove hardcoded timeouts
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaRoller.java
Labels: ready for merge

#2283 Fix location of refactored resources
  systemtest/src/main/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/BridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2256 ST: add test for bridge loggers + check custom loggers
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: System tests, ready for merge

#2284 [MO] - [refactor] -> utils
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/FileUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ReplicaSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/NamespaceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2002 Added quotas for Kafka User
  api/src/main/java/io/strimzi/api/kafka/model/KafkaUserQuotas.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaUserSpec.java
  documentation/api/io.strimzi.api.kafka.model.KafkaUserQuotas.adoc
  documentation/modules/appendix_crds.adoc
  helm-charts/strimzi-kafka-operator/templates/044-Crd-kafkauser.yaml
  install/cluster-operator/044-Crd-kafkauser.yaml
  install/user-operator/04-Crd-kafkauser.yaml
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  user-operator/pom.xml
  user-operator/src/main/java/io/strimzi/operator/user/Main.java
  user-operator/src/main/java/io/strimzi/operator/user/model/KafkaUserModel.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/KafkaUserOperator.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/KafkaUserQuotasOperator.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/ScramShaCredentials.java
  user-operator/src/test/java/io/strimzi/operator/user/ResourceUtils.java
  user-operator/src/test/java/io/strimzi/operator/user/model/KafkaUserModelTest.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserOperatorTest.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserQuotasIT.java
Labels: documentation, peer-review-done

#2287 ST: Add clients with consume/produce to upgrade tests
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
Labels: System tests, ready for merge

#2275 [MO] - [fix] -> adding control of available connect service
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
Labels: System tests, ready for merge

#2305 Add latest changes from refactor to TESTING.md
  TESTING.md
Labels: System tests, documentation, ready for merge

#2274 Improve PR build pipeline and add rerun command to github comment
  Jenkinsfile-pr
  jenkins.groovy
  systemtest/scripts/results_info.sh
Labels: System tests, ready for merge

#2304 ST: add upgrade chain test
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
Labels: System tests, ready for merge

#2308 [MO] - [doc] -> update doc
  TESTING.md
Labels: System tests, documentation, ready for merge

#2293 Fix resource deletion between test classes
  systemtest/src/main/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  test/src/main/java/io/strimzi/test/executor/Exec.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: System tests, ready for merge

#2320 ST: Better kafka rolling
  systemtest/src/main/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, needs review

#2324 Null labels check in Connector Operator
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/AbstractConnectOperator.java
Labels: ready for merge

#2329 [DOC] updated graphics for the overview
  documentation/shared/images/overview/kafka-concepts-key-concepts.png
  documentation/shared/images/overview/kafka-concepts-partitions.png
  documentation/shared/images/overview/kafka-concepts-producer-consumer.png
  documentation/shared/images/overview/kafka-concepts-supporting-components.png
Labels: documentation, peer-review-done, sme-review-needed

#2335 ST: Apply some fixes for some negative test cases
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/api/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
Labels: System tests, ready for merge
