Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-02, with the labels that each got.

#1278 Make sure that EO and TO deployments are deleted when needed
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/resources/cluster-roles/020-ClusterRole-strimzi-cluster-operator-role.yaml
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  helm-charts/strimzi-kafka-operator/templates/020-ClusterRole-strimzi-cluster-operator-role.yaml
  install/cluster-operator/020-ClusterRole-strimzi-cluster-operator-role.yaml
Labels: bug

#1289 Fix handling of metrics when the metrics field is not specified
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnectSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMakerSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/ZookeeperClusterSpec.java
Labels: bug

#1285 ST: Change tags for few tests
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
Labels: System tests

#1279 Add documentation for all namespaces support
  documentation/book/assembly-cluster-operator.adoc
  documentation/book/assembly-operators-cluster-operator.adoc
  documentation/book/proc-deploying-cluster-operator-kubernetes-to-watch-whole-cluster.adoc
Labels: documentation, peer-review-done, sme-review-done

#1309 Set metrics appendix up in the index
  documentation/book/master.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1310 [Docs] Step numbers missing
  documentation/book/proc-downgrading-brokers-older-kafka.adoc
  documentation/book/proc-upgrading-brokers-newer-kafka.adoc
  documentation/book/snip-kafka-versions.adoc
  documentation/snip-kafka-versions.sh
Labels: documentation, peer-review-needed, sme-review-needed

#1315 Docs: Try to improve the docs about custom CAs
  documentation/book/proc-installing-your-own-ca-certificates.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1314 Add docs for the ImagePullPolicy configuration
  documentation/book/assembly-customizing-deployments.adoc
  documentation/book/con-customizing-image-pull-policy.adoc
  documentation/book/ref-operators-cluster-operator-configuration.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1316 [Docs] update contribution guide
  documentation/contributing/contributor-guide.adoc
  documentation/contributing/formatting-guide.adoc
  documentation/contributing/git-setup-guide.adoc
  documentation/contributing/git-tips.adoc
  documentation/contributing/make-tooling.adoc
  documentation/contributing/master.adoc
  documentation/contributing/screenshots.adoc
  documentation/contributing/styleguide.adoc
Labels: documentation, peer-review-done

#1319 Fix skipping of certificate-manager tests on non-Linux platforms
  certificate-manager/pom.xml
  certificate-manager/src/test/java/io/strimzi/certs/OpenSslCertManagerTest.java
  certificate-manager/src/test/java/io/strimzi/certs/SecretCertProviderTest.java
Labels: bug

#1321 Revert changes to the storage subdirectories which were removed - Clo…
  docker-images/kafka/scripts/kafka_config_generator.sh
  docker-images/kafka/scripts/kafka_run.sh
Labels: bug

#1312 Prometheus alerts doc
  CHANGELOG.md
  documentation/book/appendix_metrics.adoc
Labels: documentation, peer-review-done, sme-review-done

#1248 ST: StrimziExtension and AbstractST refactor
  Jenkinsfile-pr
  api/src/test/java/io/strimzi/api/kafka/model/AbstractCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaConnectCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaMirrorMakerCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaTopicCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaUserCrdIT.java
  jenkins.groovy
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/interfaces/ExtensionContextParameterResolver.java
  systemtest/src/main/java/io/strimzi/systemtest/interfaces/TestSeparator.java
  systemtest/src/main/java/io/strimzi/systemtest/k8s/Events.java
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/CmMatcher.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/HasAllOfReasons.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/HasAnyOfReasons.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/HasNoneOfReasons.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/Matchers.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/AvailabilityVerifier.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/resources/log4j2.properties
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
  systemtest/src/test/resources/helm/helm-service-account.yaml
  test/pom.xml
  test/src/main/java/io/strimzi/test/BaseITST.java
  test/src/main/java/io/strimzi/test/annotations/ClusterOperator.java
  test/src/main/java/io/strimzi/test/annotations/EnvVariables.java
  test/src/main/java/io/strimzi/test/annotations/Namespace.java
  test/src/main/java/io/strimzi/test/annotations/Resources.java
  test/src/main/java/io/strimzi/test/extensions/Statement.java
  test/src/main/java/io/strimzi/test/extensions/StrimziExtension.java
  test/src/main/java/io/strimzi/test/timemeasuring/Operation.java
  test/src/main/java/io/strimzi/test/timemeasuring/TimeMeasuringSystem.java
  test/src/test/java/io/strimzi/test/StrimziExtensionTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorIT.java
Labels: System tests, needs big review

#1280 JBOD support documentation
  documentation/book/assembly-storage.adoc
  documentation/book/ref-list-of-kafka-cluster-resources.adoc
  documentation/book/ref-storage-jbod.adoc
  documentation/book/ref-storage-persistent.adoc
Labels: documentation, peer-review-done, sme-review-done

#1344 Provided clients CA cert namespace to the UO
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityUserOperatorTest.java
Labels: bug, cluster operator

#1345 Fixed Strimzi backup command
  documentation/book/proc-upgrading-the-cluster-operator.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1342 Add explanation about NodePort hostname verification to FAQ
  documentation/book/faq.adoc
Labels: documentation, peer-review-done, sme-review-done

#1351 Fix bug in CO configuration class
  cluster-operator/src/main/java/io/strimzi/operator/cluster/ClusterOperatorConfig.java
Labels: bug

#1350 ST: Remove applied crds after upgrate test
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
Labels: System tests

#1349 ST: Enable zookeeper scaleup test
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1254 grafana dashboard improvement
  documentation/book/appendix_metrics.adoc
  metrics/examples/grafana/strimzi-kafka.json
  metrics/examples/grafana/strimzi-zookeeper.json
  metrics/examples/prometheus/alerting-rules.yaml
  metrics/examples/prometheus/alertmanager.yaml
  metrics/examples/prometheus/prometheus.yaml
Labels: documentation, peer-review-done

#1352 Add documentation for the new configuration options for Kafka external listeners
  documentation/book/con-kafka-listeners.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1353 Add chapter about upgrade from 0.10.0 to 0.11.0
  documentation/book/assembly-upgrade.adoc
  documentation/book/proc-upgrading-brokers-newer-kafka.adoc
  documentation/book/proc-upgrading-the-cluster-operator-0-10-0-to-0-11-0.adoc
  documentation/book/proc-upgrading-the-cluster-operator-0-9-0-to-0-10-0.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1215 ST for rolling update
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  test/src/main/java/io/strimzi/test/k8s/BaseKubeClient.java
  test/src/main/java/io/strimzi/test/timemeasuring/Operation.java
Labels: System tests

#1366 ST: Fix for flaky and changes in acceptance suite
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, needs review

#1368 Added app=strimzi label to monitoring resources
  metrics/examples/grafana/grafana.yaml
  metrics/examples/prometheus/alerting-rules.yaml
  metrics/examples/prometheus/alertmanager.yaml
  metrics/examples/prometheus/prometheus.yaml
Labels: monitoring

#1374 Added probes to the Grafana deployment
  metrics/examples/grafana/grafana.yaml
Labels: monitoring

#1386 Fix NPE when only bootstrap overrides are specified for an external listener
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
Labels: bug

#1384 [DOC] Update the listener example to include external listeners
  documentation/book/con-kafka-listeners.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1388 [DOC] Repeated information in the Kafka Broker Listeners section
  documentation/book/con-mutual-tls-authentication.adoc
Labels: documentation, peer-review-done, sme-review-done

#1300 ST: Correct deletion of EO
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1391 Fix RBAC for User Operator running in diferent namespace
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
Labels: bug
