Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-10, with the labels that each got.

#2038 Fixed doc when bridge POST operation is done with empty body
  documentation/book/con-requests-kafka-bridge.adoc
Labels: documentation, peer-review-done, sme-review-done

#1945 [DOC] New quick start guide
  documentation/assemblies/assembly-overview.adoc
  documentation/assemblies/assembly-quickstart.adoc
  documentation/book/assemblies
  documentation/book/master.adoc
  documentation/book/modules
  documentation/books/evaluating/.gitignore
  documentation/books/evaluating/assemblies
  documentation/books/evaluating/common
  documentation/books/evaluating/images
  documentation/books/evaluating/master-docinfo.xml
  documentation/books/evaluating/master.adoc
  documentation/books/evaluating/modules
  documentation/common/attributes.adoc
  documentation/modules/proc-creating-kafka-cluster.adoc
  documentation/modules/proc-downloading-product.adoc
  documentation/modules/proc-enabling-tls.adoc
  documentation/modules/proc-installing-product.adoc
  documentation/modules/proc-sending-messages.adoc
  documentation/modules/ref-document-conventions.adoc
  documentation/modules/ref-install-prerequisites.adoc
  documentation/modules/ref-key-features.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2042 [DOC] Fix typo in Certificates and Secrets
  documentation/book/ref-certificates-and-secrets.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#2026 ST: improve teardown
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestExecutionWatcher.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#2032 ST: new test with deployment of unsuported kafka version
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#2041 [DOC] Kafka Exporter - minor edits from editorial review
  documentation/book/assembly-kafka-exporter.adoc
  documentation/book/kafka-exporter/con-kafka-exporter-alerts.adoc
  documentation/book/kafka-exporter/con-kafka-exporter-lag.adoc
  documentation/book/kafka-exporter/proc-kafka-exporter-enabling-grafana.adoc
  documentation/book/kafka-exporter/ref-kafka-exporter-metrics.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2045 It should be possible to scale connect/s2i cluster to zero pods
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnectSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
Labels: ready for merge

#2031 ST: Few system tests for Kafka exporter
  systemtest/src/main/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/api/VerifiableClient.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#2055 Fix storage validation after the initial deployment
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
Labels: bug

#2023 ST: tests for env vars in containers
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
Labels: System tests, ready for merge

#2013 [DOC] Instructions for oauth 2.0 token based authentication
  documentation/book/assembly-access-configuration-kafka-mirror-maker.adoc
  documentation/book/assembly-configuring-kafka-listeners.adoc
  documentation/book/assembly-deployment-configuration.adoc
  documentation/book/assembly-oauth.adoc
  documentation/book/con-kafka-bridge-authentication.adoc
  documentation/book/con-kafka-connect-authentication.adoc
  documentation/book/oauth/con-oauth-authentication-client-options.adoc
  documentation/book/oauth/con-oauth-authentication-flow.adoc
  documentation/book/oauth/con-oauth-config.adoc
  documentation/book/oauth/proc-oauth-broker-config.adoc
  documentation/book/oauth/proc-oauth-client-config.adoc
  documentation/book/oauth/proc-oauth-kafka-config.adoc
  documentation/book/oauth/proc-oauth-server-config.adoc
  documentation/book/ref-kafka-authentication.adoc
  documentation/book/ref-kafka-user.adoc
  documentation/common/attributes.adoc
  documentation/images/oauth-introspection-endpoint-long-token.png
  documentation/images/oauth-introspection-endpoint.png
  documentation/images/oauth-jwt-signature-token.png
  documentation/images/oauth-jwt-signature.png
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2058 [Doc] Clarify what is needed to use custom Kafka Connect image
  documentation/book/proc-creating-new-image-from-base.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#2022 [DOC] Distributed tracing documentation
  documentation/book/assembly-distributed-tracing.adoc
  documentation/book/assembly-instrumenting-kafka-clients-tracers.adoc
  documentation/book/assembly-setting-up-tracing-kafka-clients.adoc
  documentation/book/assembly-setting-up-tracing-mirror-maker-connect.adoc
  documentation/book/con-overview-distributed-tracing.adoc
  documentation/book/master.adoc
  documentation/book/proc-configuring-jaeger-tracer-kafka-clients.adoc
  documentation/book/proc-enabling-tracing-in-connect-mirror-maker-resources.adoc
  documentation/book/proc-instrumenting-kafka-streams-with-tracers.adoc
  documentation/book/proc-instrumenting-producers-consumers-opentracing.adoc
  documentation/book/ref-tracing-environment-variables.adoc
  documentation/common/attributes.adoc
  documentation/images/image_con-overview-distributed-tracing.png
Labels: documentation, peer-review-needed, sme-review-done

#2066 [MO] -> [system test] -> fix EO deletion
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#2068 ST: fix some flaky tests and get component names in tests properly
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, ready for merge

#2076 [DOC] Minor updates to the OAuth doc
  documentation/book/assembly-oauth.adoc
  documentation/book/oauth/con-oauth-authentication-client-options.adoc
  documentation/book/oauth/proc-oauth-broker-config.adoc
  documentation/book/oauth/proc-oauth-client-config.adoc
  documentation/book/oauth/proc-oauth-kafka-config.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2030 [MO] - [test suite] - oauth 2.0
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/HttpBridgeBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/BridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/HttpUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/resources/oauth2/create_realm.sh
  test/src/main/java/io/strimzi/test/executor/Exec.java
Labels: System tests, needs review

#2081 ST: Add upgrade test from 0.13.0 to 0.14.0
  systemtest/src/main/resources/StrimziUpgradeST.json
Labels: System tests, ready for merge

#2080 ST: do cluster operator setup correctly
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  test/src/main/java/io/strimzi/test/BaseITST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#2088 Fix URL in bridge status
  api/src/main/java/io/strimzi/api/kafka/model/KafkaBridgeResources.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaBridgeAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaBridgeAssemblyOperatorTest.java
Labels: bug

#2060 OAuth validation
  api/src/main/java/io/strimzi/api/kafka/model/listener/KafkaListenerAuthenticationOAuth.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
Labels: ready for merge

#2092 ST: correct reconciliation error message in matcher whitelist
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestExecutionWatcher.java
Labels: System tests, ready for merge

#2093 [DOC] Minor doc updates from review
  documentation/book/assembly-deployment-configuration.adoc
  documentation/book/assembly-upgrade-resources.adoc
  documentation/book/con-custom-resources-status.adoc
  documentation/book/con-kafka-broker-external-listeners-ingress.adoc
  documentation/book/con-kafka-broker-external-listeners-loadbalancers.adoc
  documentation/book/con-kafka-broker-external-listeners-nodeports.adoc
  documentation/book/proc-enabling-tracing-in-connect-mirror-maker-resources.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2097 Fix log.message.format.version in our metrics example
  metrics/examples/kafka/kafka-metrics.yaml
Labels: bug

#2098 [MO] - [system test] -> tc for connect-s2i tracing
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2085 [MO] - [system test] -> tls hostname verification KC, MM
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
Labels: System tests, ready for merge

#2116 Update version for junit platform and fix integraiton tests
  api/src/test/java/io/strimzi/api/kafka/model/AbstractCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaBridgeCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaConnectCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaMirrorMakerCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaTopicCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaUserCrdIT.java
  api/src/test/resources/io/strimzi/api/kafka/model/Kafka.out.yaml
  api/src/test/resources/log4j2.properties
  pom.xml
Labels: ready for merge

#2121 Fix handling of the Kafka Exporter service template
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaExporter.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaExporterTest.java
Labels: bug

#2049 Added resources requirements for the Connect S2I build
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnectS2ISpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectS2ICluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/ResourceUtils.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
  documentation/modules/appendix_crds.adoc
  helm-charts/strimzi-kafka-operator/templates/042-Crd-kafkaconnects2i.yaml
  install/cluster-operator/042-Crd-kafkaconnects2i.yaml
Labels: ready for merge

#2117 User and Topic Kubernetes domain labels
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  operator-common/src/main/java/io/strimzi/operator/common/model/Labels.java
  operator-common/src/test/java/io/strimzi/operator/common/model/LabelsTest.java
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicOperator.java
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicSerialization.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorBaseIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorMockTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicSerializationTest.java
  user-operator/src/main/java/io/strimzi/operator/user/model/KafkaUserModel.java
  user-operator/src/test/java/io/strimzi/operator/user/ResourceUtils.java
  user-operator/src/test/java/io/strimzi/operator/user/model/KafkaUserModelTest.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserOperatorTest.java
Labels: ready for merge

#2126 ST: delete topic false
  api/src/test/java/io/strimzi/api/kafka/model/KafkaCrdIT.java
  systemtest/src/main/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/api/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
Labels: System tests, ready for merge

#2131 ST: Change reconciliation interval for s2i tests to avoid build deletion …
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, ready for merge

#2123 Added Kafka Bridge tracing documentation
  documentation/assemblies/assembly-distributed-tracing.adoc
  documentation/assemblies/assembly-setting-up-tracing-mirror-maker-connect-bridge.adoc
  documentation/assemblies/assembly-setting-up-tracing-mirror-maker-connect.adoc
  documentation/modules/con-overview-distributed-tracing.adoc
  documentation/modules/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
Labels: documentation, peer-review-done, sme-review-done

#2084 ST: Kafka exporter and Kafka with Network Policies
  systemtest/src/main/java/io/strimzi/systemtest/utils/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge
