Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-11, with the labels that each got.

#2144 The username in the KafkaUser status needs to be a real username and not a name of the resource
  user-operator/src/main/java/io/strimzi/operator/user/model/KafkaUserModel.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/KafkaUserOperator.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserOperatorTest.java
Labels: bug

#2164 Fixed TLS prepare crts script
  docker-images/kafka/scripts/kafka_tls_prepare_certificates.sh
Labels: bug

#2173 [DOC] New operators graphic with entity operator
  documentation/shared/images/operators.png
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2172 Add missing junit engine dep to CRD generator
  crd-generator/pom.xml
Labels: ready for merge

#2177 Add correct tag to one connect test
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
Labels: System tests, ready for merge

#2181 [MO] - [system test] - fixes of STs
  systemtest/src/main/java/io/strimzi/systemtest/AbstractResources.java
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, needs review

#2175 [MO] - [system test] - disabling ST test case
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2198 Fix ST execution for release-0.14.x branch
  test/src/main/java/io/strimzi/test/k8s/OpenShift.java
Labels: System tests

#2191 Fixed PKCS12 name and password in system tests
  systemtest/src/main/java/io/strimzi/systemtest/clients/lib/KafkaClientProperties.java
Labels: ready for merge

#2190 [MO] - [system test] -> fixing race condition
  systemtest/src/main/java/io/strimzi/systemtest/HttpBridgeBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2210 [MO] - [system test] - acls
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/lib/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/lib/KafkaClientProperties.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, ready for merge

#2213 [MO] - [system test] -> change tracing deployment
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/resources/tracing/jaeger-operator/jaegertracing.io_jaegers_crd.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/operator.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/role.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/role_binding.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/service_account.yaml
Labels: System tests, ready for merge

#2236 ST: fix several system tests after some merged changes
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
Labels: System tests, ready for merge

#2226 [MO] - [system test] - strimzi operator with bridge tracing
  systemtest/src/main/java/io/strimzi/systemtest/HttpBridgeBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/BridgeUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2234 Add some documentaiton about tests
  HACKING.md
  TESTING.md
  systemtest/pom.xml
Labels: System tests, documentation, ready for merge

#2248 Systemtest colorized console output
  systemtest/src/main/resources/log4j2.properties
  systemtest/src/test/resources/log4j2.properties
Labels: System tests, ready for merge

#2215 [DOC] Section to describe how to use a configmap for logging
  documentation/assemblies/assembly-deployment-configuration.adoc
  documentation/assemblies/assembly-external-logging.adoc
  documentation/modules/proc-creating-configmap.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2243 Eliminate spotbugs errors
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/lib/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
Labels: ready for merge

#2250 ST: Create test case which tests jvm and resources setting for connects2i
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, ready for merge

#2249 Add spotbugs check of systemtest to CI
  Makefile
  systemtest/Makefile
Labels: ready for merge
