Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-03, with the labels that each got.

#1393 Fix Docs: Kafka Version Table for Upgrade
  documentation/book/proc-upgrading-brokers-newer-kafka.adoc
Labels: documentation

#1395 [DOC] fix broken link
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done

#1365 ST: test for disaster during rolling update
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/ZookeeperLeaderFinder.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/ZookeeperLeaderFinderTest.java
  cluster-operator/src/test/resources/log4j2-test.properties
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  test/src/main/java/io/strimzi/test/timemeasuring/Operation.java
  test/src/main/java/io/strimzi/test/timemeasuring/TimeMeasuringSystem.java
Labels: System tests

#1399 Fix NPE when EO doesn't contain both UO and TO - Closes #1396
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
Labels: bug

#1373 [DOC] Changed version numbers in the "Strimzi and Kafka upgrades" chapter
  documentation/book/assembly-upgrade.adoc
  documentation/book/con-kafka-downgrades-using-cluster-operator.adoc
  documentation/book/con-kafka-upgrades-using-cluster-operator.adoc
  documentation/book/proc-downgrading-brokers-older-kafka.adoc
  documentation/book/proc-upgrading-brokers-newer-kafka.adoc
  documentation/book/proc-upgrading-the-cluster-operator-0-9-0-to-0-10-0.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-needed

#1406 [DOC] Changed spacing around conditionals
  documentation/book/proc-upgrading-brokers-newer-kafka.adoc
Labels: documentation

#1407 Added autorefresh every 5 secs on Grafana dashboards
  metrics/examples/grafana/strimzi-kafka-connect.json
  metrics/examples/grafana/strimzi-kafka.json
  metrics/examples/grafana/strimzi-zookeeper.json
Labels: monitoring

#1408 fix Cluster Operator resources backup command in upgrade docs
  documentation/book/proc-upgrading-the-cluster-operator-0-10-0-to-0-11-0.adoc
  documentation/book/proc-upgrading-the-cluster-operator-0-9-0-to-0-10-0.adoc
Labels: documentation, peer-review-done

#1423 [DOC] Added GC logging enable/disable set
  documentation/book/assembly-logging.adoc
  documentation/book/ref-jvm-options.adoc
Labels: documentation, peer-review-done

#1428 Update to Grafana 6.0.0
  metrics/examples/grafana/grafana-openshift/Dockerfile
Labels: monitoring

#1389 ST: add support for set specific remote cluster and execute tests there
  HACKING.md
  systemtest/scripts/run_tests.sh
  test/src/main/java/io/strimzi/test/BaseITST.java
  test/src/main/java/io/strimzi/test/k8s/Oc.java
  test/src/main/java/io/strimzi/test/k8s/OpenShift.java
Labels: System tests

#1418 [DOC] Update to JBOD description
  documentation/book/ref-storage-jbod.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1443 Make sure that TO and UO role bindings are using the watched namespace where needed
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/TopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityTopicOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityUserOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/TopicOperatorTest.java
Labels: bug

#1445 [DOC] Storage Considerations - New and modified content for ENTMQST-555
  documentation/book/assembly-overview.adoc
  documentation/book/assembly-storage.adoc
  documentation/book/con-considerations-for-data-storage.adoc
Labels: documentation, peer-review-needed

#1456 Fix NPE which breaks reconciliation when overrides are used without NodePorts
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
Labels: bug

#1449 [DOC] Move storage consideration section
  documentation/book/assembly-deployment-configuration-kafka.adoc
  documentation/book/assembly-overview.adoc
  documentation/book/con-considerations-for-data-storage.adoc
Labels: documentation, peer-review-needed

#1464 [DOC] Name change for download zip
  documentation/book/con-product-downloads.adoc
Labels: documentation, peer-review-needed

#1473 We should always do rolling update when pod metadata change (labels / annos)
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaSetOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/StatefulSetDiff.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/ZookeeperSetOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/StatefulSetDiffTest.java
Labels: bug

#1483 [DOCS] Fix various formatting issues
  documentation/book/assembly-healthchecks.adoc
  documentation/book/con-tls-connections.adoc
  documentation/book/proc-changing-kafka-user.adoc
  documentation/book/proc-configuring-kafka-listeners.adoc
  documentation/book/proc-dedicated-nodes.adoc
  documentation/book/proc-deleting-a-topic.adoc
  documentation/book/proc-deleting-kafka-user.adoc
  documentation/book/proc-deploying-cluster-operator-kubernetes.adoc
  documentation/book/proc-deploying-cluster-operator-openshift.adoc
  documentation/book/proc-manual-delete-pod-pvc-kafka.adoc
  documentation/book/proc-manual-delete-pod-pvc-zookeeper.adoc
  documentation/book/proc-manual-rolling-update-kafka.adoc
  documentation/book/proc-manual-rolling-update-zookeeper.adoc
  documentation/book/ref-tolerations.adoc
Labels: documentation, peer-review-done

#1487 Use OwnerReference in secrets related to KAfkaUser resources
  user-operator/src/main/java/io/strimzi/operator/user/model/KafkaUserModel.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/KafkaUserOperator.java
  user-operator/src/test/java/io/strimzi/operator/user/model/KafkaUserModelTest.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserOperatorTest.java
Labels: user operator
