Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-05, with the labels that each got.

#1594 [DOC] New operator graphics
  documentation/book/assembly-overview.adoc
  documentation/book/con-what-the-cluster-operator-does.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/proc-upgrading-the-cluster-operator-0-9-0-to-0-10-0.adoc
  documentation/images/cluster-operator.png
  documentation/images/cluster_operator.png
  documentation/images/operators.png
  documentation/images/topic-operator.png
  documentation/images/topic_operator.png
Labels: documentation, peer-review-done, sme-review-done

#1595 Fix the recipe for adding plugins to our Kafka image
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1598 [Docs] Add docs for the dnsAnnotations on loadbalancers
  documentation/book/con-kafka-listeners.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1599 ST: collect and check events only for specific resource defined by uid
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1575 ST: remove StrimziExtension from test suite
  Jenkinsfile-pr
  api/src/test/java/io/strimzi/api/kafka/model/KafkaCrdIT.java
  jenkins.groovy
  pom.xml
  systemtest/pom.xml
  systemtest/scripts/run_tests.sh
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/OpenShiftOnly.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/OpenShiftOnlyCondition.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  test/src/main/java/io/strimzi/test/BaseITST.java
  test/src/main/java/io/strimzi/test/extensions/StrimziExtension.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests

#1600 [DOC] Fix logging examples with snippets
  documentation/book/assembly-deployment-configuration-kafka-connect-s2i.adoc
  documentation/book/assembly-deployment-configuration-kafka-connect.adoc
  documentation/book/assembly-deployment-configuration-kafka-mirror-maker.adoc
  documentation/book/assembly-deployment-configuration-kafka.adoc
  documentation/book/proc-kafka-inline-logging.adoc
  documentation/book/snip-external-logging-Kafka.adoc
  documentation/book/snip-external-logging-KafkaConnect.adoc
  documentation/book/snip-external-logging-KafkaConnectS2I.adoc
  documentation/book/snip-external-logging-KafkaMirrorMaker.adoc
Labels: documentation, peer-review-done, sme-review-done

#1606 Fix network policies on OpenShift 3.11 in 0.11.x release branch
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
Labels: bug

#1607 ST: kafka rolling update fix
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1605 Fix network policies on OpenShift 3.11
  cluster-operator/src/main/java/io/strimzi/operator/cluster/PlatformFeaturesAvailability.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/PlatformFeaturesAvailabilityTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
Labels: bug

#1611 ST: recreate namespace in case it's already created
  test/src/main/java/io/strimzi/test/BaseITST.java
Labels: System tests

#1610 ST: delete pods after test execution by force
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests

#1608 ST: use proper way how to use constats in ST
  jenkins.groovy
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
Labels: System tests

#1579 [DOC] Remove non-Strimzi content
  documentation/book/assembly-upgrade.adoc
  documentation/book/assembly-upgrading-kafka-versions.adoc
  documentation/book/con-upgrade-intro.adoc
  documentation/book/proc-downgrading-brokers-older-kafka.adoc
  documentation/book/proc-upgrading-the-cluster-operator-0-9-0-to-0-10-0.adoc
  documentation/book/ref-kafka-versions.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1622 The health check configurations for UO and TO deployed through CO should be referenced in docs
  documentation/book/ref-healthchecks.adoc
Labels: documentation

#1624 [DOC] Update logging sections
  documentation/book/assembly-deployment-configuration.adoc
  documentation/book/assembly-kafka-connect-configuration.adoc
  documentation/book/assembly-logging.adoc
  documentation/book/assembly-overview.adoc
  documentation/book/con-what-the-topic-operator-does.adoc
  documentation/book/getting-started.adoc
  documentation/book/proc-creating-a-topic.adoc
  documentation/book/proc-downgrading-brokers-older-kafka.adoc
  documentation/book/proc-kafka-external-logging.adoc
  documentation/book/proc-kafka-inline-logging.adoc
  documentation/book/ref-kafka-connect-configuration.adoc
  documentation/book/ref-kafka-entity-operator.adoc
  documentation/book/ref-kafka-logging.adoc
  documentation/book/ref-loggers-Kafka.adoc
  documentation/book/ref-loggers-KafkaConnect.adoc
  documentation/book/ref-loggers-KafkaConnectS2I.adoc
  documentation/book/ref-loggers-KafkaMirrorMaker.adoc
  documentation/book/ref-resource-limits-and-requests.adoc
  documentation/book/snip-configmap-logging-Kafka.adoc
  documentation/book/snip-configmap-logging-KafkaConnect.adoc
  documentation/book/snip-configmap-logging-KafkaConnectS2I.adoc
  documentation/book/snip-configmap-logging-KafkaMirrorMaker.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1629 ST: post PR build results as a comment to PR
  Jenkinsfile-pr
  jenkins.groovy
  systemtest/scripts/get_failures.sh
Labels: System tests

#1620 ST: add check for pods and container readiness for deployments
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
Labels: System tests

#1635 ST: fix check of kafka rolling update
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests

#1632 [DOC] New procedures for upgrading resources
  documentation/book/assembly-upgrade-resources.adoc
  documentation/book/assembly-upgrade.adoc
  documentation/book/master.adoc
  documentation/book/proc-upgrading-kafka-connect-resources.adoc
  documentation/book/proc-upgrading-kafka-connect-s2i-resources.adoc
  documentation/book/proc-upgrading-kafka-mirror-maker-resources.adoc
  documentation/book/proc-upgrading-kafka-resources.adoc
  documentation/book/proc-upgrading-kafka-topic-resources.adoc
  documentation/book/proc-upgrading-kafka-user-resources.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1638 Removed numbers from name of .zip file
  documentation/book/con-product-downloads.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1627 [DOC] Add an overview of how CRDs are used
  documentation/book/assembly-custom-resources.adoc
  documentation/book/con-custom-resources-example.adoc
  documentation/book/getting-started.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1637 [DOC] New procedure for zookeeper connection
  documentation/book/assembly-deployment-configuration-kafka.adoc
  documentation/book/assembly-deployment-configuration.adoc
  documentation/book/assembly-zookeeper-connection.adoc
  documentation/book/master.adoc
  documentation/book/proc-connecting-to-zookeeper.adoc
  documentation/book/ref-kafka-logging.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1657 Fix bugs in StrafulSetOperator tests for deleteAsync()
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/StatefulSetOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/StatefulSetOperatorTest.java
Labels: bug

#1658 ST: remove min isr from topic for MM tests
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
Labels: System tests, ready for merge

#1651 Add docs for volume resizing and storage class overrides
  documentation/book/assembly-storage.adoc
  documentation/book/con-considerations-for-data-storage.adoc
  documentation/book/proc-resizing-persistent-volumes.adoc
  documentation/book/ref-storage-persistent.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#1660 ST: Make JBOD ST more stable
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: ready for merge
