Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-08, with the labels that each got.

#1873 Added JVM options section to the Kafka Bridge configuration chapter
  documentation/book/assembly-deployment-configuration-kafka-bridge.adoc
  documentation/book/assembly-jvm-options.adoc
  documentation/book/proc-configuring-jvm-options.adoc
  documentation/book/ref-jvm-options.adoc
Labels: documentation, peer-review-done, sme-review-needed

#1863 [MO] - [system test] -> labels modification
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: ready for merge

#1875 Add env var for Bridge ID
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBridgeCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBridgeClusterTest.java
Labels: ready for merge

#1866 [MO] - [system test] -> TopicST class added + test + refactor
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
Labels: ready for merge

#1864 [DOC] Fixed Asciidoctor build error cause by cross-ref
  documentation/book/assembly-logging.adoc
Labels: documentation, ready for merge, sme-review-done

#1869 Added container environment variables to Kafka template
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/ContainerEnvVar.java
  api/src/main/java/io/strimzi/api/kafka/model/template/ContainerTemplate.java
  api/src/main/java/io/strimzi/api/kafka/model/template/KafkaClusterTemplate.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  documentation/book/appendix_crds.adoc
  helm-charts/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: ready for merge

#1878 Prometheus configuration
  documentation/book/con-metrics-prometheus-resources.adoc
  metrics/examples/prometheus/install/prometheus.yaml
Labels: ready for merge

#1880 [DOC] New kafka bridge graphic + updated graphics for operators
  documentation/book/assembly-overview.adoc
  documentation/book/con-supported-clients-kafka-bridge.adoc
  documentation/images/cluster-operator.png
  documentation/images/kafka-bridge.png
  documentation/images/operators.png
  documentation/images/topic-operator.png
Labels: documentation, ready for merge

#1885 Connect dashboard is useable also for the connect S2I
  metrics/examples/grafana/strimzi-kafka-connect.json
Labels: ready for merge

#1886 [DOC] Added missing include statement to Kafka Bridge configuration assembly
  documentation/book/assembly-deployment-configuration-kafka-bridge.adoc
Labels: documentation, peer-review-needed, ready for merge, sme-review-needed

#1889 Improve the Health-check documentation to cover the new options
  documentation/book/ref-healthchecks.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#1884 [DOC] Add details for setting Kafka broker env vars
  documentation/book/assembly-customizing-deployments.adoc
  documentation/book/con-customizing-containers.adoc
  documentation/book/con-customizing-labels-and-annotations.adoc
  documentation/book/con-customizing-template-properties.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#1891 Add possibility to specify loadBalancerIP address in load balancer type services
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/listener/LoadBalancerListenerBootstrapOverride.java
  api/src/main/java/io/strimzi/api/kafka/model/listener/LoadBalancerListenerBrokerOverride.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  documentation/book/appendix_crds.adoc
  documentation/book/con-kafka-broker-external-listeners-loadbalancers.adoc
Labels: cluster operator, documentation, peer-review-needed, sme-review-needed

#1865 Topic operator status
  api/src/main/java/io/strimzi/api/kafka/model/KafkaTopic.java
  api/src/main/java/io/strimzi/api/kafka/model/status/KafkaTopicStatus.java
  cluster-operator/src/main/resources/cluster-roles/031-ClusterRole-strimzi-entity-operator.yaml
  documentation/book/appendix_crds.adoc
  helm-charts/strimzi-kafka-operator/templates/031-ClusterRole-strimzi-entity-operator.yaml
  helm-charts/strimzi-kafka-operator/templates/043-Crd-kafkatopic.yaml
  install/cluster-operator/031-ClusterRole-strimzi-entity-operator.yaml
  install/cluster-operator/043-Crd-kafkatopic.yaml
  install/topic-operator/02-Role-strimzi-topic-operator.yaml
  install/topic-operator/04-Crd-kafkatopic.yaml
  operator-common/pom.xml
  operator-common/src/main/java/io/strimzi/operator/common/operator/resource/CrdOperator.java
  operator-common/src/main/java/io/strimzi/operator/common/operator/resource/StatusUtils.java
  topic-operator/src/main/java/io/strimzi/operator/topic/BaseKafkaImpl.java
  topic-operator/src/main/java/io/strimzi/operator/topic/K8s.java
  topic-operator/src/main/java/io/strimzi/operator/topic/K8sImpl.java
  topic-operator/src/main/java/io/strimzi/operator/topic/K8sTopicWatcher.java
  topic-operator/src/main/java/io/strimzi/operator/topic/Session.java
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicConfigsWatcher.java
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicOperator.java
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicSerialization.java
  topic-operator/src/main/java/io/strimzi/operator/topic/ZkTopicsWatcher.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MockK8s.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MockKafka.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MockTopicOperator.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MockZk.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/ZkTopicsWatcherTest.java
Labels: topic operator

#1893 Fix docs comments
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMakerSpec.java
  crd-generator/src/main/java/io/strimzi/crdgenerator/DocGenerator.java
  crd-generator/src/test/resources/io/strimzi/crdgenerator/simpleTest.adoc
  documentation/book/appendix_crds.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#1894 Improve the S2I builds
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectS2ICluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
Labels: cluster operator, kafka connect, ready for merge

#1899 [MO] - [system test] -> regenerate ca after deletion
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#1897 [MO] - [system test] -> kafka connect with tls,auth
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: ready for merge

#1896 [MO] - [system test] -> app domain labels
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: ready for merge

#1901 ST: fix testEntityOperatorWithoutUserAndTopicOperators
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
Labels: System tests, ready for merge

#1908 [DOC] Add supporting docs for KafkaTopicStatus
  documentation/book/con-custom-resources-example.adoc
  documentation/book/con-custom-resources-status.adoc
Labels: documentation, peer-review-done, sme-review-done

#1913 ST: fix for skipped tests
  systemtest/scripts/results_info.sh
Labels: System tests, ready for merge

#1921 ST: basic metrics tests
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests

#1928 ST: add test for loadBalancerIP override
  api/src/main/java/io/strimzi/api/kafka/model/KafkaResources.java
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#1910 [MO] - [refactor] -> ClientViaHttp to ClientViaExec
  Makefile
  docker-images/test-client/Dockerfile
  docker-images/test-client/Makefile
  pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/api/MsgCliApiClient.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/api/VerifiableClient.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  test-client/Makefile
  test-client/pom.xml
  test-client/scripts/consumer.sh
  test-client/scripts/dynamic_resources.sh
  test-client/scripts/kafka_tls_prepare_certificates.sh
  test-client/scripts/launch_java.sh
  test-client/scripts/log4j.properties
  test-client/scripts/producer.sh
  test-client/src/main/java/io/strimzi/test_client/HttpClientsListener.java
  test-client/src/main/java/io/strimzi/test_client/Main.java
  test-client/src/main/resources/log4j2.properties
Labels: System tests, needs review, ready for merge

#1935 [MO] - [system test] -> fix of STs bugs
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  test/src/main/java/io/strimzi/test/BaseITST.java
Labels: System tests, needs review, ready for merge

#1942 Fix repeted deletion of non-existent readines indicator file
  mirror-maker-agent/src/main/java/io/strimzi/mirrormaker/agent/MirrorMakerAgent.java
Labels: bug

#1925 ST: extend timeouts for experiments on env
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
Labels: System tests, needs review
