Repository strimzi/strimzi-kafka-operator, pull requests merged in 2019-09, with the labels that each got.

#1948 ST: correction of zookeeper and zk tls sidecar image check in ST
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#1943 [MO] - [system test] -> network policy
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/NetworkPolicy.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/NetworkPolicyCondition.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, ready for merge

#1953 ST: fix some flaky tests
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#1949 [MO] - [system test] -> messages in disk, __consumer-offset, remove KafkaST tests
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#1960 Fix watched namespace in Prometheus configuration
  metrics/examples/prometheus/install/strimzi-service-monitor.yaml
Labels: ready for merge

#1907 ST: upgrade tests improve
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.csv
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#1937 [DOC] ACL authorization
  documentation/book/ref-kafka-user.adoc
Labels: documentation, peer-review-done, sme-review-done

#1961 ST: add new test tags and fix test
  Jenkinsfile-pr
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/NetworkPolicy.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/NetworkPolicyCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#1962 Fix PodDisruptionBudget API docs
  api/src/main/java/io/strimzi/api/kafka/model/template/PodDisruptionBudgetTemplate.java
  documentation/book/appendix_crds.adoc
Labels: documentation

#1959 Prometheus operator + server ST
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
Labels: System tests, ready for merge

#1982 Fix spotbugs errors for systemtests
  systemtest/src/main/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/main/java/io/strimzi/systemtest/clients/api/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
Labels: ready for merge

#1999 Document how to run multiple instances of Kafka Connect
  documentation/book/assembly-kafka-connect-configuration.adoc
  documentation/book/con-kafka-connect-multiple-instances.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#1985 [MO] - [system test] -> TracingST
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/HttpUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/resources/tracing/jaeger-instance/jaeger.yaml
Labels: System tests, ready for merge

#1940 [DOC] Create Kafka Bridge quick start
  documentation/book/assembly-kafka-bridge-concepts.adoc
  documentation/book/assembly-kafka-bridge-overview.adoc
  documentation/book/assembly-kafka-bridge-quickstart.adoc
  documentation/book/assembly-using-the-kafka-bridge.adoc
  documentation/book/con-accessing-kafka-bridge-from-outside.adoc
  documentation/book/con-loggers-kafka-bridge.adoc
  documentation/book/con-requests-kafka-bridge.adoc
  documentation/book/con-securing-kafka-bridge.adoc
  documentation/book/con-supported-clients-kafka-bridge.adoc
  documentation/book/master.adoc
  documentation/book/proc-bridge-committing-consumer-offsets-to-log.adoc
  documentation/book/proc-bridge-deleting-consumer.adoc
  documentation/book/proc-bridge-retrieving-latest-messages-from-consumer.adoc
  documentation/book/proc-bridge-seeking-offsets-for-partition.adoc
  documentation/book/proc-bridge-subscribing-consumer-topics.adoc
  documentation/book/proc-creating-kafka-bridge-consumer.adoc
  documentation/book/proc-deploying-kafka-bridge-quickstart.adoc
  documentation/book/proc-exposing-kafka-bridge-service-local-machine.adoc
  documentation/book/proc-producing-messages-from-bridge-topics-partitions.adoc
  documentation/book/ref-api-resources-kafka-bridge.adoc
  documentation/common/attributes.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-needed

#1997 [MO] - [system test] -> try with resources, sals and tls authen kafka…
  systemtest/src/main/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#1989 [DOC] Kafka Exporter alerts
  documentation/book/assembly-kafka-exporter-configuration.adoc
  documentation/book/assembly-kafka-exporter.adoc
  documentation/book/assembly-metrics-setup.adoc
  documentation/book/con-customizing-template-properties.adoc
  documentation/book/kafka-exporter/con-kafka-exporter-alerts.adoc
  documentation/book/kafka-exporter/con-kafka-exporter-lag.adoc
  documentation/book/kafka-exporter/proc-kafka-exporter-configuring.adoc
  documentation/book/kafka-exporter/proc-kafka-exporter-enabling-grafana.adoc
  documentation/book/kafka-exporter/ref-kafka-exporter-metrics.adoc
  documentation/book/ref-metrics-alertmanager-examples.adoc
  documentation/book/ref-metrics-config-files.adoc
Labels: documentation, peer-review-needed, ready for merge, sme-review-done

#2021 [MO] - [system test] - ST for support SASL-scramsha in ConnectS2I
  systemtest/src/main/java/io/strimzi/systemtest/Resources.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
Labels: System tests, ready for merge
