Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-03, with the labels that each got.

#2610 ST: install operator via OLM
  TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMaker2Utils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMakerUtils.java
  systemtest/src/main/resources/olm/operator-group.yaml
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minikube.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minishift.java
  test/src/main/java/io/strimzi/test/k8s/cluster/OpenShift.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
Labels: System tests, ready for merge

#2626 Doc edits from QE check
  documentation/assemblies/mirrormaker2/assembly-mirrormaker.adoc
  documentation/modules/mirrormaker2/con-mirrormaker-acls.adoc
  documentation/modules/mirrormaker2/con-mirrormaker-replication.adoc
  documentation/modules/oauth/con-oauth-authentication-broker.adoc
  documentation/modules/proc-upgrading-the-cluster-operator.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2615 fix: Mock Kube deployment patcher handle zero replicas
  mockkube/src/main/java/io/strimzi/test/mockkube/DeploymentMockBuilder.java
Labels: ready for merge

#2634 [systemtest] Setup debug mode for all cluster components
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
Labels: System tests, needs review

#2638 Fix upgrade test after some changes connected to dynamic configuration
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, ready for merge

#2636 ST: Improve mirror-maker-2 tests
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
Labels: System tests, ready for merge

#2639 [MO] - [system test] -> mm test cases
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
Labels: System tests, ready for merge

#2641 [MO] - [refactor] -> fileutils reworked to try with resource
  systemtest/src/main/java/io/strimzi/systemtest/utils/FileUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#2613 [systemtest] Add configuration of network policies
  TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/DefaultNetworkPolicy.java
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2605 Add JavaSystemProperties for EO
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/EntityOperatorJvmOptions.java
  api/src/main/java/io/strimzi/api/kafka/model/EntityTopicOperatorSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/EntityUserOperatorSpec.java
  api/src/test/resources/io/strimzi/api/kafka/model/Kafka-with-extra-property.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/Kafka-with-invalid-resource-memory.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/Kafka.out.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/Kafka.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/KafkaV1alpha1.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/KafkaV1beta1.yaml
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityTopicOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityUserOperatorTest.java
  documentation/modules/appendix_crds.adoc
  helm-charts/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  topic-operator/scripts/topic_operator_run.sh
  user-operator/scripts/user_operator_run.sh
Labels: ready for merge

#2657 ST: Fix several connect tests where race with NP was hit
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2651 feat: Convert to context succeeding
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperatorMockTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorMockTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMakerAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaRollerTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/StatefulSetOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/ZookeeperLeaderFinderTest.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/AbstractNonNamespacedResourceOperatorTest.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/ClusterRoleOperatorIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/ServiceAccountOperatorTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MockKafka.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorTest.java
Labels: ready for merge

#2644 [DOC] Fix terminology error in per-listener certificates documentation
  documentation/modules/ref-sample-kafka-resource-config.adoc
  documentation/modules/security/con-kafka-listener-certificates.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2666 ST: change and improve log collection from components during system tests
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
Labels: System tests, ready for merge

#2673 ST: Fix check for status message in case of unsupported kafka
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, bug, ready for merge

#2674 ST: Add retry mechanism to check users in zk config
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
Labels: System tests, bug, ready for merge

#2675 ST: Disable zk scaledown test
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2679 [systemtest] Add asserts for checking java options in EO
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#2672 [systemtest] Add test for multi-node Connect/ConnectS2I
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
Labels: System tests, ready for merge

#2678 ST: Add another fix for cover access form clients pod to connet with NP
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
Labels: System tests, bug, ready for merge

#2676 [MO] - [bug] -> wrong selected timeout
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthAuthorizationST.java
Labels: System tests, bug, needs review

#2687 ST: improve log collector for system tests
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Kubectl.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Oc.java
Labels: System tests, ready for merge

#2677 [MO] - [refactor] -> unused exceptions clean
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/recovery/NamespaceDeletionRecoveryST.java
Labels: System tests, ready for merge

#2686 ST: Update regex which collect kafka version from pod
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, ready for merge

#2682 [MO] - [system fixes] -> bugs
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
Labels: System tests, bug, ready for merge

#2685 [systemtest] Fix failed tests
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#2692 [systemtest] Fix failed tests vol.2
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
Labels: ready for merge

#2681 [MO] - [bug] -> fix whitelisting watcher
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
Labels: System tests, bug, ready for merge

#2693 ST: fix NP tests in security ST
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, bug, ready for merge

#2694 feat: yq check enforce bash usage
  Makefile
  prerequisites-check.sh
Labels: ready for merge

#2702 [MO] - [system test] -> oauth fix
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
Labels: System tests, bug, needs review

#2704 [MO] - [refactor] -> removing flag
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
Labels: System tests, needs review

#2705 [MO] - [system test] -> fix of ListenersST
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
Labels: System tests, bug, needs review

#2708 ST: Remove redundant logs checks in UserST
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
Labels: System tests, needs review

#2709 ST: Fix several mm tests
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
Labels: System tests, needs review

#2653 [MO] - [system test] -> oauth authorization superuser breaks rules
  systemtest/src/test/java/io/strimzi/systemtest/.SecurityST.java.swp
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthAuthorizationST.java
Labels: System tests, ready for merge

#2711 [MO] -> 1st part of removing dependency of logs
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, needs review

#2663 feat: Add warnings to CR status conditions
  api/src/main/java/io/strimzi/api/kafka/model/status/Status.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ModelUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/StorageUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaSpecChecker.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/StatusDiffTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/StorageUtilsTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaStatusTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaSpecCheckerTest.java
Labels: ready for merge

#2706 [systemtest] KafkaST: fix failed tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, bug, ready for merge

#2620 [MO] - [system test] -> load balancer source range
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#2567 ST: Extend current test case to catch ZK issues during scale or roliing update
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2712 [systemtest] ConnectS2IST: fix tests
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, bug, ready for merge

#2732 [systemtest] Add test for enabling JSON format logging for components
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
Labels: System tests, ready for merge

#2734 ST: Check kafka status conditions in tests properly
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
Labels: System tests, bug, ready for merge

#2735 ST: Add namespace to command which collects logs about CR
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  test/src/main/java/io/strimzi/test/executor/Exec.java
Labels: System tests, bug, ready for merge

#2321 Improve Kafka Roller logging
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaRoller.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaSetOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/StatefulSetOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/ZookeeperSetOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorCustomCertTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaRollerTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/StatefulSetOperatorTest.java
Labels: ready for merge

#2739 ST: add new tags
  TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/.SecurityST.java.swp
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/recovery/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2717 [MO] - [refactor] -> 2nd part of removing dependecy
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, ready for merge

#2728 [MO] - [system test] -> Fix race-condition for mirroring topics
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
Labels: System tests, bug, ready for merge

#2731 ST: Extend acceptance profile
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2741 ST: Parse protocol version from kafka-versions.yaml
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestKafkaVersion.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/utils/KafkaVersionUtilsTest.java
Labels: System tests, ready for merge

#2745 ST: allow pods to access Jaeger
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2577 [systemtest] Add test for update ConnectS2I
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, ready for merge

#2747 Metrics svc with tcp prefix
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  examples/metrics/prometheus-install/strimzi-service-monitor.yaml
Labels: ready for merge

#2748 [systemtest] Fix failing tests and add new functions for status check
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, bug, ready for merge

#2755 [systemtest] Fix several of our failing tests
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, bug, ready for merge

#2749 [systemtest] Remove duplicated methods, add new one to utils classes
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, enhancement, needs review

#2758 [systemtest] Remove duplicated methods vol.2
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, enhancement, ready for merge

#2763 [systemtest] Remove unnecessary external listeners
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
Labels: System tests, enhancement
