Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-12, with the labels that each got.

#4019 Silent error from missing CRB RBAC in Kafka Connect when not needed
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperatorTest.java
Labels: bug

#4025 [systemtest] Tests for changing DeploymentStrategy in resources
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
Labels: System tests, ready for merge

#4032 [ST] Log selected test classes for test run
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
Labels: ready for merge

#4033 Fix generating xunit test names in reports
  systemtest/src/main/java/io/strimzi/systemtest/interfaces/IndicativeSentences.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: ready for merge

#4034 Update assembly-kafka-bridge-concepts.adoc
  documentation/assemblies/assembly-kafka-bridge-concepts.adoc
Labels: documentation, sme-review-needed

#4052 Wrong format
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
Labels: documentation

#4055 Change images for example clients
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaBasicExampleClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaTracingExampleClients.java
Labels: ready for merge

#4030 Add documentation for CC CORS
  CHANGELOG.md
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-done

#4068 ST: Address some fixes to avoid tests to delete CO
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/ClusterOperationST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, ready for merge

#4045 [systemtest] Tests for deploying Kafka and KafkaConnect without CRBs and enabled/disabled RackAware
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#4074 [DOC] new rack awareness image
  documentation/api/io.strimzi.api.kafka.model.Rack.adoc
  documentation/shared/images/rack-config-availability-zones.png
  documentation/shared/images/rack-config-availability-zones.svg
Labels: documentation, peer-review-done, sme-review-needed

#4098 Replace oc cluster up with minikube for PR jenkins jobs
  .azure/scripts/setup-kubernetes.sh
  .jenkins/Jenkinsfile-pr
  .jenkins/jenkins.groovy
  jenkins.groovy
  systemtest/scripts/results_info.sh
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: ready for merge

#4104 Prometheus operator does not parse configuration
  examples/metrics/prometheus-install/prometheus.yaml
Labels: ready for merge

#4063 [DOC] Updates to schema reference for Kafka config
  api/src/main/java/io/strimzi/api/kafka/model/EntityTopicOperatorSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/EntityUserOperatorSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/TlsSidecar.java
  api/src/main/java/io/strimzi/api/kafka/model/ZookeeperClusterSpec.java
  documentation/api/io.strimzi.api.kafka.model.EntityTopicOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.EntityUserOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.TlsSidecar.adoc
  documentation/api/io.strimzi.api.kafka.model.ZookeeperClusterSpec.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/con-common-configuration-properties.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4078 [DOC] Clarify Kafka Connect dependencies when configuring MM2
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4125 rename ZookepeerUpgradeST -> KafkaUpgradeDowngradeST
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeST.java
Labels: System tests

#4132 Remove few tests from acceptance tag
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
Labels: ready for merge

#4064 [DOC] kafka config assembly update for Using Guide
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/assemblies/configuring/assembly-customizing-kubernetes-resources.adoc
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/configuring/assembly-external-logging.adoc
  documentation/assemblies/configuring/assembly-jmxtrans.adoc
  documentation/assemblies/configuring/assembly-kafka-entity-operator.adoc
  documentation/assemblies/configuring/assembly-maintenance-time-windows.adoc
  documentation/assemblies/configuring/assembly-scaling-clusters.adoc
  documentation/assemblies/configuring/assembly-scheduling.adoc
  documentation/assemblies/configuring/assembly-storage.adoc
  documentation/modules/configuring/con-configuring-topic-operator.adoc
  documentation/modules/configuring/con-configuring-user-operator.adoc
  documentation/modules/configuring/con-considerations-for-data-storage.adoc
  documentation/modules/configuring/con-customizing-image-pull-policy.adoc
  documentation/modules/configuring/con-maintenance-time-window-definition.adoc
  documentation/modules/configuring/con-maintenance-time-windows-overview.adoc
  documentation/modules/configuring/con-partition-reassignment.adoc
  documentation/modules/configuring/con-reassignment-throttles.adoc
  documentation/modules/configuring/con-scaling-kafka-clusters.adoc
  documentation/modules/configuring/proc-adding-volumes-to-jbod-storage.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-configuring-maintenance-time-windows.adoc
  documentation/modules/configuring/proc-connecting-to-zookeeper.adoc
  documentation/modules/configuring/proc-creating-configmap.adoc
  documentation/modules/configuring/proc-dedicated-nodes.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/configuring/proc-jmxtrans-deployment.adoc
  documentation/modules/configuring/proc-manual-delete-pod-pvc-kafka.adoc
  documentation/modules/configuring/proc-manual-delete-pod-pvc-zookeeper.adoc
  documentation/modules/configuring/proc-manual-rolling-update-kafka.adoc
  documentation/modules/configuring/proc-manual-rolling-update-zookeeper.adoc
  documentation/modules/configuring/proc-removing-volumes-from-jbod-storage.adoc
  documentation/modules/configuring/proc-resizing-persistent-volumes.adoc
  documentation/modules/configuring/proc-scaling-down-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scaling-up-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scheduling-based-on-other-pods.adoc
  documentation/modules/configuring/proc-scheduling-deployment-to-node-using-node-affinity.adoc
  documentation/modules/configuring/ref-affinity.adoc
  documentation/modules/configuring/ref-kafka-entity-operator.adoc
  documentation/modules/configuring/ref-list-of-kafka-cluster-resources.adoc
  documentation/modules/configuring/ref-storage-ephemeral.adoc
  documentation/modules/configuring/ref-storage-jbod.adoc
  documentation/modules/configuring/ref-storage-persistent.adoc
  documentation/modules/configuring/snip-reassign-partitions.adoc
  documentation/using/master.adoc
Labels: documentation, peer-review-done, sme-review-needed

#4066 [DOC] link/reference updates for updated Kafka config section
  documentation/assemblies/assembly-overview.adoc
  documentation/assemblies/assembly-using-the-cluster-operator.adoc
  documentation/assemblies/assembly-using-the-topic-operator.adoc
  documentation/assemblies/assembly-using-the-user-operator.adoc
  documentation/assemblies/configuring/assembly-config-mirrormaker.adoc
  documentation/contributing/introduction.adoc
  documentation/modules/appendix_faq.adoc
  documentation/modules/con-deployment-kafka-bridge.adoc
  documentation/modules/con-operators-prometheus-metrics.adoc
  documentation/modules/configuring/proc-config-kafka-bridge.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-mirrormaker.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
  documentation/modules/deploying/con-deploy-custom-resources-example.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/modules/metrics/kafka-exporter/proc_kafka-exporter-configuring.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
  documentation/modules/proc-configuring-kafka-topic.adoc
  documentation/modules/proc-configuring-kafka-user.adoc
  documentation/modules/ref-operator-cluster.adoc
  documentation/modules/security/proc-renewing-ca-certs-manually.adoc
  documentation/modules/security/proc-replacing-private-keys.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4130 [DOC] Minor edits - link fix and typos
  api/src/main/java/io/strimzi/api/kafka/model/listener/arraylistener/GenericKafkaListenerConfiguration.java
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1beta1.yaml
  documentation/assemblies/assembly-kafka-exporter-configuration.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/managing/con-consumer-config-properties.adoc
  documentation/modules/proc-configuring-kafka-user.adoc
  documentation/modules/ref-storage-persistent.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, peer-review-done, sme-review-done
