Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-06, with the labels that each got.

#3103 [systemtest][fix] Update testJSONFormatLogging
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: System tests, bug, needs review

#3120 [DOC] Minor review edits to make the namespace install instructions consistent
  documentation/assemblies/deploying/assembly-deploy-create-cluster.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-multiple-namespaces.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-namespace.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-whole-cluster.adoc
  documentation/modules/metrics/proc_metrics-deploying-prometheus.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3126 [systemtest][kafkabridge] Ability to scale KafkaBridge to zero
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
Labels: System tests, ready for merge

#3101 [MO] - [system tests] -> cruise control api tests
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
Labels: System tests, ready for merge

#3031 Build Strimzi with Java11
  .azure/scripts/build.sh
  .azure/templates/log_variables.yaml
  .azure/templates/setup_java.yaml
  .spotbugs/spotbugs-exclude.xml
  .travis.yml
  .travis/build.sh
  cluster-operator/src/test/java/io/strimzi/operator/cluster/ClusterOperatorTest.java
  pom.xml
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicOperator.java
Labels: ready for merge

#3134 ST: Check NPE in CO logs only if it's not handled
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
Labels: System tests, ready for merge

#3102 [MO] - [system test] -> cruise control auto-create
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, ready for merge

#3154 [DOC] Fix to Cruise Control annotation (and some typos)
  documentation/modules/con-kafka-mirror-maker-configuration.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/ref-kafka-authorization.adoc
  documentation/modules/ref-kafka-bridge-consumer-configuration.adoc
  documentation/modules/ref-kafka-connect-configuration.adoc
  documentation/modules/ref-zookeeper-node-configuration.adoc
Labels: documentation, peer-review-needed, ready for merge, sme-review-done

#3135 ST: Add upgrade tests for 0.18.0
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#3156 [systemtest] testClusterCaRemovedTriggersRollingUpdate -> "fix"
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, bug, ready for merge

#3161 [DOC] Remove ZooKeeper TLS sidecar image reference
  documentation/modules/ref-configuring-container-images.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#3160 [systemtest][small-refactor] Create new log package, new suite, update the test
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, enhancement, ready for merge

#3105 [DOC] OAUTH authentication minor doc edit
  documentation/contributing/styleguide.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/oauth/proc-oauth-kafka-config.adoc
  documentation/modules/proc-configuring-mirror-maker.adoc
  documentation/shared/ref-document-conventions.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3168 [MO] - [system test] -> fix of race-condition deletion of EO
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, bug, ready for merge

#3170 [MO] - [system test] -> cruise control race-condition
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
Labels: System tests, bug, ready for merge

#3189 ST: Fix system tests after merge of KafkaRebalanceResource ST
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, needs review

#3191 [DOC] Reformat custom IDs and x-refs in the Cruise Control section, plus improve capacity limits info
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
Labels: documentation, peer-review-needed, sme-review-done

#3177 ST: Create a bunch of topics for upgrade for upgrade tests
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#3195 Fix CC capacity config example typos
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
Labels: documentation, ready for merge

#3186 [DOC] Clarify Kafka Connect configuration
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-with-plugins.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/security/proc-configuring-internal-clients-to-trust-cluster-ca.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3197 [systemtest][cleanup] Kafka resource, DeploymentConfig util and ST cleanup
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentConfigUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicScalabilityST.java
Labels: System tests, ready for merge

#3190 Refactor KafkaRebalance status condition
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/status/KafkaRebalanceStatus.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceStateMachineTest.java
  operator-common/src/main/java/io/strimzi/operator/common/operator/resource/StatusUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
Labels: ready for merge

#3166 [DOC] new secure communications image
  documentation/assemblies/security/assembly-security.adoc
  documentation/shared/attributes.adoc
  documentation/shared/images/secure_communication.png
Labels: documentation, peer-review-needed, sme-review-needed

#3209 [systemtest] Add tests for scaling subresources
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
Labels: System tests, ready for merge

#3212 Remove CPUCapacity Goal from default master goals and hard goals list
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControlConfiguration.java
  docker-images/kafka/cruise-control-scripts/cruise_control_config_generator.sh
  documentation/modules/cruise-control/con-optimization-goals.adoc
  examples/cruise-control/kafka-rebalance-with-goals.yaml
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
Labels: ready for merge

#3219 [systemtest][cruise-control] Change testManuallyCreateMetricsReporterTopic
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, ready for merge

#3227 Allow new CC metric reporter AdminClient configurations to be updated
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  documentation/modules/appendix_crds.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: ready for merge

#3205 ST: Add option to attach continuous producer/consumer for rolling udpates and upgrades
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: System tests, ready for merge

#3233 Add crd and helm template builds to make all
  Makefile
Labels: ready for merge

#3187 [systemtest][enhancement] Variable timeout part 1 - resource readiness
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/HttpUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentConfigUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
Labels: System tests, enhancement, ready for merge

#3224 Switch to using yq version 3.3.1+
  .travis/install_yq.sh
  HACKING.md
  Jenkinsfile-pr
  Makefile
  cluster-operator/src/main/resources/cluster-roles/020-ClusterRole-strimzi-cluster-operator-role.yaml
  cluster-operator/src/main/resources/cluster-roles/021-ClusterRole-strimzi-cluster-operator-role.yaml
  cluster-operator/src/main/resources/cluster-roles/030-ClusterRole-strimzi-kafka-broker.yaml
  cluster-operator/src/main/resources/cluster-roles/031-ClusterRole-strimzi-entity-operator.yaml
  cluster-operator/src/main/resources/cluster-roles/032-ClusterRole-strimzi-topic-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/041-Crd-kafkaconnect.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/042-Crd-kafkaconnects2i.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/043-Crd-kafkatopic.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/044-Crd-kafkauser.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/045-Crd-kafkamirrormaker.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/046-Crd-kafkabridge.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/047-Crd-kafkaconnector.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/048-Crd-kafkamirrormaker2.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/049-Crd-kafkarebalance.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/042-Crd-kafkaconnects2i.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/043-Crd-kafkatopic.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/044-Crd-kafkauser.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/045-Crd-kafkamirrormaker.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/047-Crd-kafkaconnector.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/049-Crd-kafkarebalance.yaml
  install/cluster-operator/020-ClusterRole-strimzi-cluster-operator-role.yaml
  install/cluster-operator/020-RoleBinding-strimzi-cluster-operator.yaml
  install/cluster-operator/021-ClusterRole-strimzi-cluster-operator-role.yaml
  install/cluster-operator/021-ClusterRoleBinding-strimzi-cluster-operator.yaml
  install/cluster-operator/030-ClusterRole-strimzi-kafka-broker.yaml
  install/cluster-operator/030-ClusterRoleBinding-strimzi-cluster-operator-kafka-broker-delegation.yaml
  install/cluster-operator/031-ClusterRole-strimzi-entity-operator.yaml
  install/cluster-operator/031-RoleBinding-strimzi-cluster-operator-entity-operator-delegation.yaml
  install/cluster-operator/032-ClusterRole-strimzi-topic-operator.yaml
  install/cluster-operator/032-RoleBinding-strimzi-cluster-operator-topic-operator-delegation.yaml
  install/cluster-operator/050-Deployment-strimzi-cluster-operator.yaml
  jenkins.groovy
  prerequisites-check.sh
Labels: ready for merge

#3238 documentation fix - move logging section to be under "kafka:" key
  documentation/modules/con-kafka-logging.adoc
Labels: ready for merge

#3228 ST: add option to deploy CO not jsut via yaml bundle but by OLM for all tests
  TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Kubectl.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Oc.java
Labels: System tests, ready for merge

#3242 [systemtest][fixes] Fixes of tests and typos
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, needs review

#3245 ST: Set Bridge image based on predefined env variable
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
Labels: System tests, ready for merge

#3250 [systemtest][fix] Fix CC acceptance test
  systemtest/src/main/java/io/strimzi/systemtest/enums/KafkaRebalanceState.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, ready for merge

#3254 ST: Set Bridge image based on predefined env variable vol. 2
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
Labels: System tests, ready for merge

#3244 ST: Add Acceptance tag to MetricsST
  Jenkinsfile-pr
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#3248 [systemtest][enhancement] Variable timeout part 2 - resource rolling update
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentConfigUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
Labels: System tests, ready for merge

#3216 Add rebalance performance tuning options and documentation
  api/src/main/java/io/strimzi/api/kafka/model/KafkaRebalanceSpec.java
  api/src/test/resources/io/strimzi/api/kafka/model/KafkaRebalance.out.yaml
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlParameters.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/PathBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/RebalanceOptions.java
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/049-Crd-kafkarebalance.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/049-Crd-kafkarebalance.yaml
  install/cluster-operator/049-Crd-kafkarebalance.yaml
Labels: cluster-balancing, documentation, peer-review-done, ready for merge

#3176 [DOC] Create single Using Operators section
  documentation/assemblies/assembly-deploying-the-topic-operator.adoc
  documentation/assemblies/assembly-operators-cluster-operator.adoc
  documentation/assemblies/assembly-operators-monitoring.adoc
  documentation/assemblies/assembly-operators.adoc
  documentation/assemblies/assembly-user-operator.adoc
  documentation/assemblies/assembly-using-the-cluster-operator.adoc
  documentation/assemblies/assembly-using-the-topic-operator.adoc
  documentation/assemblies/assembly-using-the-user-operator.adoc
  documentation/modules/con-cluster-operator-rbac.adoc
  documentation/modules/con-cluster-operator-reconciliation.adoc
  documentation/modules/con-customizing-image-pull-policy.adoc
  documentation/modules/con-how-the-topic-operator-works.adoc
  documentation/modules/con-maintenance-time-window-definition.adoc
  documentation/modules/con-operators-prometheus-metrics.adoc
  documentation/modules/con-topic-operator-cluster-label.adoc
  documentation/modules/con-user-operator-cluster-label.adoc
  documentation/modules/overview/con-overview-components-cluster-operator.adoc
  documentation/modules/overview/con-overview-components-topic-operator.adoc
  documentation/modules/overview/con-overview-components-user-operator.adoc
  documentation/modules/proc-configuring-kafka-topic.adoc
  documentation/modules/proc-configuring-kafka-user.adoc
  documentation/modules/proc-topic-operator-with-resource-requests-limits.adoc
  documentation/modules/proc-user-operator-with-resource-requests-limits.adoc
  documentation/modules/ref-operator-cluster.adoc
  documentation/modules/ref-operator-topic.adoc
  documentation/modules/ref-operator-user.adoc
  documentation/modules/ref-operators-cluster-operator-configuration.adoc
  documentation/modules/ref-topic-operator.adoc
  documentation/using/master.adoc
Labels: documentation, peer-review-needed, sme-review-needed
