Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-07, with the labels that each got.

#3262 ST: Add superuser to OPA tests and do small refactor
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#3152 Reorganise the developer guides and other documentation
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEV_QUICK_START.md
  DEV_QUICK_START_MACOS.md
  development-docs/DEV_GUIDE.md
  development-docs/RELEASE.md
  development-docs/TESTING.md
Labels: needs review

#3247 [DOC] Update of steps for renewing custom CA
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
  documentation/modules/security/proc-renewing-your-own-ca-certificates.adoc
Labels: documentation, peer-review-needed, sme-review-done

#3269 [DOC] Update of grafana sections
  documentation/assemblies/metrics/assembly_metrics-grafana.adoc
  documentation/assemblies/metrics/assembly_metrics-prometheus-setup.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/metrics/con_metrics-grafana-options.adoc
  documentation/modules/metrics/kafka-exporter/proc_kafka-exporter-configuring.adoc
  documentation/modules/metrics/kafka-exporter/proc_kafka-exporter-enabling-grafana.adoc
  documentation/modules/metrics/proc_metrics-deploying-grafana.adoc
  documentation/modules/metrics/proc_metrics-deploying-prometheus-operator.adoc
  documentation/modules/metrics/proc_metrics-deploying-prometheus.adoc
  documentation/modules/metrics/proc_metrics-grafana-dashboard.adoc
  documentation/shared/images/grafana-dashboard-selection.png
  documentation/shared/images/grafana_home.png
  documentation/shared/images/grafana_import_dashboard.png
  documentation/shared/images/grafana_kafka_dashboard.png
  documentation/shared/images/grafana_login.png
  documentation/shared/images/grafana_prometheus_data_source.png
  documentation/shared/images/grafana_zookeeper_dashboard.png
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3253 [systemtest][fix] Change timeouts for continuous clients producers
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, ready for merge

#3259 Move rebalance state enum into api module and CC enums into operator-common module
  api/src/main/java/io/strimzi/api/kafka/operator/assembly/KafkaRebalanceAnnotation.java
  api/src/main/java/io/strimzi/api/kafka/operator/assembly/KafkaRebalanceState.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceStateMachineTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/MockCruiseControl.java
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlEndpoints.java
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlParameters.java
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlUserTaskStatus.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/KafkaRebalanceState.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, cluster-balancing, ready for merge

#3290 Rename lists in the OPA example
  systemtest/src/test/resources/opa/opa.yaml
Labels: ready for merge

#3276 Refactor systemtest package structure
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCors.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
Labels: System tests, ready for merge

#3257 ST: Add k8s version to environment data for upgrade tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#3292 Fix typo in the launch script
  docker-images/test-client/scripts/launch_java.sh
Labels: ready for merge

#2867 Dynamically update EO logging
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: ready for merge

#3305 ST: fix several STs from nightly builds
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: System tests, ready for merge

#3309 Fix logging RU ST
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: ready for merge

#3310 ST: fix testSendMessagesTlsScramSha by correct configuration for Kafka listeners
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
Labels: System tests, bug, needs review

#3291 ST: run more tests against CO installed by helm
  Jenkinsfile-pr
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/BundleResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/HelmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/OlmResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
  test/src/main/java/io/strimzi/test/k8s/HelmClient.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests, ready for merge

#3293 [DOC] remove replicated install content from using guide
  documentation/assemblies/assembly-access-configuration-kafka-mirror-maker.adoc
  documentation/assemblies/assembly-deployment-configuration-kafka-bridge.adoc
  documentation/assemblies/assembly-getting-started.adoc
  documentation/assemblies/assembly-kafka-connect-external-configuration.adoc
  documentation/assemblies/assembly-kafka-exporter-configuration.adoc
  documentation/assemblies/assembly-overview.adoc
  documentation/assemblies/assembly-prometheus-metrics.adoc
  documentation/assemblies/assembly-using-the-cluster-operator.adoc
  documentation/assemblies/assembly-using-the-topic-operator.adoc
  documentation/assemblies/assembly-using-the-user-operator.adoc
  documentation/assemblies/deploying/assembly-deploy-tasks.adoc
  documentation/assemblies/deploying/assembly-deploy-verify.adoc
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/modules/appendix_faq.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/con-deployment-kafka-bridge.adoc
  documentation/modules/con-operators-prometheus-metrics.adoc
  documentation/modules/con-overview-distributed-tracing.adoc
  documentation/modules/deploying/con-deploy-custom-resources-example.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-managing-connectors.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/deploying/kafkaconnectors/proc-enabling-kafkaconnectors.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-helm-chart.adoc
  documentation/modules/deploying/proc-deploy-kafka-bridge.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/modules/metrics/kafka-exporter/proc_kafka-exporter-configuring.adoc
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
  documentation/modules/proc-configuring-kafka-mirror-maker-authentication-scram-sha-512.adoc
  documentation/modules/proc-configuring-kafka-mirror-maker-authentication-tls.adoc
  documentation/modules/proc-configuring-kafka-mirror-maker-tls.adoc
  documentation/modules/proc-configuring-mirror-maker.adoc
  documentation/modules/proc-manual-delete-pod-pvc-kafka.adoc
  documentation/modules/proc-manual-delete-pod-pvc-zookeeper.adoc
  documentation/modules/proc-manual-rolling-update-kafka.adoc
  documentation/modules/proc-manual-rolling-update-zookeeper.adoc
  documentation/modules/ref-list-of-kafka-mirror-maker-resources.adoc
  documentation/modules/ref-operator-cluster.adoc
  documentation/modules/ref-sample-kafka-resource-config.adoc
  documentation/using/master-docinfo.xml
  documentation/using/master.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3295 [DOC] review updates to formats, links
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/metrics/proc_metrics-grafana-dashboard.adoc
  documentation/modules/mirrormaker2/con-mirrormaker-acls.adoc
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
  documentation/modules/overview/con-security-configuration-encryption.adoc
  documentation/modules/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/proc-accessing-kafka-using-routes.adoc
  documentation/modules/proc-adding-volumes-to-jbod-storage.adoc
  documentation/modules/proc-configuring-kafka-bridge-authentication-scram-sha-512.adoc
  documentation/modules/proc-configuring-kafka-connect-authentication-scram-sha-512.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3297 [DOC] Improvements to Prometheus Operator deployment procedure
  documentation/modules/metrics/proc_metrics-deploying-prometheus-operator.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3302 ST: Add test for bridge metrics are exposed properly
  api/src/main/java/io/strimzi/api/kafka/model/KafkaBridgeResources.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/BridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests

#3321 ST: Add test to cover labels and annotations for user secrets
  .azure/build-pipeline.yaml
  .azure/pull-request-pipeline.yaml
  .azure/scripts/setup_docker.sh
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, needs review

#3065 [MO] - [test-container] -> strimzi kafka container travis timeout bug (new installation of docker)
  .travis/install_yq.sh
  pom.xml
  test-container/pom.xml
  test-container/src/main/java/io/strimzi/StrimziKafkaContainer.java
Labels: ready for merge

#3334 Single node kafka with CC fix
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
Labels: ready for merge

#3317 Remove env recreate in case of test failure
  development-docs/TESTING.md
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
Labels: System tests, needs review

#3278 [systemtest][cleanup] Change recovery timeouts, create some connector methods
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentConfigUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/BridgeUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, enhancement, ready for merge

#3345 [MO] - [test-containers] -> java-8 build
  test-container/pom.xml
Labels: ready for merge

#3341 ST: Add fix for 2 bridge tests
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
Labels: System tests, bug, ready for merge

#3275 Add option to exclude topics from a rebalance
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/KafkaRebalanceSpec.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaRebalanceCrdIT.java
  api/src/test/resources/io/strimzi/api/kafka/model/KafkaRebalance-excluded-topics.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/KafkaRebalance-performance-tuning.yaml
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/PathBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/RebalanceOptions.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/PathBuilderTest.java
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/049-Crd-kafkarebalance.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/049-Crd-kafkarebalance.yaml
  install/cluster-operator/049-Crd-kafkarebalance.yaml
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlParameters.java
Labels: cluster-balancing, documentation, ready for merge

#3348 Fixed NPEs related to dynamic configuration
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerConfigurationDiff.java
Labels: ready for merge

#3352 [systemtest][enhancement] Variable timeout part 3 - resource deletion
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentConfigUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ReplicaSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/NamespaceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
Labels: System tests, enhancement, ready for merge

#3218 Correct units and add defaults for CC capacity docs
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
Labels: cluster-balancing, documentation, peer-review-done

#3365 FIX(Readme) TESTING.md various docs updates
  development-docs/TESTING.md
Labels: System tests, documentation, needs review

#3361 [systemtest] Change timeouts in resource classes and delete unused constants
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaRebalanceResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: System tests, enhancement, ready for merge

#3314 [DOC] Style edits to distributed tracing section
  documentation/assemblies/assembly-distributed-tracing.adoc
  documentation/assemblies/assembly-instrumenting-kafka-clients-tracers.adoc
  documentation/assemblies/assembly-setting-up-tracing-kafka-clients.adoc
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/assemblies/tracing/assembly-instrumenting-kafka-clients-tracers.adoc
  documentation/assemblies/tracing/assembly-setting-up-tracing-kafka-clients.adoc
  documentation/assemblies/tracing/assembly-setting-up-tracing-mirror-maker-connect-bridge.adoc
  documentation/modules/con-overview-distributed-tracing.adoc
  documentation/modules/tracing/con-overview-opentracing-jaeger.adoc
  documentation/modules/tracing/proc-configuring-jaeger-tracer-kafka-clients.adoc
  documentation/modules/tracing/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
  documentation/modules/tracing/proc-instrumenting-kafka-streams-with-tracers.adoc
  documentation/modules/tracing/proc-instrumenting-producers-consumers-opentracing.adoc
  documentation/modules/tracing/ref-tracing-environment-variables.adoc
  documentation/using/master.adoc
Labels: documentation, peer-review-done, sme-review-done

#3369 Add option to skip surefire tests via -Dskip.surefire.tests
  development-docs/TESTING.md
  pom.xml
  systemtest/src/test/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClientTest.java
Labels: ready for merge

#3373 [systemtest][mm2] Add checks for mirroring right headers in messages
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge

#3378 [systemtest][kr] Change wait for KafkaRebalance state
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, bug, needs review

#3353 [DOC] Updates to external listener config procedures
  documentation/modules/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/proc-accessing-kafka-using-routes.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3392 ST: Several fixes for tests
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: System tests, ready for merge

#3367 [DOC] Updates for config exceptions
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMaker2ClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMakerConsumerSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMakerProducerSpec.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
  documentation/modules/proc-configuring-mirror-maker.adoc
  documentation/modules/ref-kafka-bridge-consumer-configuration.adoc
  documentation/modules/ref-kafka-bridge-producer-configuration.adoc
  documentation/modules/ref-kafka-broker-configuration.adoc
  documentation/modules/ref-kafka-connect-configuration.adoc
  documentation/modules/ref-zookeeper-node-configuration.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#3268 Sts diff comparing empty strings
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaMirrorMakerCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ModelUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ModelUtilsTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/TolerationsIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/AbstractCustomResourceOperatorIT.java
Labels: ready for merge

#3395 [systemtests] make systemtests also build all dependencies
  systemtest/scripts/run_tests.sh
Labels: ready for merge

#3393 [systemtest][cc] Add test for single node Kafka with CruiseControl
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, ready for merge

#3391 [systemtest] Load ST variables from json config
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: ready for merge

#3397 [cc] Add test for topic exclusion, fix utils methods, change annotation location
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceStateMachineTest.java
  operator-common/src/main/java/io/strimzi/operator/common/Annotations.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaRebalanceResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, bug, ready for merge

#3404 ST: Remove NPE during log collecting
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
Labels: System tests, ready for merge

#3406 [Tests] auto-detect kubernetes cluster
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Kubernetes.java
  test/src/main/java/io/strimzi/test/k8s/cluster/OpenShift.java
Labels: ready for merge

#3407 ST: Allow use latest-released version of Kafka Bridge during helm-system-tests
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/HelmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/BridgeUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, bug, ready for merge

#3420 Add more azure pipelines for system tests
  .azure/acceptance-pipeline.yaml
  .azure/build-pipeline.yaml
  .azure/helm-acceptance-pipeline.yaml
  .azure/pull-request-pipeline.yaml
  .azure/regression-pipeline.yaml
  .azure/scripts/setup_upgrade.sh
  .azure/templates/default_variables.yaml
  .azure/templates/general_steps.yaml
  .azure/templates/get_profile.yaml
  .azure/templates/log_variables.yaml
  .azure/templates/system_test_general.yaml
  .azure/upgrade-pipeline.yaml
  .travis/setup-kubernetes.sh
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: ready for merge
