Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-05, with the labels that each got.

#2852 [DOC] Kafka connect user access rights
  documentation/assemblies/assembly-deployment-configuration-kafka-connect-s2i.adoc
  documentation/assemblies/assembly-deployment-configuration-kafka-connect.adoc
  documentation/assemblies/assembly-kafka-connect-authorization.adoc
  documentation/modules/con-kafka-connect-multiple-instances.adoc
  documentation/modules/proc-configuring-kafka-connect-user-authorization.adoc
  documentation/modules/proc-configuring-kafka-connect.adoc
Labels: documentation, peer-review-done, sme-review-needed

#2890 [systemtest] Make wait for CR status methods more generic way
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMaker2Utils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMakerUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
Labels: System tests, enhancement, ready for merge

#2918 ST: Delete all CRDs before helm install
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
  test/src/main/java/io/strimzi/test/k8s/HelmClient.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests, ready for merge

#2906 [DOC] Service discovery
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/modules/managing/con-service-discovery.adoc
Labels: documentation, peer-review-done, sme-review-needed

#2923 [DOC] Entity operator config edits
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/modules/proc-configuring-kafka-entity-operator.adoc
  documentation/modules/ref-kafka-entity-operator.adoc
Labels: documentation, peer-review-done, sme-review-needed

#2947 Skip unit and IT tests for system tests build in azure
  .azure/pull-request-pipeline.yaml
Labels: ready for merge

#2950 ST: Remove wrongly used inheritance in systemtest.topic.* tests
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicScalabilityST.java
Labels: System tests, ready for merge

#2951 Fix timeout and NPE in Multiple and AllNamespace ST
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
Labels: System tests, ready for merge

#2957 [systemtest] Fix of wait for pods stability
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, bug, ready for merge

#2953 ST: Check CO logs not from begining but only for test execution time
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/timemeasuring/TimeMeasuringSystem.java
Labels: System tests, ready for merge

#2904 [MO] - [refactor] -> adding user, topic, consumer group generator
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/recovery/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#2963 [DOC] Standalone User Operator deployment environment variables
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2887 [DOC] Consumer lag image
  documentation/modules/metrics/kafka-exporter/con_kafka-exporter-lag.adoc
  documentation/shared/images/consumer-lag.png
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2952 ST: Fix NPE in SecurityST and ConnectS2IST
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/resources/security-st-certs/clients-ca.crt
  systemtest/src/test/resources/security-st-certs/clients-ca.key
  systemtest/src/test/resources/security-st-certs/cluster-ca.crt
  systemtest/src/test/resources/security-st-certs/cluster-ca.key
Labels: System tests, ready for merge

#2971 [systemtest] Fix tests in ListenersST and KafkaST
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
Labels: System tests, bug, needs review

#2990 [systemtest] Rename wait for pod deletion method
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, enhancement, ready for merge

#2944 [DOC] update the Using the User Operator section
  documentation/assemblies/assembly-using-the-user-operator.adoc
  documentation/assemblies/oauth/assembly-oauth-authentication.adoc
  documentation/modules/con-mutual-tls-authentication.adoc
  documentation/modules/con-scram-sha-authentication.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/oauth/con-oauth-authorization-intro.adoc
  documentation/modules/proc-changing-kafka-user.adoc
  documentation/modules/proc-configuring-kafka-connect-user-authorization.adoc
  documentation/modules/proc-configuring-kafka-user.adoc
  documentation/modules/proc-creating-kafka-user-scram-sha.adoc
  documentation/modules/proc-creating-kafka-user-tls.adoc
  documentation/modules/proc-deleting-kafka-user.adoc
  documentation/modules/proc-kafka-authorization.adoc
  documentation/modules/ref-kafka-authorization.adoc
  documentation/modules/ref-kafka-user.adoc
  documentation/modules/security/con-certificate-authorities.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2995 [systemtest] Fix nightlies
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, bug, ready for merge

#2921 Ensure CC topics are configured with log.cleanup.policy=delete
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilderTest.java
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  examples/cruise-control/cruise-control-topic.yaml
  helm-charts/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: ready for merge

#2999 [systemtest] KafkaConnect/ConnectS2I - scaling to zero replicas
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
Labels: System tests, ready for merge

#3009 Enable CO to access CC service across namespaces + bump to CC 2.0.103
  api/src/main/java/io/strimzi/api/kafka/model/CruiseControlResources.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  docker-images/kafka/kafka-thirdparty-libs/2.4.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/2.5.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/cc/pom.xml
Labels: ready for merge

#2912 [MO] - [system test] -> cruise control tests
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/CruiseControlST.java
Labels: System tests, ready for merge

#3004 ST: Remove flakyness from metricsST
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#3010 [systemtest][rollingupdate] Test - replication factor lower than min.insync.replicas
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2992 Improve exponential backoff
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaRoller.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaRollerTest.java
Labels: ready for merge

#3014 ST: Fix typos in several tests
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#3007 [systemtest][kafkatopic] Decrease topic partitions and min.insync.replicas tests
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
Labels: System tests, ready for merge

#3035 [DOC] Document operator environment variables in one place
  documentation/assemblies/assembly-deploying-the-topic-operator.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
  documentation/modules/proc-jmxtrans-deployment.adoc
  documentation/modules/ref-topic-operator-environment.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3043 ST: Strip too long logs from executor
  TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  test/src/main/java/io/strimzi/test/executor/Exec.java
Labels: System tests, ready for merge

#3030 [DOC] Add note on replicas for changing topics
  documentation/modules/proc-changing-a-topic.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3058 [MO] - [pipeline] -> travis change order of installation YQ
  .travis.yml
Labels: needs review

#3041 ST: Fix test, which check that Kafka roll (or not) when topic block it
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2969 [MO] - [client tests] -> simple smoke client tests
  .azure/build-pipeline.yaml
  .travis/push-to-nexus.sh
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
  systemtest/src/test/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClientTest.java
  test-container/Makefile
  test-container/pom.xml
  test-container/src/main/java/io/strimzi/StrimziKafkaContainer.java
  test-container/src/main/resources/kafka-versions.txt
  test-container/src/test/java/io/strimzi/StrimziKafkaContainerTest.java
  test-container/src/test/resources/log4j2.properties
Labels: System tests, ready for merge

#3061 [MO] - [bugfix] -> path replace by reflection
  test-container/src/main/java/io/strimzi/StrimziKafkaContainer.java
Labels: bug, ready for merge

#2956 [DOC] Cruise Control: rebalance procedures and overview of goals and proposals
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/modules/con-configuring-user-operator.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
  documentation/modules/cruise-control/proc-executing-cruise-control-rebalance-operations.adoc
  documentation/modules/cruise-control/proc-fixing-problems-with-kafkarebalance.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-interacting-with-cruise-control-api.adoc
  documentation/modules/cruise-control/proc-stopping-cluster-rebalance.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3025 [DOC] Add config for ssl ciphers
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2ClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMakerConsumerSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMakerProducerSpec.java
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMaker2ClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMakerConsumerSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMakerProducerSpec.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
  documentation/modules/proc-configuring-mirror-maker.adoc
  documentation/modules/ref-kafka-bridge-consumer-configuration.adoc
  documentation/modules/ref-kafka-bridge-producer-configuration.adoc
  documentation/modules/ref-kafka-broker-configuration.adoc
  documentation/modules/ref-kafka-connect-configuration.adoc
  documentation/modules/ref-sample-kafka-resource-config.adoc
  documentation/modules/ref-zookeeper-node-configuration.adoc
  helm-charts/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3024 [systemtest][fixes] Make SecurityST less flaky
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, bug, ready for merge

#3054 [systemtest][fixes] ListenersST, RollingUpdateST
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/ManualRollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, bug, ready for merge

#3069 [MO] - [system test] -> CORS test cases
  api/src/main/java/io/strimzi/api/kafka/model/KafkaBridgeHttpCors.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/HttpUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/BridgeUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCors.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#3060 Don't skip network policies test for crc
  Jenkinsfile-pr
  systemtest/scripts/results_info.sh
Labels: ready for merge

#3072 [DOC] Update to the using the topic operator section
  documentation/assemblies/assembly-using-the-topic-operator.adoc
  documentation/modules/proc-changing-a-topic.adoc
  documentation/modules/proc-configuring-kafka-topic.adoc
  documentation/modules/proc-creating-a-topic.adoc
  documentation/modules/proc-deleting-a-topic.adoc
  documentation/modules/ref-topic-operator.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3078 [DOC] New CORS config properties for Kafka Bridge
  documentation/modules/ref-kafka-bridge-http-configuration.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3071 [DOC] Additional mm2 config properties
  documentation/assemblies/assembly-deployment-configuration-kafka-mirror-maker.adoc
  documentation/assemblies/assembly-deployment-configuration.adoc
  documentation/assemblies/mirrormaker2/assembly-mirrormaker.adoc
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
  documentation/modules/proc-configuring-mirror-maker.adoc
Labels: documentation, peer-review-needed, ready for merge, sme-review-done

#2970 [DOC] Update contributing guide project section
  documentation/assemblies/assembly-overview.adoc
  documentation/assemblies/deploying/assembly-deploy-intro.adoc
  documentation/assemblies/quickstart/assembly-quickstart-overview.adoc
  documentation/contributing/git-setup-guide.adoc
  documentation/contributing/introduction.adoc
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3093 [MO] - [system test] -> removing extra log
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
Labels: System tests, ready for merge

#3086 [MO] - [fix] -> system bridge test
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, bug, ready for merge

#3068 [jenkins] Fix issues with nodeport on CRC
  jenkins.groovy
Labels: bug, ready for merge

#3107 [DOC] Cruise Control documentation updates
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
  documentation/modules/cruise-control/proc-fixing-problems-with-kafkarebalance.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-stopping-cluster-rebalance.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  documentation/modules/ref-sample-kafka-resource-config.adoc
Labels: documentation, peer-review-done, sme-review-needed
