Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-04, with the labels that each got.

#2766 [DOC] Remove backup command from CO upgrade procedure
  documentation/modules/proc-upgrading-the-cluster-operator.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2768 Wait for CRD creation before api ITs
  api/src/test/java/io/strimzi/api/kafka/model/KafkaBridgeCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaConnectCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2CrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaMirrorMakerCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaTopicCrdIT.java
  api/src/test/java/io/strimzi/api/kafka/model/KafkaUserCrdIT.java
Labels: ready for merge

#2756 Accidentally removed CA should trigger crt recreation (and rolling update)
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ModelUtils.java
  operator-common/src/main/java/io/strimzi/operator/cluster/model/Ca.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: ready for merge

#2771 [systemtest] Create ST cert manager, remake OpenSSL methods
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, enhancement, ready for merge

#2776 [systemtest] Fix failing tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
Labels: System tests, bug, ready for merge

#2520 [MO] - [clients] -> recursive builder for all clients
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/ClientFactory.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/IKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/KafkaClientOperations.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/KafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/KafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/TracingExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/TracingKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/InternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/recovery/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, needs review

#2790 [MO] - [tracing] -> removing dependency of external listeners + additional checks
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/TracingUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2792 [DOC] Upgrade procedure for cooperative rebalancing in Kafka 2.4.0
  documentation/assemblies/assembly-upgrading-kafka-versions.adoc
  documentation/modules/proc-upgrading-consumers-streams-cooperative-rebalancing.adoc
Labels: documentation, ready for merge, sme-review-done

#2801 Make sure volume names are valid
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/JmxTrans.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBridgeCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaMirrorMakerCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/TopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/VolumeUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/VolumeUtilsTest.java
  operator-common/src/main/java/io/strimzi/operator/common/model/Labels.java
Labels: bug

#2789 [systemtest] Improve logging of CR deployment
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
Labels: System tests, enhancement, ready for merge

#2798 [MO] - [clean-up] -> removing redundancy + unused methods
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/ClientHandlerBase.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
Labels: System tests, ready for merge

#2802 [MO] - [clients] -> removing future + solving issue with vertx
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/KafkaClientOperations.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/ClientHandlerBase.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/TracingExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/InternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#2803 [MO] - [refactor] -> renaming strimzi TimeoutException
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
  test/src/main/java/io/strimzi/test/WaitException.java
Labels: System tests, ready for merge

#2805 [systemtest] Upgrade metrics change test
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2835 [MO] - [NPE] -> dependency using of kafka connect
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
Labels: System tests, bug, ready for merge

#2837 ST typos
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClient.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: ready for merge

#2839 [MO] - [refactor] -> topic suite
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicScalabilityST.java
Labels: System tests, ready for merge

#2836 [systemtest] Update KafkaST's testLabelsAndAnnotationForPVC
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, enhancement, ready for merge

#2797 ST: Add tests for operator metrics
  examples/metrics/kafka-mirror-maker-2-metrics.yaml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/FileUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
Labels: System tests, ready for merge

#2838 ST: Fix message count and remove old upgrade test
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#2845 [systemtest] Add process method and update OpenShift template tests
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: System tests, ready for merge

#2851 ST: Minor fixes for nightly builds
  docker-images/test-client/scripts/consumer.sh
  docker-images/test-client/scripts/producer.sh
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
Labels: System tests

#2849 [systemtest] Repair failing MM2 test and add logging
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
Labels: System tests, bug, ready for merge

#2843 [DOC] additional overview content for MirrorMaker 2.0
  documentation/assemblies/overview/assembly-key-features.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2816 [systemtest] Weird usernames tests
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
Labels: System tests, ready for merge

#2847 [systemtest] Fix failing tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
Labels: System tests, bug, ready for merge

#2856 Exclude loadbalancer from azure and fix NPE in acceptance
  .azure/pull-request-pipeline.yaml
  .azure/templates/default_variables.yaml
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
Labels: ready for merge

#2860 ST: Set networkpolicy access for all clients pods with specific lalbels
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#2862 [MO] - [system test] -> ouath NPE
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthAuthorizationST.java
Labels: System tests, bug, ready for merge

#2865 [systemtest] Fix of two failing tests
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, bug, ready for merge

#2863 Maybe fix ZK leader test
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/ZookeeperLeaderFinderTest.java
Labels: ready for merge

#2864 [DOC] Cluster Operator environment variable DNS domain
  documentation/modules/ref-operators-cluster-operator-configuration.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2848 ST: Add upgrade test for 0.17 and enhance jenkins pipeline
  Jenkinsfile-pr
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, needs review

#2871 [systemtest][KafkaConnectS2I] Check RU after cert is changed
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, ready for merge

#2876 Update package list before install java
  .azure/templates/setup_java.yaml
Labels: ready for merge

#2872 ST: Add option to specify kafka client properties for external cliensts
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthExternalKafkaClient.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2881 ST: Improve logging
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/InternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/HttpUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMaker2Utils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMakerUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ReplicaSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/NamespaceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/TracingUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/MultipleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  test/src/main/java/io/strimzi/test/executor/Exec.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests, ready for merge

#2882 [jenkins] Add image pull policy for components and operator
  Jenkinsfile-pr
Labels: ready for merge

#2868 ST: invoke clients with plain bootstrap properly
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/InternalKafkaClient.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
Labels: System tests, ready for merge

#2893 [systemtest][prometheus] Fix PrometheusST
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
Labels: System tests, bug, ready for merge

#2878 [DOC] Node port preferred host address
  documentation/modules/con-kafka-broker-external-listeners-nodeports.adoc
  documentation/modules/proc-accessing-kafka-using-nodeports.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2894 ST: Update zk upgrade tests to run upgrade/downgrade for all versions
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, ready for merge

#2813 [systemtest][refactor] CRs and ST refactor
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMaker2Utils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMakerUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/recovery/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, enhancement, ready for merge

#2903 Add env info into PR command
  Jenkinsfile-pr
  systemtest/scripts/results_info.sh
Labels: ready for merge

#2815 [MO] - [system test] -> creating topics via adminclient
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
Labels: System tests, ready for merge

#2830 [MO] - [system test] -> additional properties of `SSL`
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SslConfigurationST.java
Labels: System tests, ready for merge

#2913 [systemtest] Fix javadoc in PodUtils
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
Labels: System tests, bug, ready for merge

#2917 ST: Remove 'kafka' string from methods which are not connected to kafka directly
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ReplicaSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
Labels: System tests, ready for merge

#2899 [MO] - [system test] -> fix topic stability
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/topic/TopicScalabilityST.java
Labels: System tests, bug, ready for merge

#2883 [DOC] Make Cluster Operator namespace clear
  documentation/assemblies/deploying/assembly-deploy-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-multiple-namespaces.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-namespace.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-whole-cluster.adoc
  documentation/shared/snip-cluster-operator-namespace-sed.adoc
Labels: documentation, peer-review-done, sme-review-needed

#2910 [DOC] Minor review edits
  documentation/assemblies/metrics/assembly_metrics-kafka-exporter.adoc
  documentation/assemblies/metrics/assembly_metrics-prometheus-setup.adoc
  documentation/modules/deploying/proc-deploy-designating-strimzi-administrators.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/quickstart/ref-install-prerequisites.adoc
  documentation/modules/ref-operators-cluster-operator-configuration.adoc
Labels: documentation, peer-review-done, sme-review-needed
