Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-11, with the labels that each got.

#3817 ST: Break infinite loop for producers in tests
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
Labels: System tests, ready for merge

#3925 FIX(Typo) Hacking guide -> DEV_GUIDE.md file
  docker-images/build.sh
Labels: documentation

#3914 [systemtest] Test recovery of Kafka cluster when impossible memory request is set
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
Labels: System tests, ready for merge

#3927 [DOC] Note for route address length
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3912 [DOC] consumer configuration tuning
  documentation/assemblies/managing/assembly-client-config.adoc
  documentation/modules/managing/con-consumer-config-properties.adoc
  documentation/modules/managing/con-producer-config-properties.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3936 ST: Move testTriggerRollingUpdateAfterOverrideBootstrap to AlternativeReconcileTriggersST
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#3941 ST: Rework RecoveryST and azp based on it
  .azure/regression-pipeline.yaml
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
Labels: System tests, ready for merge

#3908 [systemtest] Small fixes for failing tests
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#3924 [systemtest] Test for user's secret prefix
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/InternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, ready for merge

#3947 [systemtest] Better way how to get Kafka version for upgrade tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, enhancement, needs review, ready for merge

#3926 [DOC] describe rack awareness
  api/src/main/java/io/strimzi/api/kafka/model/Rack.java
  documentation/api/io.strimzi.api.kafka.model.KafkaClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.Rack.adoc
  documentation/assemblies/assembly-kafka-rack.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/proc-configuring-init-container-image.adoc
  documentation/modules/proc-configuring-kafka-rack-awareness.adoc
  documentation/modules/ref-kafka-rack.adoc
  documentation/modules/ref-sample-kafka-resource-config.adoc
  documentation/shared/images/rack-config-availability-zones.png
Labels: documentation, peer-review-needed, sme-review-needed

#3854 [MO] - [OLM] - upgrade suite
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/OlmInstallationStrategy.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/OlmUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#3960 [MO] - [release branch] - resolve conflicts of OLM upgrade
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/OlmInstallationStrategy.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/OlmUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, bug, ready for merge

#3972 [DOC] Correct the Kafka Connect config indentation
  documentation/modules/configuring/proc-config-kafka-connect.adoc
Labels: documentation, ready for merge, sme-review-done

#3954 [systemtest] Test for owner reference of CA secrets
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#3975 [DOC] link fixes for loadBalancerSourceRanges
  api/src/main/java/io/strimzi/api/kafka/model/listener/arraylistener/GenericKafkaListenerConfiguration.java
  api/src/main/java/io/strimzi/api/kafka/model/template/ExternalServiceTemplate.java
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1beta1.yaml
  documentation/modules/appendix_crds.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, ready for merge, sme-review-done

#3985 Unify logging pattern across operators
  cluster-operator/src/main/resources/entityTopicOperatorDefaultLoggingProperties
  cluster-operator/src/main/resources/entityUserOperatorDefaultLoggingProperties
  cluster-operator/src/main/resources/kafkaBridgeDefaultLoggingProperties
  cluster-operator/src/main/resources/topicOperatorDefaultLoggingProperties
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: ready for merge

#3988 [DOC] Description of hostAliases property for PodTemplate schema
  .azure/scripts/check_docs.sh
  documentation/api/io.strimzi.api.kafka.model.template.PodTemplate.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#3994 ST: Fix configuration for helm releases for system tests
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/HelmResource.java
Labels: System tests

#3997 Fix CC minISR issue and centralize CC config keys
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1beta1.yaml
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilderTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  documentation/modules/appendix_crds.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlConfigurationParameters.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
Labels: cluster-balancing

#3996 [systemtest] Small fix for testSessionReAuthentication
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
Labels: System tests, ready for merge

#3995 ST/IT: Rework kubeCluster init for ST/IT
  api/src/test/java/io/strimzi/api/kafka/model/AbstractCrdIT.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Kubernetes.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minikube.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minishift.java
  test/src/main/java/io/strimzi/test/k8s/cluster/OpenShift.java
  test/src/main/java/io/strimzi/test/k8s/exceptions/NoClusterException.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorBaseIT.java
Labels: ready for merge

#3873 FIX(Tests) testRackAware (no external clients) & new testRackAwareConnect
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#4010 Label minikube node on azure to make SpecificST working
  .azure/scripts/setup-kubernetes.sh
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests

#4016 [ST] Small fix for env vars data types
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
Labels: System tests, ready for merge
