Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-01, with the labels that each got.

#2352 Fix user quotas
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/KafkaUserQuotasOperator.java
Labels: ready for merge

#2364 ST: Enable UserST tests with long names
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
Labels: System tests, ready for merge

#2360 Fix NPE when secret does not contain given crt
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
Labels: ready for merge

#2353 ST: Improve Kafka cluster rolling tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
Labels: System tests, ready for merge

#2383 Add environment variable STRIMZI_IMAGE_PULL_POLICY in helm chart
  helm-charts/strimzi-kafka-operator/README.md
  helm-charts/strimzi-kafka-operator/templates/050-Deployment-strimzi-cluster-operator.yaml
Labels: ready for merge

#2371 Add Kafka 2.4.0 to upgrade tests
  systemtest/src/main/resources/StrimziUpgradeST.json
Labels: System tests, ready for merge

#2338 [DOC] KafkaConnector resources
  documentation/assemblies/assembly-deployment-configuration-kafka-connect-s2i.adoc
  documentation/assemblies/assembly-deployment-configuration-kafka-connect.adoc
  documentation/assemblies/assembly-kafka-connect-external-configuration.adoc
  documentation/assemblies/assembly-kafka-connect-replicas.adoc
  documentation/assemblies/assembly-kafka-connect.adoc
  documentation/modules/con-cluster-operator-watch-options.adoc
  documentation/modules/con-creating-managing-connectors.adoc
  documentation/modules/con-custom-resources-status.adoc
  documentation/modules/con-customizing-labels-and-annotations.adoc
  documentation/modules/kafkaconnectors/proc-deploying-kafkaconnector.adoc
  documentation/modules/kafkaconnectors/proc-enabling-kafkaconnectors.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-needed

#2356 ST: Improve Connect tests with Connector resource and check values set by…
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
Labels: System tests, ready for merge

#2241 Fabric8 deletion behaviour fix
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorMockTest.java
  mockkube/src/main/java/io/strimzi/test/mockkube/DeploymentMockBuilder.java
  mockkube/src/main/java/io/strimzi/test/mockkube/MockBuilder.java
  mockkube/src/main/java/io/strimzi/test/mockkube/StatefulSetMockBuilder.java
  mockkube/src/test/java/io/strimzi/test/io/strimzi/test/mockkube/MockKubeRegressionTest.java
  mockkube/src/test/java/io/strimzi/test/io/strimzi/test/mockkube/MockKubeTest.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/KafkaBridgeCrdOperatorIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/KafkaConnectCrdOperatorIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/KafkaConnectS2IcrdOperatorIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/KafkaCrdOperatorIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/KafkaMirrorMakerCrdOperatorIT.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/resource/KafkaUserCrdOperatorIT.java
  pom.xml
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorBaseIT.java
Labels: ready for merge

#2317 [MO] - [refactor] -> Clients domain
  pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/ClientFactory.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/EClientType.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/IKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalclient/ClientArgument.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalclient/ClientArgumentMap.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalclient/ClientType.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalclient/ExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalclient/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/ClientHandlerBase.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/KafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/OauthKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/Producer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/TracingKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/lib/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/TracingUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MessagingBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthBaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2412 Allow exclude tags in jenkins PR pipeline
  Jenkinsfile-pr
  jenkins.groovy
Labels: ready for merge

#2424 Make sure Kafka Connect S2I is reconciling connectors
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperator.java
Labels: bug

#2409 DNS cache TTL
  cluster-operator/src/main/java/io/strimzi/operator/cluster/Main.java
  topic-operator/src/main/java/io/strimzi/operator/topic/Session.java
  user-operator/src/main/java/io/strimzi/operator/user/Main.java
Labels: ready for merge

#2423 Improved readability of Connector docs
  documentation/modules/con-creating-managing-connectors.adoc
Labels: ready for merge

#2434 Add strimzi category to our CRDs
  api/src/main/java/io/strimzi/api/kafka/Crds.java
  api/src/main/java/io/strimzi/api/kafka/model/Kafka.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaBridge.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnect.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnectS2I.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnector.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaTopic.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaUser.java
  crd-generator/src/main/java/io/strimzi/crdgenerator/CrdGenerator.java
  crd-generator/src/main/java/io/strimzi/crdgenerator/annotations/Crd.java
  crd-generator/src/test/java/io/strimzi/crdgenerator/ExampleCrd.java
  crd-generator/src/test/java/io/strimzi/crdgenerator/TopicCrd.java
  crd-generator/src/test/resources/io/strimzi/crdgenerator/simpleTest.yaml
  crd-generator/src/test/resources/io/strimzi/crdgenerator/simpleTestHelmMetadata.yaml
  helm-charts/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/strimzi-kafka-operator/templates/041-Crd-kafkaconnect.yaml
  helm-charts/strimzi-kafka-operator/templates/042-Crd-kafkaconnects2i.yaml
  helm-charts/strimzi-kafka-operator/templates/043-Crd-kafkatopic.yaml
  helm-charts/strimzi-kafka-operator/templates/044-Crd-kafkauser.yaml
  helm-charts/strimzi-kafka-operator/templates/045-Crd-kafkamirrormaker.yaml
  helm-charts/strimzi-kafka-operator/templates/046-Crd-kafkabridge.yaml
  helm-charts/strimzi-kafka-operator/templates/047-Crd-kafkaconnector.yaml
  install/cluster-operator/040-Crd-kafka.yaml
  install/cluster-operator/041-Crd-kafkaconnect.yaml
  install/cluster-operator/042-Crd-kafkaconnects2i.yaml
  install/cluster-operator/043-Crd-kafkatopic.yaml
  install/cluster-operator/044-Crd-kafkauser.yaml
  install/cluster-operator/045-Crd-kafkamirrormaker.yaml
  install/cluster-operator/046-Crd-kafkabridge.yaml
  install/cluster-operator/047-Crd-kafkaconnector.yaml
  install/topic-operator/04-Crd-kafkatopic.yaml
  install/user-operator/04-Crd-kafkauser.yaml
Labels: ready for merge

#2313 [DOC] updates to oauth config chapter including latest config attributes
  documentation/assemblies/assembly-access-configuration-kafka-mirror-maker.adoc
  documentation/assemblies/assembly-configuring-kafka-listeners.adoc
  documentation/assemblies/assembly-deployment-configuration.adoc
  documentation/assemblies/assembly-oauth.adoc
  documentation/assemblies/oauth/assembly-oauth.adoc
  documentation/assemblies/oauth/modules
  documentation/modules/oauth/con-oauth-authentication-broker.adoc
  documentation/modules/oauth/con-oauth-authentication-client-options.adoc
  documentation/modules/oauth/con-oauth-authentication-client.adoc
  documentation/modules/oauth/con-oauth-authentication-flow.adoc
  documentation/modules/oauth/con-oauth-config.adoc
  documentation/modules/oauth/con-oauth-server-examples.adoc
  documentation/modules/oauth/proc-oauth-broker-config.adoc
  documentation/modules/oauth/proc-oauth-client-config.adoc
  documentation/modules/oauth/proc-oauth-kafka-config.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#2405 [MO] - [system fix] -> fixing of system tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, needs review

#2386 SecurityST: Remove OpenShiftOnly tests (#1994)
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
Labels: System tests, ready for merge

#2444 ST: Change log level env variable for system tests
  TESTING.md
  systemtest/src/main/resources/log4j2.properties
  systemtest/src/test/resources/log4j2.properties
Labels: ready for merge

#2391 ST: listeners custom certs tests
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalclient/ExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/KafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalclients/KafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/resources/custom-certs/ver1/chain/clients-bundle.crt
  systemtest/src/test/resources/custom-certs/ver1/chain/clients-key.pem
  systemtest/src/test/resources/custom-certs/ver1/chain/strimzi-bundle.crt
  systemtest/src/test/resources/custom-certs/ver1/chain/strimzi-key.pem
  systemtest/src/test/resources/custom-certs/ver1/clients/clients.key
  systemtest/src/test/resources/custom-certs/ver1/clients/clients.pem
  systemtest/src/test/resources/custom-certs/ver1/intermediate/intermediate-key.pem
  systemtest/src/test/resources/custom-certs/ver1/intermediate/intermediate.key
  systemtest/src/test/resources/custom-certs/ver1/intermediate/intermediate.pem
  systemtest/src/test/resources/custom-certs/ver1/root/ca-key.pem
  systemtest/src/test/resources/custom-certs/ver1/root/ca.key
  systemtest/src/test/resources/custom-certs/ver1/root/ca.pem
  systemtest/src/test/resources/custom-certs/ver1/strimzi/strimzi.key
  systemtest/src/test/resources/custom-certs/ver1/strimzi/strimzi.pem
  systemtest/src/test/resources/custom-certs/ver2/chain/clients-bundle.crt
  systemtest/src/test/resources/custom-certs/ver2/chain/clients-key.pem
  systemtest/src/test/resources/custom-certs/ver2/chain/strimzi-bundle.crt
  systemtest/src/test/resources/custom-certs/ver2/chain/strimzi-key.pem
  systemtest/src/test/resources/custom-certs/ver2/clients/clients.key
  systemtest/src/test/resources/custom-certs/ver2/clients/clients.pem
  systemtest/src/test/resources/custom-certs/ver2/intermediate/intermediate-key.pem
  systemtest/src/test/resources/custom-certs/ver2/intermediate/intermediate.key
  systemtest/src/test/resources/custom-certs/ver2/intermediate/intermediate.pem
  systemtest/src/test/resources/custom-certs/ver2/root/ca-key.pem
  systemtest/src/test/resources/custom-certs/ver2/root/ca.key
  systemtest/src/test/resources/custom-certs/ver2/root/ca.pem
  systemtest/src/test/resources/custom-certs/ver2/strimzi/strimzi.key
  systemtest/src/test/resources/custom-certs/ver2/strimzi/strimzi.pem
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#2396 [DOC] New assembly to describe recovery of cluster from PVs
  documentation/assemblies/managing/assembly-cluster-recovery-volume.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/assemblies/managing/modules
  documentation/modules/con-cluster-operator-rbac.adoc
  documentation/modules/con-configuring-user-operator.adoc
  documentation/modules/install
  documentation/modules/managing/con-cluster-loss-recovery.adoc
  documentation/modules/managing/con-namespace-deletion-recovery.adoc
  documentation/modules/managing/proc-accessing-resource-status.adoc
  documentation/modules/managing/proc-cluster-recovery-volume.adoc
  documentation/modules/managing/proc-uninstalling.adoc
  documentation/modules/proc-connecting-to-zookeeper.adoc
  documentation/modules/proc-deploying-the-topic-operator-using-the-cluster-operator.adoc
  documentation/modules/ref-storage-jbod.adoc
  documentation/modules/ref-storage-persistent.adoc
  documentation/using/install
  documentation/using/master.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2439 Delete zk node after user is removed
  systemtest/src/test/java/io/strimzi/systemtest/UserST.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/KafkaUserQuotasOperator.java
  user-operator/src/main/java/io/strimzi/operator/user/operator/ScramShaCredentials.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserQuotasIT.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/ScramShaCredentialsIT.java
Labels: ready for merge

#2414 [DOC] Configure broker certificates per listener
  documentation/assemblies/assembly-configuring-kafka-listeners.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/modules/ref-sample-kafka-resource-config.adoc
  documentation/modules/security/con-certificate-authorities.adoc
  documentation/modules/security/con-kafka-listener-certificates.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
  documentation/modules/security/ref-alternative-subjects-certs-for-listeners.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2447 ST: Add test coverage for improvements for connect and connector operator
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/CustomResourceStatusST.java
Labels: System tests, ready for merge

#2461 ST: Check S2I connectors reconciliation
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
Labels: System tests, ready for merge

#2448 ST: Add s2i to different namespace tests and improve connect tests AllNamespaceST
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2464 Push images to internal registry for PR builds
  Jenkinsfile-pr
  jenkins.groovy
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
Labels: needs review

#2467 [DOC] Upgrading Zookeeper deployments to 3.5.6
  documentation/modules/proc-upgrading-brokers-newer-kafka.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#2468 ST: fix some failures
  systemtest/src/main/java/io/strimzi/systemtest/cli/KafkaCmdClient.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#2453 ST: Add test for connect and connects2i with same name
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2472 ST: Fix NPE in MM tests when clients are used against two clusters
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#2397 [MO] - [system test] -> zookeeper upgrade test with additional check
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
  systemtest/src/test/java/io/strimzi/systemtest/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: System tests, ready for merge

#2459 [MO] - [tracing] - quick fix
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, bug, ready for merge

#2481 ST: Fix sink conenctor creation call to connect API
  systemtest/src/test/java/io/strimzi/systemtest/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#2477 ST: Fix posibility to change CO image pull policy
  TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/test/java/io/strimzi/systemtest/BaseST.java
Labels: System tests, needs review
