Repository strimzi/strimzi-kafka-operator, pull requests merged in 2020-08, with the labels that each got.

#3368 Add option to select replica movement strategy for rebalances
  api/src/main/java/io/strimzi/api/kafka/model/KafkaRebalanceSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/PathBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/RebalanceOptions.java
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/049-Crd-kafkarebalance.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/049-Crd-kafkarebalance.yaml
  install/cluster-operator/049-Crd-kafkarebalance.yaml
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlParameters.java
Labels: cluster-balancing, documentation, ready for merge

#3422 Update CC to version including CPU fix + enabled CPUCapacityGoal
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControlConfiguration.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilder.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilderTest.java
  docker-images/kafka/kafka-thirdparty-libs/2.4.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/2.5.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/cc/pom.xml
  documentation/modules/cruise-control/con-optimization-goals.adoc
  examples/cruise-control/kafka-rebalance-with-goals.yaml
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
Labels: cluster-balancing

#3411 Exposing Cruise Control metrics
  api/src/main/java/io/strimzi/api/kafka/model/CruiseControlSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControl.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/CruiseControlTest.java
  docker-images/kafka/cruise-control-scripts/cruise_control_run.sh
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/assemblies/metrics/assembly_metrics-cruise-control.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/metrics/proc_metrics-grafana-dashboard.adoc
  documentation/modules/metrics/ref_metrics-config-files.adoc
  examples/metrics/grafana-dashboards/strimzi-cruise-control.json
  examples/metrics/kafka-cruise-control-metrics.yaml
  examples/metrics/prometheus-install/strimzi-pod-monitor.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: cluster-balancing

#3436 Fix the scale subresource
  api/src/main/java/io/strimzi/api/kafka/model/KafkaBridge.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnect.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnectS2I.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2.java
  api/src/main/java/io/strimzi/api/kafka/model/status/KafkaBridgeStatus.java
  api/src/main/java/io/strimzi/api/kafka/model/status/KafkaConnectStatus.java
  api/src/main/java/io/strimzi/api/kafka/model/status/KafkaMirrorMakerStatus.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaBridgeAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMakerAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaBridgeAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMakerAssemblyOperatorTest.java
  documentation/modules/appendix_crds.adoc
  helm-charts/helm2/strimzi-kafka-operator/templates/041-Crd-kafkaconnect.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/042-Crd-kafkaconnects2i.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/045-Crd-kafkamirrormaker.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/046-Crd-kafkabridge.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/048-Crd-kafkamirrormaker2.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/042-Crd-kafkaconnects2i.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/045-Crd-kafkamirrormaker.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  install/cluster-operator/041-Crd-kafkaconnect.yaml
  install/cluster-operator/042-Crd-kafkaconnects2i.yaml
  install/cluster-operator/045-Crd-kafkamirrormaker.yaml
  install/cluster-operator/046-Crd-kafkabridge.yaml
  install/cluster-operator/048-Crd-kafkamirrormaker2.yaml
  operator-common/src/main/java/io/strimzi/operator/common/model/Labels.java
  operator-common/src/test/java/io/strimzi/operator/common/model/LabelsTest.java
Labels: bug

#3445 [systemtest] Fix of LogSettingST
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
Labels: System tests, bug, ready for merge

#3438 [systemtest][mm] Add test for scaling mm to zero
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
Labels: System tests, ready for merge

#3439 Remove Prometheus port and annotations from services
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaExporter.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaExporterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2ClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
Labels: ready for merge

#3448 [MO] - [system test] -> CC cpu fix
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
Labels: System tests, ready for merge

#3455 Include grupo masmovil as adopter
  ADOPTERS.md
Labels: ready for merge

#3459 [mm2] Fix status of mm2 if replicas are set to 0
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperator.java
Labels: bug, ready for merge

#3456 [systemtest][mm2] Test scale mm2 to zero replicas
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge

#3451 [systemtest][refactor] "Generator" for random consumer group names and cleanup
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/AbstractKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaClientsResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClientTest.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
Labels: System tests, ready for merge

#3452 [systemtest] Add enums for CR statuses
  systemtest/src/main/java/io/strimzi/systemtest/enums/CustomResourceStatus.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaRebalanceResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaUserResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMaker2Utils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMakerUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
Labels: System tests, ready for merge

#3485 Removed Kubernetes pod name relabeling
  examples/metrics/grafana-dashboards/strimzi-kafka.json
  examples/metrics/grafana-dashboards/strimzi-zookeeper.json
  examples/metrics/prometheus-additional-properties/prometheus-additional.yaml
Labels: ready for merge

#3468 [MO] - [system test] -> cruise control metrics
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#3493 [test-containers] Change Kafka versions in kafka-versions.txt
  test-container/src/main/resources/kafka-versions.txt
Labels: ready for merge

#3473 [DOC] Cruise Control docs enhancements for capacity limits, etc.
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  documentation/modules/overview/con-kafka-concepts-key.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#3489 [systemtest] Add test for dynamic logging change of CO
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, ready for merge

#3497 [tests] Make log less noisy if cluster is not up
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Kubernetes.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minikube.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minishift.java
  test/src/main/java/io/strimzi/test/k8s/cluster/OpenShift.java
Labels: ready for merge

#3507 [systemtest] Fix tests failing in nightlies and tests in acceptance
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, bug, ready for merge

#3463 [DOC] using kubectl on custom resources
  documentation/assemblies/managing/assembly-cluster-recovery-volume.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/assemblies/managing/assembly-resource-status-access.adoc
  documentation/assemblies/managing/assembly-working-with-resources.adoc
  documentation/modules/managing/con-custom-resources-info.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#3486 [DOC] Remove the old certificates after a renewal of Cluster CA
  documentation/modules/security/proc-renewing-ca-certs-manually.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3516 Upgrade Cruise Control for Kafka 2.6 support
  docker-images/kafka/kafka-thirdparty-libs/2.5.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/2.6.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/cc/pom.xml
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: cluster-balancing

#3414 Small typos & test CC for extra perf options
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControl.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControlConfiguration.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/CruiseControlTest.java
  docker-images/kafka/Dockerfile
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlConfigurationParameters.java
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlGoals.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/BundleResource.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
Labels: System tests, cluster-balancing, needs review

#3524 ST: Fix test which checks labels for cluster CMs
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#3522 [DOC] Accessibility improvements to Using Strimzi guide
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-with-plugins.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-deploying-cruise-control.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker.adoc
  documentation/modules/overview/con-kafka-concepts-components.adoc
  documentation/modules/overview/con-kafka-concepts-key.adoc
  documentation/modules/overview/con-kafka-concepts-producers-consumers.adoc
  documentation/modules/overview/con-overview-components-cluster-operator.adoc
  documentation/modules/overview/con-overview-components-kafka-bridge-clients.adoc
  documentation/modules/overview/con-overview-components-operators.adoc
  documentation/modules/overview/con-overview-components-topic-operator.adoc
  documentation/modules/security/proc-replacing-private-keys.adoc
  documentation/modules/security/ref-alternative-subjects-certs-for-listeners.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
  documentation/modules/tracing/con-overview-opentracing-jaeger.adoc
Labels: documentation, ready for merge, sme-review-needed

#3517 [systemtest] Change labels to use strimzi.io/kind instead of type
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
Labels: System tests, ready for merge

#3499 [MO] - [connects2i] -> with pull-secret
   
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
Labels: System tests, ready for merge

#3525 Add longer timeout option for CC STs
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
Labels: System tests, cluster-balancing, ready for merge

#3523 [systemtest] Add forgotten profile tags to tests
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClientTest.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
Labels: System tests, ready for merge

#3200 [systemtest][kafkabridge] Remove dependency of external listeners
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/ClientArgument.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/BridgeUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
Labels: System tests, ready for merge

#3528 [systemtest] Fix tests failing on ocp4.x
  api/src/main/java/io/strimzi/api/kafka/Crds.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: System tests, bug, needs review

#3501 Dynamic logging for connect
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractConfiguration.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityTopicOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/EntityUserOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBridgeCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/AbstractConnectOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectApi.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectApiImpl.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerConfigurationDiff.java
  cluster-operator/src/main/resources/kafkaConnectDefaultLoggingProperties
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/AbstractConfigurationTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2ClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/ConnectorMockTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectApiTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperatorTest.java
  documentation/api/io.strimzi.api.kafka.model.KafkaConnectSpec.adoc
  documentation/modules/con-kafka-connect-s2i-logging.adoc
  documentation/modules/overview/con-configuration-points-common.adoc
  operator-common/src/main/java/io/strimzi/operator/common/Annotations.java
  operator-common/src/main/java/io/strimzi/operator/common/Util.java
  operator-common/src/main/java/io/strimzi/operator/common/model/OrderedProperties.java
  operator-common/src/test/java/io/strimzi/operator/common/model/OrderedPropertiesTest.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: ready for merge

#3492 [DOC] clarify the config for mounting secrets as volumes
  documentation/modules/proc-kafka-connect-mounting-volumes.adoc
Labels: documentation, peer-review-done, sme-review-done

#3545 [ST] write debug log into file
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/main/resources/log4j2.properties
  systemtest/src/test/resources/log4j2.properties
Labels: ready for merge

#3469 Dynamcially changeable logging levels in Kafka
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerConfigurationDiff.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerLoggingConfigurationDiff.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaRoller.java
  cluster-operator/src/main/resources/kafkaDefaultLoggingProperties
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerConfigurationDiffTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerLoggingConfigurationDiffTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaRollerTest.java
  documentation/assemblies/assembly-external-logging.adoc
  documentation/modules/con-kafka-logging.adoc
  documentation/modules/proc-creating-configmap.adoc
  operator-common/src/main/java/io/strimzi/operator/common/Annotations.java
  operator-common/src/main/java/io/strimzi/operator/common/Util.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: ready for merge

#3548 [ST] move failsafe forkcount to zero
  api/src/test/java/io/strimzi/api/kafka/model/ExamplesTest.java
  pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaRebalanceResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/BundleResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/HelmResource.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/PrometheusST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorBaseIT.java
Labels: ready for merge

#3544 [systemtest] Fix for testDynamicallySetBridgeLoggingLevels
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/AllNamespacesST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/SingleNamespaceST.java
Labels: System tests, bug, ready for merge

#3541 [DOC] Contributing guide update to describe Custom Resource API Reference build
  documentation/contributing/introduction.adoc
  documentation/contributing/make-tooling.adoc
Labels: documentation, peer-review-done, sme-review-needed

#3531 System test flaky test fixes
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests

#3538 ST: change keycloak deployment in system tests
  jenkins.groovy
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/KafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/keycloak/KeycloakInstance.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/resources/oauth2/create_realm.sh
  systemtest/src/test/resources/oauth2/create_realm_authorization.sh
  systemtest/src/test/resources/oauth2/prepare_keycloak_operator.sh
  systemtest/src/test/resources/oauth2/teardown_keycloak_operator.sh
Labels: System tests, ready for merge

#3556 [systemtest][fix] Forgotten USER_PATH in tests
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
Labels: System tests, bug, needs review

#3554 [systemtest][fix] logCurrentResourceStatus NPE fix
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
Labels: System tests, ready for merge

#3546 [systemtest][upgrade] Attempt to deflake the upgrade tests and fix sending/receiving messages during upgrade
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/ClientArgument.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/VerifiableClient.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, bug, ready for merge

#3547 [DOC] enhancement for certificate renewal sections to clarify how validity periods are checked and managed
  documentation/modules/security/con-certificate-authorities.adoc
  documentation/modules/security/con-certificate-renewal.adoc
  documentation/modules/security/proc-renewing-ca-certs-manually.adoc
  documentation/modules/security/proc-renewing-your-own-ca-certificates.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#3555 [ST] test availability during nodes drain
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/annotations/MultiNodeClusterOnly.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/MultiNodeClusterOnlyCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/RequiredMinKubeApiVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/RequiredMinKubeApiVersionCondition.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/ClusterOperationST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#3552 MM2 dynamic logging changes
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaRoller.java
  cluster-operator/src/main/resources/kafkaMirrorMaker2DefaultLoggingProperties
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorMockTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorTest.java
  documentation/modules/mirrormaker2/proc-mirrormaker-replication.adoc
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: ready for merge

#3557 [ST] Upgrade tests methodsource + generated test name
  pom.xml
  systemtest/pom.xml
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: ready for merge

#3561 [ST] use junit5 extensionContext + code cleanup
  systemtest/src/main/java/io/strimzi/systemtest/interfaces/TestSeparator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/ZookeeperUpgradeST.java
Labels: ready for merge
