Repository strimzi/strimzi-kafka-operator, pull requests merged in 2021-02, with the labels that each got.

#4329 ST: Collect metrics in tests via helper pod instead of directly in specific component pod
  systemtest/src/main/java/io/strimzi/systemtest/resources/KubernetesResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#4341 Tests - rename cert with expired prefix
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/resources/security-st-certs/expired-clients-ca.crt
  systemtest/src/test/resources/security-st-certs/expired-cluster-ca.crt
Labels: System tests, ready for merge

#4328 [DOC] Kafka Connect migration edits
  documentation/modules/configuring/proc-config-kafka-connect-s2i-migration.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4353 [systemtest] Small fixes to the tests
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: System tests, ready for merge

#4339 [DOC] complete the Kafka status example
  documentation/contributing/introduction.adoc
  documentation/modules/configuring/proc-config-kafka-connect-s2i-migration.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/proc-configuring-kafka-user.adoc
Labels: documentation, peer-review-done, sme-review-needed

#4283 [systemtest] KafkaConnect Build systemtests
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectorResource.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
Labels: System tests, ready for merge

#4365 ST for creating a topic after failed reconciliation
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
Labels: ready for merge

#4359 SystemTests Generate and use Custom Cluster/ClientsCA
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertAndKeyBuilder.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#4280 External logging valueFrom
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/ExternalConfigurationReference.java
  api/src/main/java/io/strimzi/api/kafka/model/ExternalLogging.java
  api/src/main/java/io/strimzi/api/kafka/model/JmxPrometheusExporterMetrics.java
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1beta1.yaml
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/AbstractConnectOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaBridgeAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMakerAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/MetricsAndLoggingCm.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2ClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMakerClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorUnsupportedFieldsTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaStatusTest.java
  crd-generator/src/main/java/io/strimzi/crdgenerator/DocGenerator.java
  documentation/api/io.strimzi.api.kafka.model.EntityTopicOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.EntityUserOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaBridgeSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaConnectSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaMirrorMakerSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.ZookeeperClusterSpec.adoc
  documentation/assemblies/configuring/assembly-external-logging.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/configuring/proc-creating-configmap.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/042-Crd-kafkaconnects2i.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/045-Crd-kafkamirrormaker.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  install/cluster-operator/040-Crd-kafka.yaml
  install/cluster-operator/041-Crd-kafkaconnect.yaml
  install/cluster-operator/042-Crd-kafkaconnects2i.yaml
  install/cluster-operator/045-Crd-kafkamirrormaker.yaml
  install/cluster-operator/046-Crd-kafkabridge.yaml
  install/cluster-operator/048-Crd-kafkamirrormaker2.yaml
  operator-common/src/main/java/io/strimzi/operator/common/MetricsAndLogging.java
  operator-common/src/main/java/io/strimzi/operator/common/Util.java
  operator-common/src/main/java/io/strimzi/operator/common/model/ValidationVisitor.java
  operator-common/src/test/java/io/strimzi/operator/common/model/ValidationVisitorTest.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: ready for merge

#4349 Deprecate KafkaConnectS2I
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/KafkaConnectS2I.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectS2ICluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/AbstractConnectOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectS2IAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/ResourceOperatorSupplier.java
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/configuring/proc-config-kafka-connect-s2i-migration.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-openshift-builds-image.adoc
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectS2IUtils.java
Labels: ready for merge

#4369 Custom ClusterCA ClientsCA should regenerate end certificates
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#4378 [DOC] Edit the doc for disabling `OwnerReference` in Cluster and Clients Secrets
  api/src/main/java/io/strimzi/api/kafka/model/CertificateAuthority.java
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1.yaml
  api/src/test/resources/io/strimzi/api/kafka/model/040-Crd-kafka-crdApi-v1beta1.yaml
  documentation/modules/appendix_crds.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
  helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4368 ST: Add new upgrade tests and improve current methods
  .azure/scripts/setup_upgrade.sh
  .jenkins/Jenkinsfile-pr
  development-docs/RELEASE.md
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaBasicExampleClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaBridgeExampleClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestKafkaVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.json
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
  test-container/src/main/resources/kafka-versions.txt
  test/src/main/java/io/strimzi/test/k8s/cluster/OpenShift.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Kubectl.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Oc.java
Labels: System tests, ready for merge

#4372 [DOC] Update to config examples for new JMX support
  api/src/main/java/io/strimzi/api/kafka/model/KafkaJmxOptions.java
  documentation/api/io.strimzi.api.kafka.model.KafkaClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaJmxOptions.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4382 NEW(Tests) Loggers settings with variables #4340
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, ready for merge

#4398 [systemtest] NamespaceDeletionRecoveryST fixes and enhancements
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
Labels: System tests, ready for merge

#4402 ST: use full path for images during upgrade/downgrade
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/OlmResource.java
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.json
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
Labels: System tests, ready for merge

#4409 [systemtest] NetworkPoliciesST - enable NP for KafkaExporter
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: System tests, ready for merge

#4390 [DOC] config for log message and inter-broker protocol versions
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4423 Increase timeout for azure build to 80 minutes
  .azure/build-pipeline.yaml
Labels: ready for merge

#4386 [DOC] General edits to the upgrading Strimzi documentation
  documentation/assemblies/upgrading/assembly-upgrade-kafka-cluster-operator.adoc
  documentation/assemblies/upgrading/assembly-upgrade-kafka-versions.adoc
  documentation/assemblies/upgrading/assembly-upgrade-kafka.adoc
  documentation/assemblies/upgrading/assembly-upgrade.adoc
  documentation/modules/upgrading/con-upgrade-listeners.adoc
  documentation/modules/upgrading/con-upgrade-strategies-for-upgrading-clients.adoc
  documentation/modules/upgrading/con-upgrade-versions-and-images.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
  documentation/modules/upgrading/proc-upgrade-cluster-operator.adoc
  documentation/modules/upgrading/proc-upgrading-consumers-streams-cooperative-rebalancing.adoc
  documentation/modules/upgrading/ref-upgrade-kafka-versions.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4391 [systemtest] ConnectBuilderST fixes
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
Labels: System tests, ready for merge

#4435 [setup-kubernetes.sh] Add check when KUBE_VERSION is set to latest
  .azure/scripts/setup-kubernetes.sh
Labels: ready for merge

#4418 [DOC] make the certificate and keys renewal procedures clearer
  documentation/assemblies/security/assembly-security.adoc
  documentation/modules/security/con-certificate-renewal.adoc
  documentation/modules/security/proc-renewing-ca-certs-manually.adoc
  documentation/modules/security/proc-renewing-your-own-ca-certificates.adoc
  documentation/modules/security/proc-replacing-private-keys.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4427 [DOC] Edits to connector/task restart operations doc
  documentation/modules/configuring/proc-manual-restart-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-connector.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-managing-connectors.adoc
  documentation/modules/proc-manual-restart-mirrormaker2-connector-task.adoc
  documentation/modules/proc-manual-restart-mirrormaker2-connector.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4388 Setup minikube with internal registry
  .azure/regression-pipeline.yaml
  .azure/scripts/setup-kubernetes.sh
  .azure/scripts/setup_upgrade.sh
  .azure/templates/default_variables.yaml
  .azure/templates/system_test_general.yaml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/resources/oauth2/create_realm.sh
  systemtest/src/test/resources/oauth2/create_realm_authorization.sh
  systemtest/src/test/resources/oauth2/prepare_keycloak_operator.sh
  systemtest/src/test/resources/oauth2/teardown_keycloak_operator.sh
Labels: ready for merge

#4456 [systemtest] Add checks for CRB labels and annotations in Kafka and KafkaConnect
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#4452 ST: refactor and improve TracingST
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaTracingExampleClients.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/resources/file/sink/connector.json
  systemtest/src/test/resources/tracing/jaeger-instance.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/jaegertracing.io_jaegers_crd.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/operator.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/role.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/role_binding.yaml
  systemtest/src/test/resources/tracing/jaeger-operator/service_account.yaml
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: ready for merge

#4453 ST: Use cmd client for deploy in upgrade tests
  api/src/test/resources/io/strimzi/api/kafka/model/047-Crd-kafkaconnector.yaml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestKafkaVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.json
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: System tests, ready for merge

#4463 [Test] Restores the offsets transferred by MirrorMaker2 to the consumer group on the target cluster
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaBasicExampleClients.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge
