Repository strimzi/strimzi-kafka-operator, pull requests merged in 2021-07, with the labels that each got.

#5137 [MO] - [system test] -> rbac support
  systemtest/src/main/java/io/strimzi/systemtest/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#5222 [systemtest] Add 0.24.0 to upgrade tests
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.json
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
Labels: System tests, ready for merge

#5238 [DOC] kafka static quota plugin
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/modules/managing/con-broker-config-properties.adoc
  documentation/modules/managing/proc-setting-broker-limits.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#5221 [DOC] Update to standalone operator deployment sections
  documentation/assemblies/deploying/assembly-deploy-create-cluster.adoc
  documentation/assemblies/deploying/assembly-deploy-standalone-operators.adoc
  documentation/modules/deploying/con-deploy-options-order.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#5178 [DOC] Passing proxy config from the Cluster Operator
  documentation/assemblies/operators/assembly-using-the-cluster-operator.adoc
  documentation/modules/operators/proc-configuring-proxy-config-cluster-operator.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#5226 [DOC] update quotas doc with partition mutation
  documentation/api/io.strimzi.api.kafka.model.KafkaUserQuotas.adoc
  documentation/modules/con-securing-client-authorization.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#5278 [systemtest] Add stability wait into `testLoggingHierarchy` and fix race condition
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, ready for merge

#5266 ST: Apply Roles when CO use namespace-rbac and cluster wide options properly
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/RoleBindingResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/RoleResource.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#5262 [MO] - [system test] -> oauth scope
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/resources/oauth2/create_realm_scope_audience.sh
  systemtest/src/test/resources/oauth2/prepare_keycloak_operator.sh
Labels: System tests, ready for merge

#5228 Copy systests imagePullSecrets from default-ns to target-ns
  systemtest/src/main/java/io/strimzi/systemtest/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/BundleResource.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaClientsTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: System tests

#5284 [MO] - [Parallel namespace test] -> TracingST
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/TracingUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/resources/tracing/jaeger-instance.yaml
  systemtest/src/test/resources/tracing/operator-files/jaeger-operator.yaml
Labels: System tests, ready for merge

#5259 Add explanation for `enablePlain` in `no-client-credentials` mode when `tokenEndpointUri` is not set
  api/src/main/java/io/strimzi/api/kafka/model/listener/KafkaListenerAuthenticationOAuth.java
  documentation/modules/appendix_crds.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, peer-review-done, sme-review-done

#5291 [systemtest] TracingUtils - add note about service kind (Jaeger service) in waitFor error
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/TracingUtils.java
Labels: System tests, ready for merge

#5290 [systemtest] Refactor metrics test - add MetricsCollector (builder) and wait for metrics
  systemtest/src/main/java/io/strimzi/systemtest/metrics/MetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ComponentType.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: System tests, ready for merge

#5283 [MO] - [system test] -> fixes flakiness of UserST, RollingUpdateST
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaUserTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, bug, ready for merge

#5298 [DOC] Edits to Managing policies and permissions in Keycloak Authorization Services
  documentation/assemblies/oauth/assembly-managing-policies-permissions-keycloak.adoc
  documentation/assemblies/oauth/assembly-oauth-authorization.adoc
  documentation/modules/oauth/con-kafka-keycloak-authz-models.adoc
  documentation/modules/oauth/con-mapping-keycloak-authz-services-to-kafka-model.adoc
  documentation/modules/oauth/con-oauth-authorization-keycloak-authorization-services.adoc
  documentation/modules/oauth/ref-example-permissions-for-kafka-operations.adoc
Labels: documentation, peer-review-done, sme-review-done

#5304 [systemtest] Add test for predefining SCRAM-SHA user password
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
Labels: System tests, ready for merge

#5318 [MO] - [system test] -> unify installation
  systemtest/src/main/java/io/strimzi/systemtest/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/BundleResource.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceRbacScopeOperatorST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#5322 Dependency updates
  pom.xml
Labels: ready for merge

#5294 [DOC] Adds tls-external to user authentication concepts
  documentation/assemblies/assembly-securing-kafka-clients.adoc
  documentation/modules/con-securing-client-authentication.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#5292 [systemtest] Fixups for tests
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
Labels: System tests, ready for merge

#5287 [DOC] Keycloak example edit
  documentation/assemblies/oauth/assembly-managing-policies-permissions-keycloak.adoc
  documentation/assemblies/oauth/assembly-oauth-authorization.adoc
  documentation/modules/oauth/con-mapping-keycloak-authz-services-to-kafka-model.adoc
  documentation/modules/oauth/con-oauth-authorization-keycloak-authorization-services.adoc
  documentation/modules/oauth/con-oauth-authorization-keycloak-example.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/oauth/proc-oauth-authorization-broker-config.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4448 Add OLM manifest generator scripts
  .azure/scripts/shellcheck.sh
  .gitignore
  tools/multi-platform-support.sh
  tools/olm-bundle/Makefile
  tools/olm-bundle/README.md
  tools/olm-bundle/csv-template/bases/strimzi-cluster-operator.clusterserviceversion.yaml
  tools/olm-bundle/generate-olm-bundle.sh
Labels: docker images, enhancement
