Repository strimzi/strimzi-kafka-operator, pull requests merged in 2021-12, with the labels that each got.

#5966 docs: drain cleaner image
  documentation/modules/con-common-configuration-properties.adoc
  documentation/shared/attributes.adoc
  documentation/snip-images.sh
Labels: documentation, sme-review-needed

#5975 [systemtest] OLM - fix for wrong operator group and missing pull secret
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/main/resources/olm/operator-group.yaml
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
Labels: System tests, ready for merge

#5976 docs: add drain cleaner image (0.26 branch)
  documentation/modules/con-common-configuration-properties.adoc
  documentation/shared/attributes.adoc
  documentation/snip-images.sh
Labels: documentation

#5905 docs: cruise control monitoring
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/metrics/con-metrics-cruise-control.adoc
  documentation/modules/metrics/proc-metrics-kafka-deploy-options.adoc
  documentation/modules/metrics/ref-prometheus-metrics-config.adoc
  documentation/modules/overview/con-overview-components-cluster-operator.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-done, sme-review-done

#6055 docs: minor updates from review
  documentation/api/io.strimzi.api.kafka.model.connect.ExternalConfiguration.adoc
  documentation/modules/upgrading/proc-upgrade-cluster-operator.adoc
  documentation/modules/upgrading/proc-upgrading-consumers-streams-cooperative-rebalancing.adoc
  documentation/modules/upgrading/ref-upgrade-kafka-versions.adoc
Labels: documentation, sme-review-needed

#6044 docs: list components with example alerting rules
  documentation/modules/metrics/ref_metrics-alertmanager-examples.adoc
Labels: documentation, sme-review-needed

#6036 docs: contributing - reviews and examples
  documentation/contributing/contributor-guide.adoc
  documentation/contributing/styleguide.adoc
  documentation/shared/ref-document-conventions.adoc
Labels: documentation, peer-review-needed

#6088 docs: updates the curl commands for connect api
  documentation/modules/configuring/con-exposing-kafka-connect-api.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
Labels: documentation

#6077 docs: context for resources config
  documentation/modules/con-common-configuration-properties.adoc
  documentation/shared/images/common-config-resources.png
Labels: documentation, sme-review-needed
