Repository strimzi/strimzi-kafka-operator, pull requests merged in 2021-09, with the labels that each got.

#5500 ST: Improve log collecting in case of test failure
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollect.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/logs/CollectorElement.java
Labels: System tests, ready for merge

#5509 [systemtest] Add proper wait for `Job` to be ready
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/JobResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/JobUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
Labels: bug, System tests, ready for merge

#5518 ST: Add system test for STRIMZI_NETWORK_POLICY_GENERATION env var
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: System tests, ready for merge

#5526 [systemtest] Check for configurable SCRAM-SHA user password
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
Labels: System tests, ready for merge

#5532 [systemtest] Use `defaultImageRegistry`, `defaultImageRepository` and `defaultImageTag` in Helm resource
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/HelmResource.java
Labels: System tests, ready for merge

#5523 [systemtest][jenkins] Add new profiles - operators and components
  .jenkins/Jenkinsfile-pr
  .jenkins/jenkins.groovy
  development-docs/TESTING.md
  systemtest/pom.xml
Labels: System tests, ready for merge

#5484 docs: partition reassignment with TLS
  documentation/assemblies/configuring/assembly-scaling-clusters.adoc
  documentation/modules/configuring/con-partition-reassignment.adoc
  documentation/modules/configuring/con-reassignment-throttles.adoc
  documentation/modules/configuring/con-scaling-kafka-clusters.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/managing/con-broker-config-properties.adoc
  documentation/modules/security/proc-configuring-external-clients-to-trust-cluster-ca.adoc
Labels: documentation, peer-review-done, sme-review-done, ready for merge

#5541 [systemtest][upgrade] "Fix" upgrade tests when running on k8s server version > 1.21
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
Labels: System tests, ready for merge

#5543 Remove last `minishift` class and references from tests and `TESTING.md`
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/annotations/OpenShiftOnlyCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minikube.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minishift.java
Labels: System tests, ready for merge

#5414 [MO] - upgrading test-container to be more flexible + multinode support
  .azure/scripts/build.sh
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectorIT.java
  test-container/pom.xml
  test-container/src/main/java/io/strimzi/test/container/StrimziKafkaCluster.java
  test-container/src/main/java/io/strimzi/test/container/StrimziKafkaContainer.java
  test-container/src/main/java/io/strimzi/test/container/StrimziZookeeperContainer.java
  test-container/src/main/java/io/strimzi/utils/TestUtils.java
  test-container/src/main/java/io/strimzi/utils/WaitException.java
  test-container/src/test/java/io/strimzi/test/container/StrimziKafkaClusterTest.java
  test-container/src/test/java/io/strimzi/test/container/StrimziKafkaContainerTest.java
  test-container/src/test/java/io/strimzi/test/container/StrimziZookeeperContainerTest.java
Labels: ready for merge

#5528 docs: replace certificates in pkcs12 format
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
Labels: documentation, peer-review-done, sme-review-done, ready for merge

#5550 [systemtest] Add test for Maven coords plugin in Connect build
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
Labels: System tests, ready for merge

#5534 docs: highlight access to example configuration files
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/assemblies/deploying/assembly-deploy-intro-custom-resources.adoc
  documentation/assemblies/deploying/assembly-deploy-tasks-prep.adoc
  documentation/assemblies/metrics/assembly_metrics-cruise-control.adoc
  documentation/assemblies/metrics/assembly_metrics-kafka-bridge.adoc
  documentation/assemblies/metrics/assembly_metrics-prometheus-alertmanager.adoc
  documentation/assemblies/overview/assembly-configuration-points.adoc
  documentation/assemblies/overview/assembly-key-features.adoc
  documentation/modules/con-product-downloads.adoc
  documentation/modules/deploying/con-deploy-examples.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-managing-connectors.adoc
  documentation/modules/deploying/proc-deploy-kafka-bridge.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/modules/metrics/con_metrics-alertmanager-options.adoc
  documentation/modules/metrics/proc_metrics-deploying-grafana.adoc
  documentation/modules/metrics/proc_metrics-deploying-prometheus-alertmanager.adoc
  documentation/modules/metrics/proc_metrics-deploying-prometheus.adoc
  documentation/modules/metrics/proc_metrics-grafana-dashboard.adoc
  documentation/modules/metrics/ref_metrics-config-files.adoc
  documentation/modules/oauth/con-mapping-keycloak-authz-services-to-kafka-model.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#5553 doc: Minor addition to Network Policy Generation doc
  documentation/modules/con-securing-kafka-authentication.adoc
Labels: documentation, ready for merge

#5561 Fix javadoc after latest PR
  crd-generator/src/main/java/io/strimzi/crdgenerator/annotations/Pattern.java
Labels: ready for merge

#5584 [MO] - [fix] -> list specific user
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: bug, System tests

#5576 [MO] - [system test] -> KafkaUser tls external
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaUserTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, ready for merge

#5556 docs: scaling procedures updates
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/configuring/proc-scaling-down-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scaling-up-a-kafka-cluster.adoc
  documentation/modules/configuring/snip-reassign-partitions.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#5546 [systemtest][azp] Add azp profiles to pom
  .azure/templates/jobs/acceptance_helm_jobs.yaml
  .azure/templates/jobs/acceptance_helm_namespace_rbac_jobs.yaml
  .azure/templates/jobs/acceptance_jobs.yaml
  .azure/templates/jobs/acceptance_namespace_rbac_jobs.yaml
  .azure/templates/jobs/feature_gates_regression_jobs.yaml
  .azure/templates/jobs/feature_gates_regression_namespace_rbac_jobs.yaml
  .azure/templates/jobs/regression_jobs.yaml
  .azure/templates/jobs/regression_namespace_rbac_jobs.yaml
  .azure/templates/jobs/upgrade_jobs.yaml
  .azure/templates/steps/system_test_general.yaml
  systemtest/pom.xml
Labels: System tests, ready for merge

#5593 Add UTs for configuring init container section in Kafka and KafkaConnect
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
Labels: needs review

#5590 [systemtest] Rewrite External Kafka Clients
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/KafkaClientOperations.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/clientproperties/AbstractKafkaClientProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/BasicExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/ClientHandlerBase.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Consumer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/ExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/OauthExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/Producer.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/TracingExternalKafkaClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfigurationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: System tests, ready for merge

#5606 [systemtest] Upgrade - fix check if Kafka version is in supported Kafka versions list
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestKafkaVersion.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#5492 [tests] Throttle Topic create/delete/update operations KIP-599
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/AdminClientOperations.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaAdminClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/JobUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
Labels: System tests

#5531 Alter multiple scram/tls users using UO
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests

#5629 docs: Add a note for DBZ connectors
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
Labels: documentation, ready for merge
