Repository strimzi/strimzi-kafka-operator, pull requests merged in 2021-08, with the labels that each got.

#5397 [DOC] Clarify that `*` can be used as a wildcard in ACL rules
  documentation/api/io.strimzi.api.kafka.model.AclRule.adoc
Labels: documentation

#5399 [systemtest] Logging hierarchy - sync changes from `main` branch into `release-0.24.x` and deal with flakiness
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, ready for merge

#5392 Update tags and make client examples images configurable
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaBasicExampleClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/kafkaclients/KafkaTracingExampleClients.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
Labels: ready for merge

#5408 Init Container uses same value of resources as kafka resources
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
Labels: ready for merge

#5417 [jenkins] Add building of Kafka config models to PR job
  .jenkins/Jenkinsfile-pr
  .jenkins/jenkins.groovy
Labels: ready for merge

#5421 [systemtest] Add 0.25.0 to upgrade and downgrade tests
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.json
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
Labels: needs review, System tests

#5462 ST: Re-enable CO metrics system test after fixes
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests, ready for merge

#5463 docs: remove S2I references
  documentation/api/io.strimzi.api.kafka.model.KafkaConnectSpec.adoc
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/operators/assembly-using-the-cluster-operator.adoc
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/assemblies/tracing/assembly-setting-up-tracing-mirror-maker-connect-bridge.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#5456 ST: Watch multiple namespaces in case CO is installed via helm
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/HelmResource.java
  test/src/main/java/io/strimzi/test/k8s/HelmClient.java
Labels: System tests, ready for merge
