Repository strimzi/strimzi-kafka-operator, pull requests merged in 2021-01, with the labels that each got.

#4175 [systemtest] Test of manual rolling update of single ZK or Kafka pod
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#3981 [DOC] Guidelines for downgrade
  documentation/assemblies/upgrading/assembly-downgrade-kafka-versions.adoc
  documentation/assemblies/upgrading/assembly-downgrade.adoc
  documentation/assemblies/upgrading/assembly-upgrade-kafka-versions.adoc
  documentation/assemblies/upgrading/assembly-upgrade-kafka.adoc
  documentation/deploying/master.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/oauth/proc-oauth-authorization-broker-config.adoc
  documentation/modules/upgrading/con-downgrade-target-version.adoc
  documentation/modules/upgrading/proc-downgrade-brokers-older-kafka.adoc
  documentation/modules/upgrading/proc-downgrade-cluster-operator.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
  documentation/modules/upgrading/proc-upgrade-cluster-operator.adoc
Labels: documentation, peer-review-done, sme-review-needed

#4092 [MO] - [1st step paralelism] - random names for all resources
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaRebalanceResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfigurationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfigurationSharedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/BackwardsCompatibleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/ClusterOperationST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
  test-container/src/main/resources/kafka-versions.txt
Labels: System tests, ready for merge

#4203 Remove admin context for oc client in IT/STs
  development-docs/TESTING.md
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Kubectl.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/Oc.java
Labels: ready for merge

#4226 Fix upgrade tests and remove test cases which are not supported
  systemtest/src/main/resources/StrimziUpgradeST.json
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
Labels: System tests, ready for merge

#4227 Remove Helm 2 support
  .azure/scripts/setup-helm.sh
  .gitignore
  CHANGELOG.md
  Makefile
  development-docs/DEV_GUIDE.md
  helm-charts/helm2/Makefile
  helm-charts/helm2/strimzi-kafka-operator/.helmignore
  helm-charts/helm2/strimzi-kafka-operator/Chart.yaml
  helm-charts/helm2/strimzi-kafka-operator/OWNERS
  helm-charts/helm2/strimzi-kafka-operator/README.md
  helm-charts/helm2/strimzi-kafka-operator/templates/010-ServiceAccount-strimzi-cluster-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/020-ClusterRole-strimzi-cluster-operator-role.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/020-RoleBinding-strimzi-cluster-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/021-ClusterRole-strimzi-cluster-operator-role.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/021-ClusterRoleBinding-strimzi-cluster-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/030-ClusterRole-strimzi-kafka-broker.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/030-ClusterRoleBinding-strimzi-cluster-operator-kafka-broker-delegation.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/031-ClusterRole-strimzi-entity-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/031-RoleBinding-strimzi-cluster-operator-entity-operator-delegation.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/032-ClusterRole-strimzi-topic-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/032-RoleBinding-strimzi-cluster-operator-topic-operator-delegation.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/033-ClusterRole-strimzi-kafka-client.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/033-ClusterRoleBinding-strimzi-cluster-operator-kafka-client-delegation.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/040-Crd-kafka.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/041-Crd-kafkaconnect.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/042-Crd-kafkaconnects2i.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/043-Crd-kafkatopic.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/044-Crd-kafkauser.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/045-Crd-kafkamirrormaker.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/046-Crd-kafkabridge.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/047-Crd-kafkaconnector.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/048-Crd-kafkamirrormaker2.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/049-Crd-kafkarebalance.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/050-ConfigMap-strimzi-cluster-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/060-Deployment-strimzi-cluster-operator.yaml
  helm-charts/helm2/strimzi-kafka-operator/templates/NOTES.txt
  helm-charts/helm2/strimzi-kafka-operator/templates/_helpers.tpl
  helm-charts/helm2/strimzi-kafka-operator/templates/_kafka_image_map.tpl
  helm-charts/helm2/strimzi-kafka-operator/values.yaml
  helm-charts/helm3/Makefile
  install/Makefile
Labels: ready for merge

#4230 Fix Jenkins PR pipeline
  .jenkins/jenkins.groovy
Labels: ready for merge

#4220 [systemtest] Add checks to deprecated MetricsST tests
  examples/metrics/kafka-connect-metrics.yaml
  examples/metrics/kafka-mirror-maker-2-metrics.yaml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectS2IResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: System tests, ready for merge

#4240 [systemtest] Fix of failing tests after last PRs
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/OpenShiftTemplatesST.java
Labels: System tests, ready for merge

#4246 Change namespace name for bc-listener tests
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/BackwardsCompatibleListenersST.java
Labels: System tests, ready for merge

#4207 [DOC] procedures for manually triggering rolling updates
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/assemblies/managing/assembly-rolling-updates.adoc
  documentation/modules/configuring/proc-configuring-maintenance-time-windows.adoc
  documentation/modules/configuring/proc-manual-rolling-update-kafka.adoc
  documentation/modules/configuring/proc-manual-rolling-update-zookeeper.adoc
  documentation/modules/managing/proc-manual-rolling-update-pods.adoc
  documentation/modules/managing/proc-manual-rolling-update-statefulset.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4245 Remove unused scripts from test-client image
  docker-images/test-client/Dockerfile
  docker-images/test-client/scripts/dynamic_resources.sh
  docker-images/test-client/scripts/launch_java.sh
Labels: System tests, ready for merge

#4261 Fix the network-policies handling when metrics config from CM is used
  api/src/main/java/io/strimzi/api/kafka/model/AbstractKafkaConnectSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/CruiseControlSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/HasConfigurableMetrics.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMakerSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/ZookeeperClusterSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControl.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaMirrorMakerCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ModelUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ZookeeperCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/CruiseControlTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectS2IClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2ClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMakerClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ZookeeperClusterTest.java
Labels: bug

#4188 [DOC] Source and sink connector configuration using KafkaConnectors
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
Labels: documentation, peer-review-done, sme-review-done

#4290 [Doc] Namespace for KafkaConnectors and Kafka Connect
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-managing-connectors.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-using-kafka-connect-build.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
  documentation/modules/proc-manual-restart-connector-task.adoc
  documentation/modules/proc-manual-restart-connector.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4211 [DOC] Update jvmoptions section
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/upgrading/con-downgrade-target-version.adoc
Labels: documentation, peer-review-done, ready for merge, sme-review-done

#4262 Trigger user-certificate renewal even when it expires independently on the CA
  user-operator/src/main/java/io/strimzi/operator/user/model/KafkaUserModel.java
Labels: bug

#4296 ST: Change connector in s2i tests and make it working again
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectS2IST.java
Labels: System tests, ready for merge

#4274 [DOC] OAuth doc format updates and edit
  documentation/modules/oauth/con-oauth-authorization-keycloak-authorization-services.adoc
  documentation/modules/oauth/con-oauth-authorization-keycloak-example.adoc
Labels: documentation, peer-review-done, sme-review-needed

#4310 [DOC] Migrating Kafka Connect S2I to Kafka Connect
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/modules/configuring/proc-config-kafka-connect-s2i-migration.adoc
  documentation/modules/configuring/proc-manual-restart-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-connector.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-openshift-builds-image.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#4307 Dynamic generation of certificates used in system tests
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/security/CertAndKeyFiles.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertAndKey.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertAndKeyBuilder.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/resources/custom-certs/ver1/chain/clients-bundle.crt
  systemtest/src/test/resources/custom-certs/ver1/chain/clients-key.pem
  systemtest/src/test/resources/custom-certs/ver1/chain/strimzi-bundle.crt
  systemtest/src/test/resources/custom-certs/ver1/chain/strimzi-key.pem
  systemtest/src/test/resources/custom-certs/ver1/clients/clients.key
  systemtest/src/test/resources/custom-certs/ver1/clients/clients.pem
  systemtest/src/test/resources/custom-certs/ver1/intermediate/intermediate-key.pem
  systemtest/src/test/resources/custom-certs/ver1/intermediate/intermediate.key
  systemtest/src/test/resources/custom-certs/ver1/intermediate/intermediate.pem
  systemtest/src/test/resources/custom-certs/ver1/root/ca-key.pem
  systemtest/src/test/resources/custom-certs/ver1/root/ca.key
  systemtest/src/test/resources/custom-certs/ver1/root/ca.pem
  systemtest/src/test/resources/custom-certs/ver1/strimzi/strimzi.key
  systemtest/src/test/resources/custom-certs/ver1/strimzi/strimzi.pem
  systemtest/src/test/resources/custom-certs/ver2/chain/clients-bundle.crt
  systemtest/src/test/resources/custom-certs/ver2/chain/clients-key.pem
  systemtest/src/test/resources/custom-certs/ver2/chain/strimzi-bundle.crt
  systemtest/src/test/resources/custom-certs/ver2/chain/strimzi-key.pem
  systemtest/src/test/resources/custom-certs/ver2/clients/clients.key
  systemtest/src/test/resources/custom-certs/ver2/clients/clients.pem
  systemtest/src/test/resources/custom-certs/ver2/intermediate/intermediate-key.pem
  systemtest/src/test/resources/custom-certs/ver2/intermediate/intermediate.key
  systemtest/src/test/resources/custom-certs/ver2/intermediate/intermediate.pem
  systemtest/src/test/resources/custom-certs/ver2/root/ca-key.pem
  systemtest/src/test/resources/custom-certs/ver2/root/ca.key
  systemtest/src/test/resources/custom-certs/ver2/root/ca.pem
  systemtest/src/test/resources/custom-certs/ver2/strimzi/strimzi.key
  systemtest/src/test/resources/custom-certs/ver2/strimzi/strimzi.pem
Labels: ready for merge

#4319 Update Cruise Control to 2.5.32
  CHANGELOG.md
  cluster-operator/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/2.5.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/2.6.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/2.7.x/pom.xml
  docker-images/kafka/kafka-thirdparty-libs/cc/pom.xml
Labels: cluster-balancing

#4298 [DOC] Add build config to example Kafka Connect config procedure
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
Labels: documentation, peer-review-done, sme-review-needed

#4325 Tests - Cluster/ClientsCA validity changes, renew certs
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#4340 Kafka log level expansion fix
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerLoggingConfigurationDiff.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaBrokerLoggingConfigurationDiffTest.java
Labels: ready for merge

#4239 [DOC] Improve presentation of the schema content in the Using Guide
  crd-generator/src/main/java/io/strimzi/crdgenerator/DocGenerator.java
  documentation/api/io.strimzi.api.kafka.model.authentication.KafkaClientAuthenticationOAuth.adoc
  documentation/api/io.strimzi.api.kafka.model.authentication.KafkaClientAuthenticationTls.adoc
  documentation/api/io.strimzi.api.kafka.model.connect.build.Build.adoc
  documentation/api/io.strimzi.api.kafka.model.template.PodTemplate.adoc
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/managing/con-cluster-operator-faqs.adoc
  documentation/using/master.adoc
Labels: documentation, peer-review-done, sme-review-needed
