Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-07, with the labels that each got.

#6986 docs: operators and clusters to watch
  documentation/assemblies/configuring/assembly-kafka-entity-operator.adoc
  documentation/assemblies/deploying/assembly-deploy-create-cluster.adoc
  documentation/assemblies/operators/assembly-operators.adoc
  documentation/modules/configuring/con-configuring-topic-operator.adoc
  documentation/modules/configuring/con-configuring-user-operator.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/modules/operators/con-operators-namespaces.adoc
  documentation/modules/operators/ref-operator-topic.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7015 docs: cruise control overview edit
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-configuring-deploying-cruise-control.adoc
Labels: documentation, sme-review-needed

#7026 docs: format updates to MM2 topic references
  documentation/modules/configuring/con-config-mirrormaker2-replication.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker.adoc
Labels: documentation, sme-review-needed

#7017 docs: restart events doc edit
  documentation/assemblies/deploying/assembly-deploy-restart-events.adoc
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/deploying/proc-operator-restart-events.adoc
  documentation/modules/deploying/ref-operator-restart-events-fields.adoc
  documentation/modules/deploying/ref-operator-restart-events-reasons.adoc
  documentation/modules/metrics/proc-operator-restart-events.adoc
  documentation/modules/operators/ref-operator-cluster.adoc
Labels: documentation, peer-review-done, sme-review-needed

#7022 docs: adds a description of cc modes to the overview
  documentation/modules/overview/con-metrics-overview-tools.adoc
Labels: documentation, sme-review-needed

#6930 [systemtest] Update version of `test-clients` and client's Kafka version
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/oauth2/create_realm_authorization.sh
Labels: System tests, ready for merge

#7006 docs: updates for MM2 handling large message volumes
  documentation/modules/configuring/con-config-mirrormaker2-high-volume-messages.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7025 docs: adds section that describes the MM2 producers and consumers
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/modules/configuring/con-config-mirrormaker2-producers-consumers.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7062 docs(mm2): error when consumer groups are in the target cluster
  documentation/modules/configuring/con-config-mirrormaker2-replication.adoc
Labels: documentation, sme-review-needed

#6997 [ST] Extend existing JMX systemtest to check JmxTrans logging functionality
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxIsolatedST.java
Labels: System tests

#7103 [docs] Fix minor typo in restart events doc
  documentation/modules/deploying/proc-operator-restart-events.adoc
Labels: documentation, ready for merge

#7097 docs(review): Edits from doc review
  api/src/main/java/io/strimzi/api/kafka/model/KafkaClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/ZookeeperClusterSpec.java
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/assemblies/deploying/assembly-deploy-create-cluster.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, sme-review-needed

#7102 [systemtest] Copy custom pull-secret for all installation of CO to CO namespaces
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
Labels: System tests, ready for merge

#7076 [systemtest] Add strimzi 0.30.0 to upgrade/downgrade tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.yaml
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: System tests, ready for merge

#7087 docs(mm2): Describes adding tasks for consumer group offset sync
  documentation/modules/configuring/con-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/con-config-mirrormaker2-tasks-max.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7078 docs(MM2 and Kafka Connect): Config for high-volume messages
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/assemblies/managing/assembly-tuning-config.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/configuring/con-config-mirrormaker2-high-volume-messages.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/managing/con-broker-config-properties.adoc
  documentation/modules/managing/con-consumer-config-properties.adoc
  documentation/modules/managing/con-producer-config-properties.adoc
Labels: peer-review-needed, sme-review-needed

#7109 [ST] Fix JmxTrans flaky test
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/JmxUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxIsolatedST.java
Labels: System tests

#7120 docs(deployment): Adds summary of options for file-based install
  documentation/assemblies/deploying/assembly-deploy-cluster-operator.adoc
  documentation/assemblies/deploying/assembly-deploy-create-cluster.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-bridge.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-cluster.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-mirror-maker.adoc
  documentation/assemblies/deploying/assembly-deploy-standalone-operators.adoc
  documentation/assemblies/deploying/assembly-deploy-tasks.adoc
  documentation/modules/deploying/con-deploy-cluster-operator-watch-options.adoc
  documentation/modules/deploying/con-deploy-options-order.adoc
  documentation/modules/deploying/con-deploy-paths.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-multiple-namespaces.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-namespace.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-whole-cluster.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/shared/snip-cluster-operator-namespace-sed.adoc
Labels: documentation, sme-review-needed
