Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-01, with the labels that each got.

#6139 docs: updates jaeger attributes and links
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/modules/tracing/ref-tracing-environment-variables.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#6138 [systemtest] Separate Kafka version of test-clients from broker Kafka version
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
Labels: System tests, ready for merge

#6148 docs: describe the env var config provider
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/configuring/assembly-external-config.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/proc-loading-config-from-config-map.adoc
  documentation/modules/configuring/proc-loading-config-from-env-vars.adoc
  documentation/modules/configuring/proc-loading-config-with-provider.adoc
  documentation/using/using.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#6140 [systemtest] Add test for KMM2 reflecting connectors state
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaMirrorMaker2Utils.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge

#6151 docs: removes duplicate procedures from deploying guide
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-managing-connectors.adoc
Labels: documentation, sme-review-needed

#6154 docs: groups the connector content in the deploying guide
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-managing-connectors.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-with-plugins.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/deploying/con-exposing-kafka-connect-api.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/modules/deploying/proc-manual-restart-connector-task.adoc
  documentation/modules/deploying/proc-manual-restart-connector.adoc
Labels: documentation, sme-review-needed

#5829 KMM2 should roll when certificates or user credentials are updated
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: needs review, System tests

#6152 [systemtest] Change the way how we are logging exceptions inside the `waitFor`
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  test/src/main/java/io/strimzi/test/TestUtils.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: System tests, ready for merge

#6053 docs: change using guide to configuring guide
  Makefile
  documentation/assemblies/assembly-overview.adoc
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/configuring/assembly-kafka-entity-operator.adoc
  documentation/assemblies/configuring/assembly-overview.adoc
  documentation/assemblies/deploying/assembly-deploy-intro.adoc
  documentation/assemblies/deploying/assembly-deploy-options.adoc
  documentation/assemblies/deploying/assembly-deploy-verify.adoc
  documentation/configuring/api
  documentation/configuring/assemblies
  documentation/configuring/configuring-docinfo.xml
  documentation/configuring/configuring.adoc
  documentation/configuring/examples
  documentation/configuring/images
  documentation/configuring/modules
  documentation/configuring/shared
  documentation/contributing/introduction.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/deploying/con-deploy-custom-resources-example.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
  documentation/modules/overview/con-configuration-points-overview.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#6174 [systemtest] Add check for Environment Config Provider
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
Labels: System tests, ready for merge

#6171 docs: cruise control capacity values format
  api/src/main/java/io/strimzi/api/kafka/model/balancing/BrokerCapacity.java
  documentation/contributing/styleguide.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/templates/NOTES.txt
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation, sme-review-needed

#6196 docs: termination grace period example
  documentation/assemblies/configuring/assembly-customizing-kubernetes-resources.adoc
  documentation/modules/configuring/con-applying-termination-grace-period.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#6176 docs: describe switch from kafka connect api to kafkaconnectors
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-managing-connectors.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-config-connector-api.adoc
  documentation/modules/deploying/con-exposing-kafka-connect-api.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#6216 SystemTests: Secretutils encode/decode passwords method
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
Labels: System tests, ready for merge

#6210 [MO] - [system test] -> eliminate un-necessary CO creation and deletion
  systemtest/src/main/java/io/strimzi/systemtest/BeforeAllOnce.java
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/dump/LogDumpScriptIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceIsolatedST.java
  tools/log-dump/run.sh
Labels: bug, System tests, ready for merge

#5944 [MO] - [system tests] -> mm fix namespace + namespace deletion
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests, ready for merge

#6245 [MO] - @IsolatedSuite creation of co
  systemtest/src/test/java/io/strimzi/systemtest/backup/ColdBackupScriptIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/ClusterOperationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeIsolatedST.java
Labels: System tests, ready for merge

#6247 docs: move bridge deployment content out of configuring guide
  documentation/assemblies/kafka-bridge/assembly-kafka-bridge-overview.adoc
  documentation/assemblies/kafka-bridge/assembly-kafka-bridge-quickstart.adoc
  documentation/modules/configuring/proc-config-kafka-bridge.adoc
  documentation/modules/deploying/con-deploy-options-order.adoc
  documentation/modules/kafka-bridge/con-deployment-kafka-bridge.adoc
  documentation/modules/kafka-bridge/proc-deploying-kafka-bridge-quickstart.adoc
  documentation/modules/kafka-bridge/proc-exposing-kafka-bridge-service-local-machine.adoc
  documentation/modules/kafka-bridge/proc-producing-messages-from-bridge-topics-partitions.adoc
Labels: documentation, sme-review-needed

#6241 [systemtest] Check real logs for pattern in logging tests
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, ready for merge

#6256 docs: note on updates for listener config
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
Labels: documentation, sme-review-needed

#6242 docs: adds custom listener authentication doc
  api/src/main/java/io/strimzi/api/kafka/model/listener/KafkaListenerAuthenticationCustom.java
  documentation/api/io.strimzi.api.kafka.model.listener.KafkaListenerAuthenticationCustom.adoc
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListener.adoc
  documentation/modules/appendix_crds.adoc
Labels: documentation

#5918 Add support for intra-broker disk balancing
  api/src/main/java/io/strimzi/api/kafka/model/KafkaRebalanceSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/AbstractModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControl.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/cruisecontrol/Capacity.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/PathBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/RebalanceOptions.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/CruiseControlTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorNonParametrizedTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/PathBuilderTest.java
  docker-images/kafka-based/kafka/cruise-control-scripts/cruise_control_config_generator.sh
  documentation/modules/appendix_crds.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/cruise-control/ref-cruise-control-configuration.adoc
  operator-common/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlParameters.java
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/049-Crd-kafkarebalance.yaml
  packaging/install/cluster-operator/049-Crd-kafkarebalance.yaml
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: cluster-balancing

#6271 [systemtest] Fix NPEs when running STs with CO installed with Helm
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
Labels: System tests, ready for merge

#6280 docs: adds the custom option to the listener authn
  documentation/modules/con-securing-kafka-authentication.adoc
  documentation/modules/overview/con-security-configuration-authentication.adoc
Labels: documentation, sme-review-needed
