Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-10, with the labels that each got.

#7377 docs(upgrade): Updates upgrade steps for control plane listener
  documentation/modules/upgrading/con-upgrade-paths.adoc
  documentation/modules/upgrading/con-upgrade-sequence.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7370 docs(clients): Updates the client procedures to use PEM certificates
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListenerConfiguration.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/security/proc-configuring-external-clients-to-trust-cluster-ca.adoc
  documentation/modules/security/proc-configuring-internal-clients-to-trust-cluster-ca.adoc
Labels: documentation, sme-review-done

#7412 [systemtest] Enable multiple COs in one namespace in our tests after LeaderElection feature
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsIsolatedST.java
Labels: needs review, System tests

#7426 docs(tracing): Removes an assembly and adjusts formatting in procedure
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/assemblies/tracing/assembly-setting-up-tracing-mirror-maker-connect-bridge.adoc
  documentation/modules/tracing/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
Labels: documentation, sme-review-needed

#7430 docs(edits): Minor edits to the documentation from review
  documentation/assemblies/deploying/assembly-deploy-verify.adoc
  documentation/contributing/introduction.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#7435 [doc] Standalone UO: fix two values in `STRIMZI_KAFKA_ADMIN_CLIENT_CONFIGURATION`
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
Labels: documentation, sme-review-needed

#7440 docs(tracing): Moves the order of tracing content
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
Labels: documentation, sme-review-needed

#7460 docs(build fix): Format fix for annotations used to highlight and describe deprecated properties
  crd-generator/src/main/java/io/strimzi/crdgenerator/DocGenerator.java
  documentation/modules/appendix_crds.adoc
Labels: documentation

#7438 docs(downgrade): Note on OLM and downgrade constraints
  documentation/assemblies/upgrading/assembly-downgrade.adoc
Labels: documentation, sme-review-needed

#7444 docs(mm2): Updates to concepts from review
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/modules/configuring/con-config-mirrormaker2-replication.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker.adoc
  documentation/modules/overview/con-overview-mirrormaker2.adoc
Labels: documentation, sme-review-needed

#7461 docs(producer config): Updates the section on data durability
  documentation/modules/managing/con-producer-config-properties.adoc
Labels: documentation, sme-review-needed

#7423 [ST] Add message count, kafka + zk + eo STS or deployment names into the TestStorage
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertHolder.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/dump/LogDumpScriptIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceIsolatedST.java
Labels: needs review, System tests

#7502 docs(resource config): Makes intros to resource config sections consistent
  documentation/assemblies/configuring/assembly-config-kafka-bridge.adoc
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/assemblies/configuring/assembly-config-mirrormaker.adoc
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/modules/overview/con-overview-mirrormaker2.adoc
Labels: documentation, sme-review-needed

#7505 docs(k8s): Updates the Kubernetes version attribute
  documentation/modules/configuring/ref-affinity.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#7527 [systemtest] Whitelist error when SPS are reconciled and the pods already exists
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
Labels: needs review, System tests

#7531 Updated bridge to 0.22.3
  bridge.version
  packaging/helm-charts/helm3/strimzi-kafka-operator/README.md
  packaging/helm-charts/helm3/strimzi-kafka-operator/values.yaml
  packaging/install/cluster-operator/060-Deployment-strimzi-cluster-operator.yaml
Labels: do-not-merge
