Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-04, with the labels that each got.

#6535 docs: securing mm2
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/modules/configuring/proc-adding-volumes-to-jbod-storage.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/configuring/proc-configuring-maintenance-time-windows.adoc
  documentation/modules/configuring/proc-creating-configmap.adoc
  documentation/modules/configuring/proc-dedicated-nodes.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector.adoc
  documentation/modules/configuring/proc-removing-volumes-from-jbod-storage.adoc
  documentation/modules/configuring/proc-resizing-persistent-volumes.adoc
  documentation/modules/configuring/proc-scheduling-based-on-other-pods.adoc
  documentation/modules/configuring/proc-scheduling-brokers-on-different-worker-nodes.adoc
  documentation/modules/configuring/proc-scheduling-deployment-to-node-using-node-affinity.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/managing/proc-setting-broker-limits.adoc
  documentation/modules/operators/proc-topic-operator-with-resource-requests-limits.adoc
  documentation/modules/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/proc-accessing-kafka-using-routes.adoc
  documentation/modules/proc-securing-kafka.adoc
  documentation/modules/upgrading/con-downgrade-target-version.adoc
  documentation/modules/upgrading/proc-downgrade-brokers-older-kafka.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
  documentation/shared/attributes.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#6605 [MO] - [system test] -> concurrent exception deletion mulitple namesp…
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests, ready for merge

#6592 docs: file system note and link
  documentation/modules/configuring/con-considerations-for-data-storage.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#6609 docs: adds a description of an optimzation proposal summary
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-config-connector-api.adoc
Labels: documentation

#6636 docs: mm2 handling large volumes of messages
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/modules/configuring/con-config-mirrormaker2-high-volume-messages.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#6450 [systemtest] Test clients exchange - kafka, log and metrics packages
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/BridgeClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/JobUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsIsolatedST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#6656 [systemtest] OauthScopeIsolatedST - fix namespace handling in ClientUtils methods
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeIsolatedST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#6664 [systemtest] SecurityST - fix flakiness of `testAutoReplaceAllCaKeysTriggeredByAnno`
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#5948 Added warning condition to status when wrong annotation is provided to rebalance resource
  api/src/main/java/io/strimzi/api/kafka/model/balancing/KafkaRebalanceState.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperatorTest.java
Labels: cluster-balancing

#6688 docs: updates heap size information
  documentation/modules/con-common-configuration-properties.adoc
Labels: documentation, sme-review-needed

#6680 [systemtest] Rewrite throttling quotas tests
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/cli/KafkaCmdClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/AdminClientOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaAdminClients.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
Labels: System tests, ready for merge

#6631 [MO] - [system test] -> RollinUpdateST namespace handling fix
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#6647 [MO] - [system test] -> OauthPlainIsolatedST removing unnecessary kafka clients
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainIsolatedST.java
Labels: System tests, ready for merge

#6684 [MO] - [system test] -> ListenersST not specified namespace in KafkaC…
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
Labels: System tests, ready for merge

#6703 [systemtest] Enable Kafka scale up & down tests to be runnable with STS
  systemtest/src/main/java/io/strimzi/systemtest/utils/RollingUpdateUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#6665 [MO] - [system test] -> KafkaConnect ability to run multiple KC using on…
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaConnectTemplates.java
Labels: System tests, ready for merge

#6716 [systemtest] Add test for podset reconciliation only switch
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/DeploymentResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/RollingUpdateUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/PodSetIsolatedST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#6732 docs: add quotes around protocol and message versions
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
Labels: documentation, sme-review-needed

#6707 [ST] Test CruiseControl Resources/JVM options
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests

#6735 docs: move and expand uninstall content
  documentation/assemblies/deploying/assembly-uninstalling.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/deploying/proc-uninstalling-operator-hub.adoc
  documentation/modules/deploying/proc-uninstalling.adoc
  documentation/modules/managing/proc-uninstalling.adoc
Labels: documentation, peer-review-needed, sme-review-needed
