Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-06, with the labels that each got.

#6870 [systemtest] Remove NetworkPolicies from KafkaConnect templates
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaBridgeTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaConnectTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaMirrorMaker2Templates.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaMirrorMakerTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaRebalanceTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaUserTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceIsolatedST.java
Labels: System tests, ready for merge

#6881 docs: updates the persistent volume examples
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
Labels: documentation, sme-review-needed

#6882 docs: adds additional reasources tags
  documentation/api/io.strimzi.api.kafka.model.KafkaJmxOptions.adoc
  documentation/modules/configuring/con-customizing-image-pull-policy.adoc
  documentation/modules/configuring/con-maintenance-time-window-definition.adoc
  documentation/modules/configuring/proc-adding-volumes-to-jbod-storage.adoc
  documentation/modules/configuring/proc-configuring-maintenance-time-windows.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector.adoc
  documentation/modules/configuring/proc-removing-volumes-from-jbod-storage.adoc
  documentation/modules/configuring/ref-affinity.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-fixing-problems-with-kafkarebalance.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-stopping-cluster-rebalance.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-using-kafka-connect-build.adoc
  documentation/modules/managing/proc-accessing-resource-status.adoc
  documentation/modules/managing/proc-pausing-reconciliation.adoc
  documentation/modules/metrics/con_metrics-kafka-mini-kube.adoc
  documentation/modules/oauth/con-oauth-authentication-flow.adoc
  documentation/modules/oauth/con-oauth-authorization-intro.adoc
  documentation/modules/oauth/con-oauth-reauthentication.adoc
  documentation/modules/overview/con-configuration-points-bridge.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
  documentation/modules/security/proc-renewing-ca-certs-manually.adoc
  documentation/modules/security/proc-replacing-private-keys.adoc
  documentation/modules/security/ref-alternative-subjects-certs-for-listeners.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
  documentation/modules/tracing/con-overview-opentracing-jaeger.adoc
  documentation/modules/tracing/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
  documentation/modules/tracing/ref-tracing-environment-variables.adoc
Labels: documentation, sme-review-needed

#6889 [systemtest] Disable tests containing forbidden settings of `KafkaTopic`
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
Labels: System tests, ready for merge

#6879 docs: cluster operator upgrades
  documentation/assemblies/upgrading/assembly-upgrade-cluster-operator.adoc
  documentation/assemblies/upgrading/assembly-upgrade-resources.adoc
  documentation/assemblies/upgrading/assembly-upgrade.adoc
  documentation/modules/deploying/con-deploy-cluster-operator-from-operator-hub.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-helm-chart.adoc
  documentation/modules/upgrading/con-upgrade-paths.adoc
  documentation/modules/upgrading/con-upgrade-sequence.adoc
  documentation/modules/upgrading/proc-upgrade-cluster-operator.adoc
  documentation/modules/upgrading/ref-upgrade-kafka-versions.adoc
  documentation/snip-kafka-versions.sh
Labels: documentation, peer-review-needed, sme-review-needed

#6839 [systemtest] Add tests for `add_broker` and `remove_broker` features in CC
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/specific/ScraperTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/JmxUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests, ready for merge

#6880 docs: updates steps to show rebalance status
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-configuring-deploying-cruise-control.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
Labels: documentation, sme-review-needed

#6883 ST: Enable tests with simple auth and UO
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceIsolatedST.java
Labels: ready for merge

#6901 docs: adds rack awareness callout to the mm2 config example
  documentation/api/io.strimzi.api.kafka.model.Rack.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#6917 [systemtest] Use different pod than Kafka for executing all Kafka scripts
  systemtest/src/main/java/io/strimzi/systemtest/cli/KafkaCmdClient.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/backup/ColdBackupScriptIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfSharedST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceIsolatedST.java
Labels: System tests, ready for merge

#6931 docs: verify kafka user is ready
  documentation/assemblies/operators/assembly-using-the-user-operator.adoc
  documentation/assemblies/security/assembly-securing-kafka.adoc
  documentation/modules/operators/proc-configuring-kafka-topic.adoc
  documentation/modules/operators/proc-configuring-kafka-user.adoc
  documentation/modules/security/proc-configuring-secure-kafka-user.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#6861 [ST Enhancement] Load upgrade/downgrade ST data from yaml instead of json
  .azure/scripts/setup_upgrade.sh
  .jenkins/Jenkinsfile-pr
  .jenkins/Jenkinsfile-pr-s390x
  .jenkins/jenkins.groovy
  development-docs/RELEASE.md
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeDowngradeData.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeDowngradeDatalist.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeIsolatedST.java
  systemtest/src/test/resources/upgrade/JsonsDescription.md
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.json
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.yaml
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.json
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: enhancement, System tests

#6952 docs: description changes for API
  api/src/main/java/io/strimzi/api/kafka/model/EntityOperatorSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaBridgeSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/Rack.java
  documentation/modules/appendix_crds.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
  packaging/install/cluster-operator/041-Crd-kafkaconnect.yaml
  packaging/install/cluster-operator/046-Crd-kafkabridge.yaml
  packaging/install/cluster-operator/048-Crd-kafkamirrormaker2.yaml
Labels: documentation, sme-review-needed

#6962 Fix NPE in `StrimziPodSetOperator.isReady`
  operator-common/src/main/java/io/strimzi/operator/common/operator/resource/StrimziPodSetOperator.java
Labels: bug

#6960 [systemtest] Fix `testCruiseControlDuringBrokerScaleUpAndDown`
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests, ready for merge

#6979 [systemtest] Custom Cluster CA - add check for not removed old crt
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
Labels: System tests, ready for merge

#6976 [MO] - Strimzi test container 0.102.0
  pom.xml
Labels: ready for merge
