Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-08, with the labels that each got.

#7156 [systemtest] Update upgrade/downgrade tests with Kafka 3.2.1
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: System tests, ready for merge

#7201 docs(mm2): Make it clearer that the examples have config for full authz
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
Labels: documentation, sme-review-needed

#7191 [MO] - [system test] -> Pod Security policies
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/RequiredMinKubeOrOcpBasedKubeVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/RequiredMinKubeOrOpenshiftVersionCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesIsolatedST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests

#7208 docs(drain cleaner): Adds condition around deployment options
  documentation/modules/managing/proc-drain-cleaner-deploying.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#7203 [MO] - [system test] -> Un-necessary creation of additional namespace in ParallelSuites
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/annotations/IsolatedTest.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/ParallelTest.java
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
Labels: System tests, ready for merge

#7202 docs(kafka connect): Updates for kafka connect connectors
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-with-plugins.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
Labels: documentation, sme-review-needed

#7216 docs(configmaps): Adds a general introduction to configmaps
  documentation/assemblies/configuring/assembly-external-config.adoc
  documentation/assemblies/configuring/assembly-overview.adoc
  documentation/modules/configuring/proc-loading-config-from-config-map.adoc
  documentation/modules/overview/con-configuration-points-configmaps.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7237 [MO] - [system test] -> drain cleaner uses dynamically generated cert…
  systemtest/src/main/java/io/strimzi/systemtest/resources/draincleaner/SetupDrainCleaner.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertAndKeyBuilder.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#7244 docs(exporter): Adds note on Kafka Exporter requiring consumer groups data
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/metrics/con_kafka-exporter-lag.adoc
  documentation/modules/metrics/proc-metrics-kafka-deploy-options.adoc
Labels: documentation, sme-review-needed

#7241 docs(operators): Adds instructions for adding Cluster Operator replicas
  documentation/assemblies/deploying/assembly-deploy-cluster-operator.adoc
  documentation/assemblies/operators/assembly-using-multiple-cluster-operators.adoc
  documentation/assemblies/operators/assembly-using-the-cluster-operator.adoc
  documentation/modules/operators/proc-configuring-multiple-cluster-operators.adoc
  documentation/modules/operators/ref-operator-cluster.adoc
  documentation/modules/overview/con-overview-components-cluster-operator.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#7256 docs(cluster operator): Splits the config content for the Cluster Operator
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/assemblies/operators/assembly-using-the-cluster-operator.adoc
  documentation/modules/configuring/proc-creating-logging-filters.adoc
  documentation/modules/operators/ref-operator-cluster-logging-configmap.adoc
  documentation/modules/operators/ref-operator-cluster-rbac-resources.adoc
  documentation/modules/operators/ref-operator-cluster.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed
