Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-12, with the labels that each got.

#7725 docs(bridge): Updates the procedure to expose the Kafka Bridge service
  documentation/modules/deploying/proc-exposing-kafka-bridge-service-local-machine.adoc
Labels: documentation, sme-review-needed

#7597 Moving from Jaeger exporter to OTLP exporter usage by default
  CHANGELOG.md
  docker-images/artifacts/kafka-thirdparty-libs/3.2.3/pom.xml
  docker-images/artifacts/kafka-thirdparty-libs/3.2.x/pom.xml
  docker-images/artifacts/kafka-thirdparty-libs/3.3.x/pom.xml
  docker-images/kafka-based/kafka/scripts/kafka_connect_run.sh
  docker-images/kafka-based/kafka/scripts/kafka_mirror_maker_run.sh
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/modules/tracing/proc-configuring-tracers-kafka-clients.adoc
  documentation/modules/tracing/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
  documentation/modules/tracing/proc-enabling-tracing-type.adoc
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/BridgeTracingClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaTracingClients.java
  systemtest/src/main/java/io/strimzi/systemtest/tracing/TracingConstants.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
Labels: do-not-merge

#7739 docs(overview): Updates the overview with the latest features
  documentation/api/io.strimzi.api.kafka.model.Rack.adoc
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/assemblies/overview/assembly-metrics-overview.adoc
  documentation/assemblies/tracing/assembly-distributed-tracing-procedures.adoc
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/modules/cruise-control/con-cruise-control-description.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-configuring-deploying-cruise-control.adoc
  documentation/modules/overview/con-configuration-points-broker.adoc
  documentation/modules/overview/con-metrics-overview-tools.adoc
  documentation/modules/tracing/con-distributed-tracing-description.adoc
  documentation/modules/tracing/proc-instrumenting-kafka-streams-with-tracers.adoc
  documentation/modules/tracing/proc-instrumenting-producers-consumers-opentracing.adoc
Labels: documentation, sme-review-needed

#7694 [ST] Enable metrics oauth
  packaging/examples/metrics/oauth-metrics.yaml
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainIsolatedST.java
Labels: System tests, ready for merge

#7764 docs(kafka connect): Updated sink connector diagram
  documentation/shared/images/overview/kafka-concepts-sink-connector.png
Labels: documentation

#7768 [systemtest] Add tests for Oauth password grants
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsIsolatedST.java
Labels: needs review, System tests

#7807 docs(events): Change to callouts used in example events output
  documentation/modules/deploying/proc-operator-restart-events.adoc
Labels: sme-review-needed

#7806 docs(certificates): Updates the procedures for user-supplied CA certs
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/assemblies/security/assembly-using-your-own-certificates.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/deploying/ref-operator-restart-events-reasons.adoc
  documentation/modules/security/con-certificate-authorities.adoc
  documentation/modules/security/con-certificate-renewal.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
  documentation/modules/security/proc-renewing-your-own-ca-certificates.adoc
  documentation/modules/security/proc-replacing-your-own-private-keys.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
Labels: documentation, sme-review-needed

#7833 Bump test-clients version to 0.4.2
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
Labels: needs review, System tests

#7823 [systemtest] Add pull secret to Scraper pod if appropriate env variable is set
  systemtest/src/main/java/io/strimzi/systemtest/templates/specific/ScraperTemplates.java
Labels: bug, needs review, System tests

#7859 docs(links): Fixes a couple of out-of-date links
  documentation/modules/deploying/con-deploy-kubernetes-cluster.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#7836 [ST] Fix SKIP_TEARDOWN when creating / deleting namespaces
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests
