Repository strimzi/strimzi-kafka-operator, pull requests merged in 2022-11, with the labels that each got.

#7513 docs(upgrade) clarification of current protocol and message versions
  documentation/api/io.strimzi.api.kafka.model.authentication.KafkaClientAuthenticationOAuth.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
Labels: documentation, sme-review-needed

#7562 [systemtest] Refactor metrics tests
  systemtest/src/main/java/io/strimzi/systemtest/metrics/MetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaConnectTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesIsolatedST.java
Labels: System tests, ready for merge

#7479 docs(mTLS): Terminology update for mTLS
  documentation/api/io.strimzi.api.kafka.model.authentication.KafkaClientAuthenticationTls.adoc
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListener.adoc
  documentation/assemblies/security/assembly-securing-access.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/configuring/proc-config-kafka-bridge.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-config-mirrormaker.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/configuring/proc-scaling-down-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scaling-up-a-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
  documentation/modules/oauth/con-oauth-authentication-broker.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/oauth/proc-oauth-client-config.adoc
  documentation/modules/operators/proc-configuring-kafka-topic.adoc
  documentation/modules/operators/proc-configuring-kafka-user.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
  documentation/modules/overview/con-security-configuration-authentication.adoc
  documentation/modules/overview/con-security-configuration-encryption.adoc
  documentation/modules/security/con-certificate-authorities.adoc
  documentation/modules/security/con-certificate-renewal.adoc
  documentation/modules/security/con-securing-client-authentication.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/security/con-securing-kafka-authorization.adoc
  documentation/modules/security/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/security/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/security/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/security/proc-accessing-kafka-using-routes.adoc
  documentation/modules/security/proc-configuring-external-clients-to-trust-cluster-ca.adoc
  documentation/modules/security/proc-configuring-internal-clients-to-trust-cluster-ca.adoc
  documentation/modules/security/proc-configuring-secure-kafka-user.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
  documentation/modules/security/proc-securing-kafka.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
Labels: documentation, sme-review-needed

#7572 [systemtest] Update upgrade/downgrade yamls after release of 0.32.0
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.yaml
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: System tests, ready for merge

#7419 [MO] - [system test] -> OpenTelemetryST
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/BridgeClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/BridgeTracingClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaTracingClients.java
  systemtest/src/main/java/io/strimzi/systemtest/tracing/TracingConstants.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
  systemtest/src/test/resources/tracing/1.20/jaeger-instance.yaml
  systemtest/src/test/resources/tracing/1.25/jaeger-instance.yaml
Labels: System tests, ready for merge

#7573 [systemtest] Collect StrimziPodSets in LogCollector during test failure
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
Labels: System tests

#7579 [systemtest] Make `testUpgradeKafkaWithoutVersion` to run with parameters from yaml
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeDowngradeData.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeDowngradeDatalist.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeKafkaVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestKafkaVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeIsolatedST.java
Labels: needs review, System tests

#7596 [systemtest] Add test for upgrading Kafka without LMFV
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeIsolatedST.java
Labels: needs review, System tests

#7599 [systemtest] Update to Jaeger 1.35.0
  systemtest/src/main/java/io/strimzi/systemtest/tracing/TracingConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/TracingUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-cluster-role-binding.yaml
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-cluster-role.yaml
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-crd.yaml
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-operator.yaml
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-role-binding.yaml
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-role.yaml
  systemtest/src/test/resources/tracing/1.20/operator-files/jaeger-service-account.yaml
  systemtest/src/test/resources/tracing/1.25/jaeger-instance.yaml
  systemtest/src/test/resources/tracing/1.25/operator-files/jaeger-cluster-role-binding.yaml
  systemtest/src/test/resources/tracing/1.25/operator-files/jaeger-cluster-role.yaml
  systemtest/src/test/resources/tracing/1.25/operator-files/jaeger-operator.yaml
  systemtest/src/test/resources/tracing/1.25/operator-files/jaeger-role-binding.yaml
  systemtest/src/test/resources/tracing/1.25/operator-files/jaeger-role.yaml
  systemtest/src/test/resources/tracing/1.25/operator-files/jaeger-service-account.yaml
  systemtest/src/test/resources/tracing/cert-manager.yaml
  systemtest/src/test/resources/tracing/jaeger-instance.yaml
  systemtest/src/test/resources/tracing/jaeger-operator.yaml
Labels: needs review, System tests

#7526 Internal Kafka clients should do TLS hostname verification except Nodeports
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaClients.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
Labels: System tests, ready for merge

#7623 [systemtest] Disable `OpenTracingST` and `OpenTelemetryST`
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTracingST.java
Labels: System tests, ready for merge

#7631 [systemtest] Collect logs from `cert-manager` namespace
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
Labels: needs review, System tests

#7629 docs(format fix): Format fix for internal listener ref
  documentation/modules/security/con-securing-kafka-authentication.adoc
Labels: documentation, sme-review-needed

#7633 docs(upgrade): Updates the prereqs for the kafka upgrade and downgrade procedures
  documentation/modules/upgrading/proc-downgrade-brokers-older-kafka.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
Labels: documentation, sme-review-needed

#7605 docs(scaling): Clarifies the reassignment process and certificates used for secure connection
  documentation/assemblies/configuring/assembly-scaling-clusters.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
Labels: documentation, sme-review-needed

#7639 [systemtest] Enable KafkaStreams checks for OpenTelemetry and enable both `OpenTracingST` and `OpenTelemetryST` suites after fixes
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTracingST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
Labels: needs review, System tests

#7647 [systemtest] Use correct version of Bridge inside Helm tests
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/HelmResource.java
Labels: needs review, System tests

#7649 docs(images): New image for listener authentication type options
  documentation/shared/images/listener-config-options.png
Labels: documentation, sme-review-needed

#7637 docs(mTLS): Clarifies the general client config for mTLS
  documentation/api/io.strimzi.api.kafka.model.connect.ExternalConfiguration.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/security/con-securing-client-authentication.adoc
  documentation/modules/security/con-securing-client-authorization.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
Labels: documentation, sme-review-needed

#7667 [systemtest] LogCollector - fix exception when SPS CRD is not applied
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
Labels: needs review, System tests

#7673 [systemtest] Fix CruiseControlApiST - testKafkaRebalanceAutoApprovalMechanism
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
Labels: System tests

#7603 System test for cluster role split for cluster wide operator with lim…
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/kubernetes/ClusterRoleBindingTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificIsolatedST.java
Labels: System tests, ready for merge

#7675 docs(TLS): Adds more detail about using listener certificates
  documentation/assemblies/security/assembly-securing-kafka.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/modules/configuring/con-maintenance-time-windows-overview.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
  documentation/modules/overview/con-security-configuration-encryption.adoc
  documentation/modules/security/con-certificate-authorities.adoc
  documentation/modules/security/con-securing-client-authentication.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
Labels: documentation, sme-review-needed

#7731 Fix minor typo inside ListenerValidator
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ListenersValidator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ListenersValidatorTest.java
Labels: needs review

#7724 docs(quickstart removal): Removes the quickstart from /documentation
  Makefile
  documentation/assemblies/quickstart/assembly-quickstart-overview.adoc
  documentation/assemblies/quickstart/assembly-quickstart.adoc
  documentation/contributing/introduction.adoc
  documentation/modules/quickstart/proc-creating-kafka-cluster.adoc
  documentation/modules/quickstart/proc-downloading-product.adoc
  documentation/modules/quickstart/proc-installing-product.adoc
  documentation/modules/quickstart/proc-sending-messages.adoc
  documentation/modules/quickstart/proc-uninstalling-product.adoc
  documentation/modules/quickstart/ref-install-prerequisites.adoc
  documentation/quickstart/assemblies
  documentation/quickstart/images
  documentation/quickstart/quickstart-docinfo.xml
  documentation/quickstart/quickstart.adoc
  documentation/quickstart/shared
Labels: documentation, sme-review-needed
