Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-05, with the labels that each got.

#8440 ST: Copy pull secrets in systemtests right after every creation of namespace
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeIsolatedST.java
Labels: System tests

#8445 ST: Fix log collector for systemtests
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
Labels: System tests

#8467 ST: Collect logs also from previous instance of the pods in case the pod was restarted
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
Labels: System tests

#8442 [ST] Removal of duplicate tests, merging some tests together.
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
Labels: System tests

#8470 ST: Allow users to use any registry for connect build specified via env var
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaConnectTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeIsolatedST.java
Labels: System tests

#8474 docs(zookeeper): adds a description of zookeeper default values
  documentation/api/io.strimzi.api.kafka.model.ZookeeperClusterSpec.adoc
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/modules/configuring/con-zookeeper-default-config.adoc
Labels: documentation, sme-review-needed

#8476 docs(upgrade): clarifies support for kafka versions when upgrading
  documentation/assemblies/upgrading/assembly-upgrade-cluster-operator.adoc
  documentation/modules/upgrading/con-upgrade-paths.adoc
Labels: documentation

#8469 docs(reassign tool): describes the structure of reassignment json
  documentation/modules/configuring/con-partition-reassignment.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#8461 [ST] Merging tests which remove parts of Entity Operator into 1 test.
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
Labels: System tests

#8496 docs(downgrade): update to warning on downgrade method
  documentation/assemblies/upgrading/assembly-downgrade.adoc
Labels: documentation, sme-review-needed

#8482 ST: Update CruiseControl max.tasks to avoid occasional issues with parallel execution, also fix asserts in metrics and upgrade
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
Labels: System tests

#8475 [ST] Move and Improve testTopicWithoutLabels, from KafkaST to TopicST
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
Labels: System tests

#8505 [ST] KafkaST, improve testReadOnlyRootFileSystem and testJvmAndResources
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
Labels: System tests

#8523 [ST] UserST, improve checks and move testUOListeningOnlyUsersInSameCluster from KafkaST to UserST
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, ready for merge

#8534 docs(security context): moves content related to security context
  documentation/configuring/configuring.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/con-config-security-providers.adoc
Labels: documentation, sme-review-needed

#8535 docs(metrics): updates the metrics intro
  documentation/assemblies/metrics/assembly-metrics.adoc
Labels: documentation, sme-review-needed

#8529 ST: Add 0.35.0 to upgrade tests
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#8564 docs(mm2): describes connector properties that require same value
  documentation/modules/configuring/con-config-mirrormaker2-connectors.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
Labels: documentation, sme-review-needed

#8563 docs(config): moves config overview to a new section
  documentation/api/io.strimzi.api.kafka.model.connect.ExternalConfiguration.adoc
  documentation/assemblies/configuring/assembly-config-kafka-connect.adoc
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/configuring/assembly-deployment-configuration.adoc
  documentation/assemblies/configuring/assembly-external-config.adoc
  documentation/assemblies/configuring/assembly-overview.adoc
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/assemblies/deploying/assembly-deploy-intro.adoc
  documentation/assemblies/deploying/assembly-deploy-tasks-prep.adoc
  documentation/assemblies/metrics/assembly-metrics-config-files.adoc
  documentation/assemblies/overview/assembly-configuration-points.adoc
  documentation/assemblies/overview/assembly-key-features.adoc
  documentation/assemblies/security/assembly-securing-access.adoc
  documentation/configuring/configuring.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/configuring/con-config-examples.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/configuring/con-config-mirrormaker2-tasks-max.adoc
  documentation/modules/configuring/con-config-resources.adoc
  documentation/modules/configuring/con-configuration-points-configmaps.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/deploying/con-deploy-custom-resources-example.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/deploying/proc-deploy-kafka-bridge.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
  documentation/modules/overview/con-configuration-points-overview.adoc
Labels: documentation, sme-review-needed

#8567 docs(certs): updates the user-supplied certificate renewal steps
  documentation/modules/security/proc-replacing-your-own-private-keys.adoc
Labels: documentation

#8569 [ST] watcher AllNamespacesIsolated and MultipleNamespaceIsolated refactor
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceIsolatedST.java
Labels: System tests, ready for merge
