Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-02, with the labels that each got.

#8006 Fix testCaRenewalBreakInMiddle flakiness
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests

#8002 [systemtest] Fix tests which were not working with KRaft mode
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxIsolatedST.java
Labels: needs review, System tests

#7999 [systemtest] Refactor OLM related classes
  .checkstyle/suppressions.xml
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/openshift/OperatorGroupResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/openshift/SubscriptionResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/configuration/OlmConfiguration.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/OlmUtils.java
  systemtest/src/main/resources/olm/operator-group.yaml
  systemtest/src/main/resources/olm/subscription.yaml
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeIsolatedST.java
  test/pom.xml
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: needs review, System tests

#7995 Fix KafkaVersionsST flakiness
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaVersionsST.java
Labels: System tests

#7939 Add regression tag to the test suites
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
  systemtest/src/test/java/io/strimzi/systemtest/utils/KafkaVersionUtilsTest.java
Labels: System tests

#8019 docs(typos): Fixes a couple of typos related to connectors
  documentation/api/io.strimzi.api.kafka.model.AutoRestart.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
Labels: documentation, sme-review-needed

#7948 docs(drain cleaner): Adds procedures for adding certificates and Helm deployment
  documentation/assemblies/managing/assembly-drain-cleaner.adoc
  documentation/modules/managing/proc-drain-cleaner-certs-renewals.adoc
  documentation/modules/managing/proc-drain-cleaner-certs.adoc
  documentation/modules/managing/proc-drain-cleaner-deploying-helm-chart.adoc
  documentation/modules/managing/proc-drain-cleaner-deploying.adoc
Labels: documentation, peer-review-done, sme-review-needed

#7976 [ST] KafkaConnector autorestart + update echo-sink-connector version
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectorUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
Labels: System tests

#8020 [systemtest] Few minor fixups to STs
  systemtest/src/main/java/io/strimzi/systemtest/annotations/RequiredMinKubeOrOpenshiftVersionCondition.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeIsolatedST.java
Labels: needs review, System tests

#8033 [systemtest] Update `SetupDrainCleaner` class after update to `0.4.0`
  systemtest/src/main/java/io/strimzi/systemtest/resources/draincleaner/SetupDrainCleaner.java
Labels: needs review, System tests

#8016 docs(listeners): Updates procedures for creating nodeport and loadbalancer listeners
  documentation/assemblies/deploying/assembly-deploy-client-access.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/deploying/con-accessing-kafka-bridge-from-outside.adoc
  documentation/modules/deploying/con-exposing-kafka-connect-api.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/security/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/security/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/security/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/security/proc-accessing-kafka-using-routes.adoc
Labels: documentation, sme-review-needed

#8051 [systemtest] Remove extra `openshisft-client-api` dependency from ST's pom.xml
  systemtest/pom.xml
Labels: needs review, System tests

#8071 docs(managing): Moves content related to managing a deployment
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/assemblies/managing/assembly-rolling-updates.adoc
  documentation/assemblies/managing/assembly-uninstalling.adoc
  documentation/assemblies/security/assembly-securing-kafka-clients.adoc
  documentation/configuring/configuring.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/proc-configuring-maintenance-time-windows.adoc
  documentation/modules/configuring/ref-list-of-kafka-cluster-resources.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/deploying/con-switching-api-to-kafka-connector.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/managing/con-cluster-operator-faqs.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/managing/proc-cluster-recovery-volume.adoc
  documentation/modules/managing/proc-drain-cleaner-deploying-helm-chart.adoc
  documentation/modules/managing/proc-manual-rolling-update-pods.adoc
  documentation/modules/managing/proc-manual-rolling-update-statefulset.adoc
  documentation/modules/managing/proc-pausing-reconciliation.adoc
  documentation/modules/managing/proc-setting-broker-limits.adoc
  documentation/modules/metrics/proc-metrics-kafka-deploy-options.adoc
  documentation/modules/overview/con-overview-components-cluster-operator.adoc
  documentation/modules/security/proc-restricting-access-to-listeners-using-network-policies.adoc
  documentation/modules/upgrading/con-upgrade-cluster.adoc
Labels: documentation, sme-review-needed

#8028 Remove stability counter in PodUtils
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesIsolatedST.java
Labels: System tests

#8076 Disable most CustomCaST system test cases for KRaft mode
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
Labels: System tests

#8077 Fix flakiness of testScaleBridgeSubresource
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeIsolatedST.java
Labels: System tests

#8075 [systemtest] Update version of Strimzi to 0.33.1 in upgrade/downgrade and for OLM
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.yaml
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: System tests

#8037 Removes un-necessary test cases from systemtests
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerIsolatedST.java
Labels: System tests

#8082 Adding support for CustomCaST KRaft mode
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
Labels: System tests

#8088 [systemtest] Add check for `null` values in Job waits
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: needs review, System tests

#8093 Update tags inside log package test cases
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests

#8110 docs(operators): Moves content related to using operators
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListenerConfiguration.adoc
  documentation/assemblies/configuring/assembly-kafka-entity-operator.adoc
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/assemblies/deploying/assembly-deploy-cluster-operator.adoc
  documentation/assemblies/operators/assembly-using-the-cluster-operator.adoc
  documentation/assemblies/operators/assembly-using-the-topic-operator.adoc
  documentation/assemblies/operators/assembly-using-the-user-operator.adoc
  documentation/configuring/configuring.adoc
  documentation/deploying/deploying-docinfo.xml
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/configuring/con-config-security-providers.adoc
  documentation/modules/configuring/con-customizing-image-pull-policy.adoc
  documentation/modules/configuring/con-maintenance-time-window-definition.adoc
  documentation/modules/configuring/proc-creating-logging-filters.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/deploying/con-deploy-cluster-operator-watch-options.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/operators/con-operators-prometheus-metrics.adoc
  documentation/modules/operators/con-topic-operator-store.adoc
  documentation/modules/operators/proc-configuring-kafka-topic.adoc
  documentation/modules/operators/proc-configuring-kafka-user.adoc
  documentation/modules/operators/proc-configuring-proxy-config-cluster-operator.adoc
  documentation/modules/operators/ref-operator-cluster.adoc
  documentation/modules/operators/ref-operator-topic.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/upgrading/proc-downgrade-brokers-older-kafka.adoc
Labels: documentation, sme-review-needed

#8129 [systemtest] Update upgrade/downgrade with 0.33.2
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.yaml
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: System tests

#8138 [systemtest] Fix routes tests in `ListenersST` and add `route` tag
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
Labels: needs review, System tests

#8100 docs(ssl): Updates the ssl and cipher suites config description
  documentation/modules/con-common-configuration-properties.adoc
Labels: documentation, sme-review-needed

#8106 docs(connect api): Using Kafka Connect REST API securely
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-with-plugins.adoc
  documentation/modules/deploying/con-securing-kafka-connect-api.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#8147 docs(rebalancing): Moves content related to scaling and rebalancing
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/assemblies/configuring/assembly-reassign-tool.adoc
  documentation/assemblies/configuring/assembly-scaling-clusters.adoc
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/assemblies/deploying/assembly-deploy-intro.adoc
  documentation/configuring/configuring.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/con-customizing-image-pull-policy.adoc
  documentation/modules/configuring/con-partition-reassignment.adoc
  documentation/modules/configuring/con-scaling-kafka-clusters.adoc
  documentation/modules/configuring/proc-adding-volumes-to-jbod-storage.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/proc-creating-logging-filters.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/configuring/proc-removing-volumes-from-jbod-storage.adoc
  documentation/modules/configuring/proc-scaling-down-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scaling-up-a-kafka-cluster.adoc
  documentation/modules/cruise-control/con-optimization-goals.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/cruise-control/proc-configuring-deploying-cruise-control.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/deploying/con-deploy-examples.adoc
  documentation/modules/deploying/ref-operator-restart-events-reasons.adoc
  documentation/modules/metrics/con-metrics-cruise-control.adoc
  documentation/modules/operators/con-topic-operator-store.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
Labels: documentation, sme-review-needed
