Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-09, with the labels that each got.

#9054 docs(listeners): updates to names given to listeners
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListener.adoc
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListenerConfiguration.adoc
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListenerConfigurationBootstrap.adoc
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListenerConfigurationBroker.adoc
  documentation/assemblies/deploying/assembly-deploy-client-access.adoc
  documentation/modules/configuring/con-config-kafka.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/metrics/proc-metrics-kafka-deploy-options.adoc
  documentation/modules/oauth/con-oauth-authentication-broker.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/overview/con-configuration-points-listener-names.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/security/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/security/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/security/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/security/proc-accessing-kafka-using-routes.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
Labels: documentation, sme-review-needed

#9055 docs(otel): fixes to otel doc from review
  documentation/modules/tracing/con-distributed-tracing-description.adoc
  documentation/modules/tracing/proc-configuring-tracers-kafka-clients.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#9057 docs(mm2): updates the section for running multiple instances
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/assemblies/metrics/assembly-metrics-config-files.adoc
  documentation/modules/configuring/con-config-kafka-connect-multiple-instances.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/configuring/con-config-mm2-multiple-instances.adoc
  documentation/modules/configuring/proc-config-kafka-connect-user-authorization.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
Labels: documentation, sme-review-needed

#9072 Remove un-necessary encoding and replace it with inputEncoding parameter in checkstyle plugin
  pom.xml
Labels: ready for merge

#9080 docs(upgrade): adds note on rebuilding images
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
Labels: documentation

#9081 Fix listener status schema doc
  api/src/main/java/io/strimzi/api/kafka/model/status/ListenerStatus.java
  documentation/modules/appendix_crds.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation

#9078 [ST] addition of kafka version check in kafka status when upgrading kafka
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeST.java
Labels: System tests, ready for merge

#9091 docs(upgrade): Add new version fields to examples showing Kafka status
  documentation/assemblies/upgrading/assembly-upgrade.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/security/proc-accessing-kafka-using-loadbalancers.adoc
  documentation/modules/security/proc-accessing-kafka-using-nodeports.adoc
  documentation/modules/upgrading/con-upgrade-status.adoc
  documentation/modules/upgrading/proc-downgrade-cluster-operator.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
  documentation/modules/upgrading/proc-upgrade-cluster-operator.adoc
Labels: documentation

#9089 docs(typos): corrects asciidoc `subs` in examples
  documentation/modules/operators/con-deleting-managed-topics.adoc
  documentation/modules/operators/proc-converting-managed-topics.adoc
  documentation/modules/operators/proc-converting-non-managed-topics.adoc
Labels: documentation

#9085 [ST] Correct assumption for KRaft tests and Kafka 3.5.0 version
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaVersionsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: needs review, System tests

#9094 [ST] PodSetSt Reconcilation test, checks addition
  systemtest/src/test/java/io/strimzi/systemtest/operators/PodSetST.java
Labels: System tests, ready for merge

#9092 [ST] Namespace deletion recovery Class, namespace usage fix
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
Labels: System tests, ready for merge

#9063 [ST] TopicST and TopicScalabilityST improvements
  systemtest/src/main/java/io/strimzi/systemtest/annotations/BTONotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/BTONotSupportedCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicScalabilityUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
Labels: System tests, ready for merge

#9011 docs(tls): final tls connections diagram
  documentation/shared/images/secure_communication.png
Labels: documentation

#9107 [ST] removal of duplicities and addition of checks into RollingUpdateST and KafkaRollerST
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#9114 [ST] UserScalabilityST test modification
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserScalabilityST.java
Labels: System tests, ready for merge

#9110 [ST] NetworkPoliciesST refactor and merge of several tests into improved Network policies test
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: System tests, ready for merge

#8959 [ST] Correct namespace handling for Namespace rbac
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/jaeger/SetupJaeger.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfSharedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceRbacScopeOperatorST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
Labels: System tests, ready for merge

#9123 docs(connectors): clarifies scope of autorestart when enabled
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector-task.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
  documentation/shared/snip-example-source-connector-config.adoc
Labels: documentation

#9115 [ST] Quick fix of logging resource creation
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
Labels: System tests, ready for merge

#9117 [ST] PodSecurityProfilesST, addition of check for KafkaConnect, merge of all of the tests together.
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesST.java
Labels: System tests

#9086 [ST] Add 0.37.0 to STs after the release
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#9053 [ST] Modify FeatureGatesST test SwitchingConnectStabilityIdentifies
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
Labels: System tests, ready for merge

#9106 [ST] - Add support of provisioning Kind cluster
  .azure/scripts/setup-kind.sh
  .packit.yaml
  kubectl
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/KindNotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/KindNotSupportedCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaConnectTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Kind.java
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
Labels: System tests, ready for merge

#9058 [ST] ThrottlingQuotaST test ThrottlingQuotasDuringAllTopicOperations modifications
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/AdminClientOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
Labels: System tests, ready for merge

#9135 [ST] Refactor CustomAuthorizerST
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
Labels: System tests, ready for merge

#9144 [ST] - IPv6 support for Kind on TF
  .azure/scripts/setup-kind.sh
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/FIPSNotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/IPv6NotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/IPv6NotSupportedCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/KindIPv6NotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/KindIPv6NotSupportedCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/metrics/MetricsCollector.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
Labels: System tests, ready for merge

#9160 docs(cc): minor doc format updates to cruise control content from review
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
Labels: documentation

#9159 docs(node pools): handling storage with node pools
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/configuring/assembly-storage.adoc
  documentation/modules/configuring/proc-managing-storage-affinity-node-pools.adoc
  documentation/modules/configuring/proc-managing-storage-node-pools.adoc
  documentation/modules/configuring/proc-moving-node-pools.adoc
  documentation/modules/configuring/proc-scaling-down-node-pools.adoc
  documentation/modules/configuring/proc-scaling-up-node-pools.adoc
  documentation/modules/configuring/ref-storage-ephemeral.adoc
  documentation/modules/configuring/ref-storage-jbod.adoc
  documentation/modules/configuring/ref-storage-persistent.adoc
  documentation/modules/managing/con-custom-resources-info.adoc
Labels: documentation

#9122 docs(logs): updates the log cleanup policy descriptions
  documentation/modules/managing/con-broker-config-properties.adoc
Labels: documentation

#9131 [ST] RollingUpdateST refactor
  systemtest/src/main/java/io/strimzi/systemtest/utils/RollingUpdateUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#9136 [ST] AlternativeReconcileTriggersST addition of volumes check
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClient.java
Labels: System tests, ready for merge

#9171 docs(mm2): additional information on configuring mm2 authorization
  documentation/modules/configuring/con-config-mm2-multiple-instances.adoc
  documentation/modules/configuring/proc-config-kafka-connect-user-authorization.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
Labels: documentation

#9164 docs(operators): describes best practices for deploying the strimzi operator
  documentation/assemblies/deploying/assembly-deploy-tasks-prep.adoc
  documentation/modules/deploying/con-deploy-operator-best-practices.adoc
Labels: documentation

#9172 docs(scaling): adds instructions to skip the partition check on scale-down operations
  documentation/modules/configuring/con-scaling-kafka-clusters.adoc
  documentation/modules/configuring/con-skipping-scale-down-checks.adoc
Labels: documentation
