Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-01, with the labels that each got.

#7842 docs(listeners): Updates ingress and route listener procedures
  documentation/modules/security/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/security/proc-accessing-kafka-using-routes.adoc
  documentation/shared/attributes.adoc
Labels: documentation, sme-review-needed

#7863 docs(tls): Clarifies config for mTLS
  documentation/api/io.strimzi.api.kafka.model.listener.arraylistener.GenericKafkaListener.adoc
  documentation/assemblies/security/assembly-securing-kafka-clients.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/security/proc-accessing-kafka-using-ingress.adoc
  documentation/modules/security/proc-accessing-kafka-using-routes.adoc
  documentation/modules/security/proc-configuring-secure-kafka-user.adoc
Labels: documentation, sme-review-needed

#7837 [ST] Fix issues with cert-manager webhook
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/tracing/TracingConstants.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
Labels: needs review, System tests

#7885 [systemtest] Refactor Keycloak installation in STs
  systemtest/src/main/java/io/strimzi/systemtest/resources/keycloak/SetupKeycloak.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsIsolatedST.java
  systemtest/src/test/resources/oauth2/authorization_realm.json
  systemtest/src/test/resources/oauth2/create_realm.sh
  systemtest/src/test/resources/oauth2/create_realm_scope_audience.sh
  systemtest/src/test/resources/oauth2/internal_realm.json
  systemtest/src/test/resources/oauth2/keycloak-instance.yaml
  systemtest/src/test/resources/oauth2/prepare_keycloak_operator.sh
  systemtest/src/test/resources/oauth2/scope_audience_realm.json
  systemtest/src/test/resources/oauth2/teardown_keycloak_operator.sh
Labels: System tests

#7902 [systemtest] Add smoke test for testing all supported Kafka versions during regression pipeline
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaVersionsST.java
Labels: System tests

#7911 docs(connectors): Updates the example URLs for connector artifacts
  documentation/api/io.strimzi.api.kafka.model.connect.build.Build.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-using-kafka-connect-build.adoc
Labels: documentation, sme-review-needed

#7912 [azp] Add parameter for running ST pipelines with specific Kafka version
  .azure/acceptance-pipeline.yaml
  .azure/feature-gates-namespace-rbac-scope-regression-pipeline.yaml
  .azure/feature-gates-regression-pipeline.yaml
  .azure/helm-acceptance-pipeline.yaml
  .azure/helm-namespace-rbac-scope-acceptance-pipeline.yaml
  .azure/kraft-regression-pipeline.yaml
  .azure/namespace-rbac-scope-acceptance-pipeline.yaml
  .azure/namespace-rbac-scope-regression-pipeline.yaml
  .azure/regression-pipeline.yaml
  .azure/run-all-tests.yaml
  .azure/templates/jobs/system-tests/acceptance_helm_jobs.yaml
  .azure/templates/jobs/system-tests/acceptance_helm_namespace_rbac_jobs.yaml
  .azure/templates/jobs/system-tests/acceptance_jobs.yaml
  .azure/templates/jobs/system-tests/acceptance_namespace_rbac_jobs.yaml
  .azure/templates/jobs/system-tests/feature_gates_regression_jobs.yaml
  .azure/templates/jobs/system-tests/feature_gates_regression_namespace_rbac_jobs.yaml
  .azure/templates/jobs/system-tests/kraft_regression_jobs.yaml
  .azure/templates/jobs/system-tests/regression_jobs.yaml
  .azure/templates/jobs/system-tests/regression_namespace_rbac_jobs.yaml
  .azure/templates/jobs/system-tests/upgrade_jobs.yaml
  .azure/templates/steps/log_variables.yaml
  .azure/templates/steps/system_test_general.yaml
  .azure/upgrade-pipeline.yaml
Labels: enhancement, needs review

#7924 [systemtest] LogSettingST - use tags for corresponding tests and remove unused stuff
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
Labels: needs review, System tests

#7909 docs(connectors): Updates connector content and adds auto-restart config
  documentation/api/io.strimzi.api.kafka.model.AutoRestart.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-managing-connectors.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect-with-plugins.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-connect.adoc
  documentation/assemblies/overview/assembly-kafka-connect-components.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/configuring/con-config-kafka-connect-multiple-instances.adoc
  documentation/modules/configuring/proc-config-kafka-connect.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/deploying/con-deploy-kafka-connect-config-connector-api.adoc
  documentation/modules/deploying/con-exposing-kafka-connect-api.adoc
  documentation/modules/deploying/con-switching-api-to-kafka-connector.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-using-kafka-connect-build.adoc
  documentation/modules/deploying/proc-deploying-kafkaconnector.adoc
  documentation/modules/deploying/proc-manual-restart-connector-task.adoc
  documentation/modules/deploying/proc-manual-restart-connector.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
  documentation/shared/snip-intro-connectors.adoc
Labels: documentation, sme-review-needed

#7937 [systemtest] Disable testKafkaWithVersion when running tests with KRaft
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaVersionsST.java
Labels: needs review, System tests

#7951 docs(status): Updates the status information for custom resources
  documentation/modules/managing/con-custom-resources-status.adoc
Labels: documentation

#7950 docs(typos): Fixes a few typos in the docs
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/deploying/con-deploy-prereqs.adoc
  documentation/modules/oauth/proc-oauth-client-config.adoc
  documentation/modules/operators/proc-configuring-multiple-cluster-operators.adoc
  documentation/modules/overview/con-configuration-points-broker.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
Labels: documentation

#7949 Add a unit test case for validateCreateBootstrapService method.
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ListenersValidatorTest.java
Labels: ready for merge

#7923 Improve keycloak authorization example docs
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
Labels: documentation

#7930 [systemtest] Update scalability tests for UO and update tags
  development-docs/TESTING.md
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/UserAuthType.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUserUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserScalabilityIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests

#7654 Add broker certificate annotation per pod in SPS
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CertUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaListenersReconciler.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaReconciler.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/ResourceUtils.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorMockTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorPodSetTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaReconcilerUpgradeDowngradeTest.java
  operator-common/src/main/java/io/strimzi/operator/cluster/model/Ca.java
  operator-common/src/main/java/io/strimzi/operator/common/Util.java
  operator-common/src/test/java/io/strimzi/operator/common/operator/MockCertManager.java
  user-operator/src/test/java/io/strimzi/operator/user/model/KafkaUserModelTest.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/KafkaUserOperatorMockTest.java
Labels: KafkaRoller

#7968 [systemtest] Add 0.33.0 to upgrade/downgrade tests
  systemtest/src/test/resources/upgrade/StrimziDowngradeST.yaml
  systemtest/src/test/resources/upgrade/StrimziUpgradeST.yaml
Labels: needs review, System tests

#7964 Improve logs collection from resources deloyed during system tests execution
  .azure/templates/steps/default_variables.yaml
  .azure/templates/steps/system_test_general.yaml
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/keycloak/SetupKeycloak.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertHolder.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/RollingUpdateUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/JobUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StatefulSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/StrimziPodSetUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PersistentVolumeClaimUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/ServiceUtils.java
  systemtest/src/main/resources/log4j2.properties
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  test/src/main/java/io/strimzi/test/executor/Exec.java
Labels: System tests

#7981 docs(access): Moves content related to client and secure access
  documentation/api/io.strimzi.api.kafka.model.KafkaAuthorizationCustom.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaAuthorizationOpa.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaAuthorizationSimple.adoc
  documentation/assemblies/configuring/assembly-config-kafka.adoc
  documentation/assemblies/configuring/assembly-overview.adoc
  documentation/assemblies/deploying/assembly-deploy-client-access.adoc
  documentation/assemblies/deploying/assembly-deploy-verify.adoc
  documentation/assemblies/security/assembly-securing-external-listeners.adoc
  documentation/assemblies/security/assembly-securing-kafka-clients.adoc
  documentation/assemblies/security/assembly-securing-kafka.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/configuring/configuring.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/proc-config-kafka.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/deploying/con-deploy-custom-resources-example.adoc
  documentation/modules/deploying/con-deploy-options-scope.adoc
  documentation/modules/deploying/proc-deploy-example-clients.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/managing/proc-setting-broker-limits.adoc
  documentation/modules/oauth/con-oauth-reauthentication.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/oauth/proc-oauth-authorization-broker-config.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
  documentation/modules/oauth/proc-oauth-kafka-config.adoc
  documentation/modules/operators/proc-configuring-kafka-topic.adoc
  documentation/modules/operators/proc-configuring-kafka-user.adoc
  documentation/modules/overview/con-configuration-points-listeners.adoc
  documentation/modules/security/con-certificate-authorities.adoc
  documentation/modules/security/con-kafka-listener-certificates.adoc
  documentation/modules/security/con-securing-client-authentication.adoc
  documentation/modules/security/con-securing-client-authorization.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
  documentation/modules/security/con-securing-kafka-authorization.adoc
  documentation/modules/security/proc-configuring-secure-kafka-user.adoc
  documentation/modules/security/proc-installing-certs-per-listener.adoc
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
  documentation/modules/security/proc-restricting-access-to-listeners-using-network-policies.adoc
  documentation/modules/security/proc-securing-kafka.adoc
  documentation/modules/security/ref-alternative-subjects-certs-for-listeners.adoc
  documentation/modules/security/ref-certificates-and-secrets.adoc
Labels: documentation, sme-review-needed

#7996 Fix testUOListeningOnlyUsersInSameCluster test case
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
Labels: System tests

#7984 [system test] -> correct namespace handling in RollingUpdateST
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests
