Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-08, with the labels that each got.

#8927 docs(upgrade): removes upgrade procedure for cooperative rebalancing
  documentation/assemblies/upgrading/assembly-upgrade.adoc
  documentation/modules/upgrading/con-upgrade-sequence.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
  documentation/modules/upgrading/proc-upgrading-consumers-streams-cooperative-rebalancing.adoc
Labels: documentation, sme-review-needed

#8897 [ST] Add ST for KafkaNodePool ID management
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaNodePoolResource.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaNodePoolTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaNodePoolUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
Labels: needs review, System tests

#8932 Update upgrade to 0.36.1 version
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#8916 [ST] Enable running OAuth STs with KRaft mode
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
Labels: System tests

#8937 Show storage for Kafka clusters with Nodepools in our current grafana dashboards
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka.json
Labels: monitoring

#8946 Gather logs correctly for all namespaces in STs
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
Labels: System tests, ready for merge

#8942 [ST] fix logical error in KafkaNodePoolST
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
Labels: System tests, ready for merge

#8965 [ST] Make password longer to fix MM2 ST on fips clusters
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge

#8975 [ST] SecurityST testCaRenewalBreakInMiddle fix clients and broker configuration
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: System tests, ready for merge

#8986 [ST] Small changes in OLM examples and OLM installation
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeST.java
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests, ready for merge

#9016 [systemtest] Remove the workaround for OpenTelemetry and TLS on OCP
  systemtest/src/test/resources/tracing/jaeger-instance.yaml
Labels: needs review, System tests

#9027 docs(crds): updates the warning on deleting crds
  documentation/assemblies/managing/assembly-uninstalling.adoc
  documentation/modules/deploying/con-deploy-custom-resources-example.adoc
Labels: documentation, sme-review-needed

#9024 docs(node pools): describes the role of reserved.broker-max.id in managing ids
  documentation/modules/configuring/con-config-security-providers.adoc
  documentation/modules/configuring/proc-managing-node-pools-ids.adoc
  documentation/modules/configuring/proc-scaling-down-node-pools.adoc
  documentation/modules/configuring/proc-scaling-up-node-pools.adoc
Labels: documentation, sme-review-needed

#9034 docs(connectors): replaces connector plugins examples with placeholders
  documentation/api/io.strimzi.api.kafka.model.connect.build.Build.adoc
Labels: documentation, sme-review-needed

#9023 [ST] Fix for nodepools deployment for tests running in parallel
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
Labels: needs review, System tests

#8938 [ST] Refactor - use testStorage instead of mapWith* variables
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceRbacScopeOperatorST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: needs review, System tests

#9048 [ST] Modify CustomResourceStatus STs
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
Labels: System tests, ready for merge

#9049 [systemtest] Refactor tracing STs and remove the abstract
  systemtest/src/main/java/io/strimzi/systemtest/resources/jaeger/SetupJaeger.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/TracingAbstractST.java
Labels: needs review, System tests
