Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-10, with the labels that each got.

#9179 [ST] - Dual-stack support for Kind on TF
  .azure/scripts/setup-kind.sh
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
Labels: System tests, ready for merge

#9195 docs(node pools): warning on migrating clusters to use node pools
  documentation/modules/configuring/proc-migrating-clusters-node-pools.adoc
Labels: documentation

#9194 docs(node pools): adds node pools resources to resources list
  documentation/modules/configuring/proc-managing-storage-node-pools.adoc
  documentation/modules/configuring/proc-moving-node-pools.adoc
  documentation/modules/configuring/proc-scaling-down-node-pools.adoc
  documentation/modules/configuring/proc-scaling-up-node-pools.adoc
  documentation/modules/configuring/ref-config-list-of-kafka-connect-resources.adoc
  documentation/modules/configuring/ref-list-of-kafka-bridge-resources.adoc
  documentation/modules/configuring/ref-list-of-kafka-cluster-resources.adoc
  documentation/modules/configuring/ref-list-of-mirrormaker-resources.adoc
  documentation/modules/deploying/proc-deploy-kafka-node-pools.adoc
Labels: documentation

#9192 docs(cruise control): adds capacity config order of precedence
  documentation/api/io.strimzi.api.kafka.model.CruiseControlSpec.adoc
Labels: documentation

#9203 [ST] Enable topic pause reconciliation test for UTO
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
Labels: needs review, System tests

#9208 docs(minikube): removes the minikube content from the docs
  documentation/assemblies/deploying/assembly-deploy-tasks-prep.adoc
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/modules/deploying/con-deploy-kubernetes-cluster.adoc
  documentation/modules/deploying/con-deploy-operator-best-practices.adoc
  documentation/modules/deploying/con-deploy-prereqs.adoc
  documentation/modules/metrics/con_metrics-kafka-mini-kube.adoc
  documentation/shared/attributes.adoc
Labels: documentation

#9213 docs(mm2): adds list of resources created for MirrorMaker 2
  documentation/assemblies/deploying/assembly-deploy-kafka-mirror-maker.adoc
  documentation/modules/configuring/ref-list-of-mirrormaker-resources.adoc
  documentation/modules/configuring/ref-list-of-mirrormaker2-resources.adoc
Labels: documentation

#9197 [ST] Add UnidirectionalTopicOperator to FG pipelines in Azure
  .azure/templates/jobs/system-tests/feature_gates_regression_jobs.yaml
  .azure/templates/jobs/system-tests/feature_gates_regression_namespace_rbac_jobs.yaml
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: needs review, System tests

#9188 [ST] addition of manual rolling updates for MM2 and connect
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge

#9214 docs(tuning): updates to log compaction description
  documentation/modules/managing/con-broker-config-properties.adoc
Labels: documentation

#9221 [ST] Add UTO to upgrade/downgrade
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/NamespaceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
Labels: needs review, System tests

#9224 [ST] Fix testRecoveryDuringKafkaRollingUpdate
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests

#9226 Strimzi test container 0.105.0
  pom.xml
Labels: enhancement

#9228 docs(topic operator): adds instructions for switching topic management modes
  documentation/assemblies/operators/assembly-using-the-topic-operator.adoc
  documentation/modules/operators/con-changing-topic-operator-mode.adoc
  documentation/modules/operators/con-deleting-managed-topics.adoc
  documentation/modules/operators/con-removing-topic-finalizers.adoc
Labels: documentation

#9210 [ST] Add a way to simulate tls-external auth client producer and consumer
  systemtest/src/main/java/io/strimzi/systemtest/security/OpenSsl.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, ready for merge

#9240 [ST] Add metrics test for UTO
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
Labels: needs review, System tests

#9258 [ST] - Add support for multi-node kind cluster, update surefire and failsafe plugin version
  .azure/scripts/setup-kind.sh
  pom.xml
  systemtest/tmt/plans/main.fmf
Labels: System tests

#9242 [ST] Refactor UserST - add clients to verify messaging
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/security/OpenSsl.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: System tests, ready for merge

#9273 Fix UTO NPE with missing partitions and/or replicas
  topic-operator/src/main/java/io/strimzi/operator/topic/v2/BatchingTopicController.java
  topic-operator/src/test/java/io/strimzi/operator/topic/v2/TopicControllerIT.java
Labels: topic operator

#9295 [ST] Update test-clients to 0.6.0
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/DeploymentTypes.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/AdminClientOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaAdminClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/admin/AdminClient.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/specific/AdminClientTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/BaseCmdKubeClient.java
  test/src/main/java/io/strimzi/test/k8s/cmdClient/KubeCmdClient.java
Labels: needs review, System tests
