Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-03, with the labels that each got.

#8113 Make system test work with Connect stable identities
  .azure/templates/jobs/system-tests/feature_gates_regression_jobs.yaml
  .azure/templates/jobs/system-tests/feature_gates_regression_namespace_rbac_jobs.yaml
  systemtest/src/main/java/io/strimzi/systemtest/Constants.java
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/metrics/MetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaBridgeResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaConnectResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMaker2Resource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/RollingUpdateUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
Labels: System tests

#8167 [systemtest] Update Keycloak to 21.0.0 in tests
  systemtest/src/main/java/io/strimzi/systemtest/keycloak/KeycloakInstance.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/keycloak/SetupKeycloak.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsIsolatedST.java
  systemtest/src/test/resources/oauth2/keycloak-instance.yaml
  systemtest/src/test/resources/oauth2/postgres.yaml
  systemtest/src/test/resources/oauth2/prepare_keycloak_operator.sh
  systemtest/src/test/resources/oauth2/teardown_keycloak_operator.sh
Labels: needs review, System tests

#8171 docs(reassignment): Changing topic replicas using the reassignment tool
  documentation/assemblies/configuring/assembly-reassign-tool.adoc
  documentation/modules/configuring/con-partition-reassignment.adoc
  documentation/modules/configuring/proc-changing-topic-replicas.adoc
  documentation/modules/configuring/proc-generating-reassignment-json-files.adoc
  documentation/modules/configuring/proc-scaling-down-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scaling-up-a-kafka-cluster.adoc
  documentation/modules/configuring/snip-reassign-partitions.adoc
Labels: documentation, peer-review-needed, sme-review-needed

#8222 Add bridge pipeline
  .azure/bridge-pipeline.yaml
  .azure/templates/jobs/system-tests/bridge_jobs.yaml
  systemtest/pom.xml
Labels: ready for merge

#8184 [ST] Refactor OlmUpgradeST
  .azure/scripts/setup_upgrade.sh
  .jenkins/Jenkinsfile-pr
  .jenkins/jenkins.groovy
  development-docs/KAFKA_VERSIONS.md
  development-docs/RELEASE.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/configuration/OlmConfiguration.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/BundleVersionModificationData.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/CommonVersionModificationData.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/OlmVersionModificationData.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeDowngradeData.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeDowngradeDatalist.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/VersionModificationDataLoader.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/OlmUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/OlmUpgradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeIsolatedST.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#8216 docs(clients): updates the client upgrade strategies
  documentation/modules/upgrading/con-upgrade-strategies-for-upgrading-clients.adoc
Labels: documentation, sme-review-needed

#8271 [doc] Fix small typo in documentation about secured KafkaConnect API
  documentation/modules/deploying/con-securing-kafka-connect-api.adoc
Labels: documentation

#8267 [systemtest] Update upgrade/downgrade with 0.34.0
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: needs review, System tests

#8229 [systemtest] Update test-clients to 0.5.0
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/BridgeClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaClients.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaTracingClients.java
Labels: needs review, System tests

#8144 Update upgrade scenario for StableConnectIdentities feature gate
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/VersionModificationDataLoader.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziDowngradeIsolatedST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/StrimziUpgradeIsolatedST.java
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
Labels: System tests

#8250 docs(reassign tool): lists the capabilities of the reassign tool
  documentation/modules/configuring/con-partition-reassignment.adoc
Labels: documentation, peer-review-needed, sme-review-done

#8292 docs(rename): makes mm2 refs in docs consistent with naming conventions used by Kafka
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2ClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2MirrorSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2Resources.java
  api/src/main/java/io/strimzi/api/kafka/model/KafkaMirrorMaker2Spec.java
  api/src/main/java/io/strimzi/api/kafka/model/Rack.java
  api/src/main/java/io/strimzi/api/kafka/model/status/KafkaMirrorMaker2Status.java
  api/src/main/java/io/strimzi/api/kafka/model/template/KafkaMirrorMaker2Template.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2Cluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2Configuration.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaVersion.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/ResourceUtils.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorTest.java
  docker-images/kafka-based/kafka/scripts/kafka_mirror_maker_2_run.sh
  documentation/api/io.strimzi.api.kafka.model.AutoRestart.adoc
  documentation/api/io.strimzi.api.kafka.model.KafkaJmxOptions.adoc
  documentation/api/io.strimzi.api.kafka.model.Rack.adoc
  documentation/assemblies/configuring/assembly-config-mirrormaker.adoc
  documentation/assemblies/configuring/assembly-config-mirrormaker2.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/configuring/con-config-high-volume-messages.adoc
  documentation/modules/configuring/con-config-mirrormaker2-connectors.adoc
  documentation/modules/configuring/con-config-mirrormaker2-producers-consumers.adoc
  documentation/modules/configuring/con-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/con-config-mirrormaker2-tasks-max.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-replication.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-mirrormaker2-connector.adoc
  documentation/modules/deploying/con-deploy-cluster-operator-watch-options.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/metrics/ref-prometheus-metrics-config.adoc
  documentation/modules/metrics/ref_metrics-dashboards.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gates.adoc
  documentation/modules/operators/ref-operator-cluster-rbac-resources.adoc
  documentation/modules/overview/con-configuration-points-broker.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker.adoc
  documentation/modules/overview/con-key-features-kafka-connect.adoc
  documentation/modules/overview/con-overview-mirrormaker2.adoc
  documentation/modules/tracing/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
  documentation/modules/upgrading/proc-upgrade-brokers-newer-kafka.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
  packaging/install/cluster-operator/041-Crd-kafkaconnect.yaml
  packaging/install/cluster-operator/046-Crd-kafkabridge.yaml
  packaging/install/cluster-operator/048-Crd-kafkamirrormaker2.yaml
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2IsolatedST.java
Labels: documentation

#8300 Turn off ExponentialBackoffIntervalCalculator during systemtests deug log
  systemtest/src/main/resources/log4j2.properties
Labels: System tests

#8309 [systemtest] Upgrade/downgrade - add Kafka version to KafkaConnect deployment
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
Labels: needs review, System tests

#8291 [systemtest] Update test-clients to 0.5.2
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
Labels: needs review, System tests

#8323 Add datasource to all panels that missing it in Kafka Bridge and Kafka Exporter dashboards
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-bridge.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-exporter.json
Labels: monitoring
