Repository strimzi/strimzi-kafka-operator, pull requests merged in 2023-12, with the labels that each got.

#9421 [DOC] Fix small typo in sed command in `Document Conventions`
  documentation/shared/ref-document-conventions.adoc
Labels: needs review, documentation

#9443 Improve KafkaQuorumCheckTest test coverage
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/KafkaQuorumCheckTest.java
Labels: enhancement, needs review, KafkaRoller

#9442 [ST] KRaft to KRaft upgrades/downgrades in STs
  .azure/templates/jobs/system-tests/upgrade_jobs.yaml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaNodePoolResource.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaNodePoolTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/UpgradeKafkaVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/VersionModificationDataLoader.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/RollingUpdateUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/TestKafkaVersion.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/AbstractKRaftUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftKafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/KafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/OlmUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
Labels: System tests, KRaft

#9370 docs(uto): updates UTO docs to promote unidirectional mode as primary/default
  documentation/modules/configuring/con-configuring-topic-operator.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/operators/con-application-topic-handling.adoc
  documentation/modules/operators/con-deleting-managed-topics.adoc
  documentation/modules/operators/con-operator-topic-names.adoc
  documentation/modules/operators/con-removing-topic-finalizers.adoc
  documentation/modules/operators/con-tuning-topic-request-batches.adoc
  documentation/modules/operators/proc-configuring-kafka-topic.adoc
  documentation/modules/operators/proc-converting-managed-topics.adoc
  documentation/modules/operators/proc-converting-non-managed-topics.adoc
  documentation/modules/operators/ref-operator-topic.adoc
  documentation/modules/overview/con-overview-components-topic-operator.adoc
Labels: documentation

#9415 [ST] ConnectorsST and MirrorMaker2ST add checks for newly added connector.spec.state
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: needs review, System tests

#9428 [ST] KafkaNodePoolST add test addRemoveBrokerKNP into Kafka Cluster
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaNodePoolResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaNodePoolUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
Labels: System tests, ready for merge

#9453 [system test] - KafkaRollerST managing rolling updates across mixed, broker, and controller node
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaNodePoolResource.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
Labels: System tests

#9460 docs(node pools): updates to node pools content to reflect move to beta
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-cluster.adoc
  documentation/modules/configuring/con-config-examples.adoc
  documentation/modules/configuring/con-config-node-pools.adoc
  documentation/modules/configuring/proc-managing-node-pools-ids.adoc
  documentation/modules/configuring/proc-managing-storage-affinity-node-pools.adoc
  documentation/modules/configuring/proc-managing-storage-node-pools.adoc
  documentation/modules/configuring/proc-migrating-clusters-node-pools.adoc
  documentation/modules/configuring/proc-moving-node-pools.adoc
  documentation/modules/configuring/proc-scaling-down-node-pools.adoc
  documentation/modules/configuring/proc-scaling-up-node-pools.adoc
  documentation/modules/configuring/ref-list-of-kafka-cluster-resources.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster.adoc
  documentation/modules/deploying/proc-deploy-kafka-node-pools.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gates.adoc
  documentation/modules/overview/con-configuration-points-node-pools.adoc
Labels: documentation

#9464 docs(upgrade): note on topic operator cleanup when upgrading with unidirectional mode
  documentation/assemblies/upgrading/assembly-upgrade-cluster-operator.adoc
Labels: documentation

#9474 Fix the UTO upgrade issue reported in #9470.
  topic-operator/src/main/java/io/strimzi/operator/topic/v2/BatchingTopicController.java
  topic-operator/src/test/java/io/strimzi/operator/topic/v2/TopicControllerIT.java
Labels: topic operator

#9481 docs(tls): updates the tls communication overview to accommodate kraft
  documentation/assemblies/security/assembly-security.adoc
  documentation/shared/images/secure_communication.png
  documentation/shared/images/secure_communication_kraft.png
  documentation/shared/images/secure_communication_zookeeper.png
Labels: documentation
