Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-12, with the labels that each got.

#10909 [ST] Add check for passing the ConfigMap field to env variable using Connect Container template
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
Labels: needs review, System tests

#10910 [system test] Add CruiseControl removeDisks test case
  development-docs/systemtests/io.strimzi.systemtest.cruisecontrol.CruiseControlST.md
  development-docs/systemtests/labels/cruise-control.md
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests

#10842 [system test] [doc] LoggingChangeST
  development-docs/systemtests/io.strimzi.systemtest.log.LoggingChangeST.md
  development-docs/systemtests/labels/kafka.md
  development-docs/systemtests/labels/logging.md
  systemtest/src/main/java/io/strimzi/systemtest/docs/TestDocsLabels.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests

#10945 docs(edit): removes some mm1 content
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/configuring/con-pod-management.adoc
  documentation/modules/operators/con-configuring-cluster-operator.adoc
Labels: documentation

#10946 [ST] Update mechanism for changing the Docker registry, repository, and tag
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
Labels: needs review, System tests

#10947 [ST] Update mechanism for changing the Docker registry, repository, and tag - main branch
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
Labels: needs review, System tests

#10963 [ST] Add Strimzi 0.45.0 to the upgrade/downgrade tests
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#10955 [ST] Specify correct registry, org, and tag for Helm and remove unused code for OCP
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/HelmResource.java
Labels: needs review, System tests

#10976 [system test] Remove un-necessary vertx Description annotation from t…
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
Labels: System tests, ready for merge

#10914 Update Strimzi Test Container 0.109.1
  .azure/build-pipeline.yaml
  pom.xml
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicControllerIT.java
Labels: needs review
