Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-07, with the labels that each got.

#10224 Fixed the KafkaRebalance resource reconciliation getting stuck if CC pod is restarted during rebalance
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/CruiseControlApiImpl.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaRebalanceAssemblyOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/resource/cruisecontrol/MockCruiseControl.java
  cluster-operator/src/test/resources/io/strimzi/operator/cluster/operator/assembly/CruiseControlJSON/CC-User-task-status-empty.json
Labels: cluster-balancing

#10300 docs(format): updates asciidoc format for config examples
  documentation/modules/configuring/con-config-mirrormaker.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
Labels: documentation

#10299 docs(resources): clarifies where resources (requests and limits) are configured
  documentation/modules/con-common-configuration-properties.adoc
Labels: documentation

#10292 docs(tuning): consumer config: updates content on rebalances
  documentation/modules/managing/con-consumer-config-properties.adoc
Labels: documentation

#10326 [ST] Modify STs after 0.42.0 release - upgrade/downgrade/OLM versions
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#10321 [system test] bandwidth quota test and performance measurement
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
Labels: System tests, ready for merge

#10336 Use proper time values in one of KafkaExporter's dashbord queries
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-exporter.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka-exporter.json
Labels: monitoring

#10319 docs(upgrade): updates upgrade of Cluster Operator watching multiple namespaces
  documentation/modules/deploying/proc-deploy-cluster-operator-watch-multiple-namespaces.adoc
  documentation/modules/upgrading/proc-downgrade-cluster-operator.adoc
  documentation/modules/upgrading/proc-upgrade-cluster-operator.adoc
Labels: documentation

#10318 docs(api): cleans up property descriptions
  api/src/main/java/io/strimzi/api/kafka/model/bridge/KafkaBridgeConsumerSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/bridge/KafkaBridgeProducerSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/KafkaClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/listener/GenericKafkaListener.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/listener/GenericKafkaListenerConfiguration.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/listener/GenericKafkaListenerConfigurationBootstrap.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/listener/KafkaListenerAuthenticationCustom.java
  api/src/main/java/io/strimzi/api/kafka/model/user/acl/AclRule.java
  documentation/api/io.strimzi.api.kafka.model.bridge.KafkaBridgeConsumerSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.bridge.KafkaBridgeHttpConfig.adoc
  documentation/api/io.strimzi.api.kafka.model.bridge.KafkaBridgeProducerSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.bridge.KafkaBridgeSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.common.ClientTls.adoc
  documentation/api/io.strimzi.api.kafka.model.common.authentication.KafkaClientAuthenticationPlain.adoc
  documentation/api/io.strimzi.api.kafka.model.common.authentication.KafkaClientAuthenticationScramSha256.adoc
  documentation/api/io.strimzi.api.kafka.model.common.authentication.KafkaClientAuthenticationScramSha512.adoc
  documentation/api/io.strimzi.api.kafka.model.common.authentication.KafkaClientAuthenticationTls.adoc
  documentation/api/io.strimzi.api.kafka.model.common.template.PodTemplate.adoc
  documentation/api/io.strimzi.api.kafka.model.connect.KafkaConnectSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.connect.build.Build.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.KafkaAuthorizationCustom.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.KafkaAuthorizationOpa.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.KafkaAuthorizationSimple.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.KafkaClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.cruisecontrol.CruiseControlSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.entityoperator.EntityTopicOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.entityoperator.EntityUserOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.listener.GenericKafkaListener.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.listener.GenericKafkaListenerConfiguration.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.listener.GenericKafkaListenerConfigurationBootstrap.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.listener.GenericKafkaListenerConfigurationBroker.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.listener.KafkaListenerAuthenticationCustom.adoc
  documentation/api/io.strimzi.api.kafka.model.mirrormaker2.KafkaMirrorMaker2ClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.user.KafkaUserQuotas.adoc
  documentation/api/io.strimzi.api.kafka.model.user.acl.AclRule.adoc
  documentation/api/io.strimzi.api.kafka.model.zookeeper.ZookeeperClusterSpec.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/oauth/proc-oauth-authorization-broker-config.adoc
  documentation/modules/security/con-configuring-client-quotas.adoc
  documentation/modules/security/con-securing-kafka-authorization.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/044-Crd-kafkauser.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
  packaging/install/cluster-operator/044-Crd-kafkauser.yaml
  packaging/install/cluster-operator/046-Crd-kafkabridge.yaml
  packaging/install/user-operator/04-Crd-kafkauser.yaml
Labels: documentation

#10320 docs(quotas): expands quotas procedure to include plugin examples
  documentation/assemblies/tuning/assembly-tuning-config.adoc
  documentation/modules/managing/proc-setting-broker-limits.adoc
Labels: documentation

#10324 docs(partition tool): clarifies the process to change preferred leader
  documentation/modules/configuring/con-partition-reassignment.adoc
Labels: documentation

#10350 docs(pods): updates description of config for tmpDirSizeLimit
  api/src/main/java/io/strimzi/api/kafka/model/common/template/PodTemplate.java
  documentation/modules/appendix_crds.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/045-Crd-kafkamirrormaker.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/046-Crd-kafkabridge.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/04A-Crd-kafkanodepool.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
  packaging/install/cluster-operator/041-Crd-kafkaconnect.yaml
  packaging/install/cluster-operator/045-Crd-kafkamirrormaker.yaml
  packaging/install/cluster-operator/046-Crd-kafkabridge.yaml
  packaging/install/cluster-operator/048-Crd-kafkamirrormaker2.yaml
  packaging/install/cluster-operator/04A-Crd-kafkanodepool.yaml
Labels: documentation

#10379 Bump up test container 0.107.0
  pom.xml
Labels: enhancement

#10351 ST: Check that messages are not available in local storage when tiered storage is used
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/admin/AdminClient.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/minio/SetupMinio.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/AdminClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MinioUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/TieredStorageST.java
Labels: System tests, ready for merge

#10383 docs(readme): update to contribution steps to mention fork
  documentation/README.md
Labels: documentation

#10381 [ST] Skip TieredStorage ST when running on FIPS cluster
  systemtest/src/test/java/io/strimzi/systemtest/kafka/TieredStorageST.java
Labels: needs review, System tests

#10382 [ST] Deflake Connector ST weird usernames TLS/SCRAM tests
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
Labels: System tests, ready for merge

#10384 [ST] Remove NodePort from the 'weird username tests' for Kafka Bridge
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
Labels: needs review, System tests

#10375 ST: Deflake testPauseReconciliationInKafkaRebalanceAndTopic and testKafkaCCAndRebalanceWithMultipleCOs
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaRebalanceResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
Labels: System tests

#10390 [ST] Bump Keycloak version to 25.0.2 and enable Oauth tests for aarch64
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/resources/oauth2/internal_realm.json
Labels: System tests
