Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-08, with the labels that each got.

#10401 [ST] Update test-clients to 0.9.0
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/TieredStorageST.java
Labels: System tests

#10428 [system test] Add Support for Mounting Additional Volumes in Kafka, C…
  systemtest/src/main/java/io/strimzi/systemtest/templates/kubernetes/ConfigMapTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
Labels: System tests

#10432 [ST] Move KRaft and NodePools tests from `FeatureGatesST` to correct classes
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
Labels: System tests

#10440 [ST] Remove `storageMap` from the suite
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
Labels: needs review, System tests

#10404 docs(config): adds comments to config examples
  documentation/modules/configuring/con-config-kafka-bridge.adoc
  documentation/modules/configuring/con-config-kafka-connect.adoc
  documentation/modules/configuring/con-config-kafka-kraft.adoc
  documentation/modules/configuring/con-config-kafka-zookeeper.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/configuring/con-config-node-pools.adoc
Labels: documentation

#10452 [ST] Fix Keycloak connection refused issue
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/KeycloakUtils.java
Labels: needs review, System tests

#10473 [ST] Add CC API Users test
  systemtest/src/main/java/io/strimzi/systemtest/templates/kubernetes/SecretTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests

#10460 docs(refactor): refactor of the overview guide
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/deploying/assembly-deploy-intro.adoc
  documentation/assemblies/overview/assembly-configuration-points.adoc
  documentation/assemblies/overview/assembly-key-features.adoc
  documentation/assemblies/overview/assembly-security-overview.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/configuring/con-config-kafka-bridge.adoc
  documentation/modules/configuring/con-config-kafka-connect-multiple-instances.adoc
  documentation/modules/configuring/con-config-kafka-connect.adoc
  documentation/modules/configuring/con-config-kafka-connector.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/deploying/con-switching-api-to-kafka-connector.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-using-kafka-connect-build.adoc
  documentation/modules/overview/con-configuration-points-bridge.adoc
  documentation/modules/overview/con-configuration-points-broker.adoc
  documentation/modules/overview/con-configuration-points-common.adoc
  documentation/modules/overview/con-configuration-points-connect.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker.adoc
  documentation/modules/overview/con-configuration-points-mirrormaker2.adoc
  documentation/modules/overview/con-configuration-points-node-pools.adoc
  documentation/modules/overview/con-configuration-points-resources.adoc
  documentation/modules/overview/con-configuration-points.adoc
  documentation/modules/overview/con-key-features-kafka.adoc
  documentation/modules/overview/con-key-features-product.adoc
  documentation/modules/overview/con-metrics-overview-tools.adoc
  documentation/modules/overview/con-metrics-overview.adoc
  documentation/modules/overview/con-security-configuration-authentication.adoc
  documentation/modules/overview/con-security-configuration-authorization.adoc
  documentation/modules/overview/con-security-configuration-encryption.adoc
  documentation/modules/overview/con-security-configuration-fips.adoc
  documentation/modules/overview/con-security-overview.adoc
  documentation/modules/overview/ref-key-features.adoc
  documentation/overview/overview.adoc
  documentation/shared/attributes.adoc
  documentation/shared/snip-example-source-connector-config.adoc
  documentation/shared/snip-intro-connectors.adoc
  documentation/shared/snip-intro-text.adoc
Labels: documentation

#10474 [ST] Remove few methods/classes that are not used
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/annotations/NodePoolsOnly.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/NodePoolsOnlyCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/HttpUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaBridgeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/ConfigMapUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/NodeUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/BridgeUtils.java
Labels: needs review, System tests

#10471 improve tiered storage system test
  development-docs/TESTING.md
  systemtest/src/test/java/io/strimzi/systemtest/kafka/TieredStorageST.java
Labels: System tests

#10475 [system test] - re-write some tests to use pattern with trusted certi…
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
Labels: System tests, ready for merge

#10485 docs(cruise control): format fix for cc api users section
  documentation/api/io.strimzi.api.kafka.model.kafka.cruisecontrol.CruiseControlSpec.adoc
Labels: documentation

#10481 Disable unmanaged topics reconciliation
  CHANGELOG.md
  documentation/modules/operators/proc-converting-managed-topics.adoc
  topic-operator/src/main/java/io/strimzi/operator/topic/BatchingTopicController.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicControllerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorMetricsTest.java
Labels: ready for merge

#10493 [ST] Change ST after release 0.43.0 Upgrade/Downgrade and OLM defaults
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests, ready for merge

#10413 Add release trigger to Packit to trigger system tests on TF (amd64+arm64)
  .packit.yaml
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
Labels: System tests

#10501 [ST] removal of resources from co-namespace across ST (except for upgrade downgrade STs)
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
Labels: System tests, ready for merge

#10507 Use properly kube version for Kind setup and resolve TF errors
  .azure/scripts/setup-kind.sh
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/resources/tracing/cert-manager.yaml
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
Labels: ready for merge

#10497 [ST] unused tags removal: internalclients, arm arch unsupported
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/tmt/tests/strimzi/main.fmf
Labels: System tests, ready for merge

#10521 [ST] enable most of formerly kraftNotEnabled tests
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge
