Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-03, with the labels that each got.

#9751 [ST] fix CC failing test due to default topic rep. factor
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests, ready for merge

#9709 [ST] Use correct Kafka resource for each mode (ZK without NP / ZK with NP / KRaft)
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerST.java
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: needs review, System tests

#9767 [ST] Add assumption about Kafka version and change Kafka template inside the migration tests
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
Labels: needs review, System tests

#9719 [ST] Fix bridge client network policies creation
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/BridgeClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
Labels: needs review, System tests

#9776 [ST] Fix NetworkPolicies for Oauth tests
  systemtest/src/main/java/io/strimzi/systemtest/resources/keycloak/SetupKeycloak.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
Labels: System tests

#9780 Bump up test container 0.106.0
  pom.xml
Labels: enhancement

#9793 [ST] Add NetworkPolicies for OpenTelemetryST when running on OCP
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/jaeger/SetupJaeger.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/keycloak/SetupKeycloak.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
Labels: needs review, System tests

#9785 [ST] Update test-clients to 0.7.0 after the release
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
Labels: System tests

#9797 [ST] Disable flaky assertNoCoErrorsLogged
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: System tests

#9801 [ST] Fixups for few failing tests in nightlies
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/SkipDefaultNetworkPolicyCreation.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/MetricsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
Labels: needs review, System tests

#9782 [ST] persistent kafka with 1 rep. instead ephemeral
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/olm/OlmAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: System tests

#9808 [ST] Fix the issue with creating Kafka in CC tests in KRaft mode with lower Kafka version
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: needs review, System tests

#9813 [ST] Fix and improve QuotasST
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: needs review, System tests

#9818 [ST] Update upgrade/downgrade YAMLs and Environment class after 0.40.0 release
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: needs review, System tests

#9788 docs(cruise control): employing cruise control to change topic replication factor
  documentation/assemblies/configuring/assembly-reassign-tool.adoc
  documentation/assemblies/cruise-control/assembly-cruise-control-concepts.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/proc-changing-topic-replicas.adoc
  documentation/modules/configuring/proc-scaling-down-a-kafka-cluster.adoc
  documentation/modules/configuring/proc-scaling-up-a-kafka-cluster.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/proc-cruise-control-topic-replication.adoc
  documentation/modules/operators/con-topic-replication.adoc
Labels: documentation

#9829 [ST] Enhance DrainCleanerST
  systemtest/src/main/java/io/strimzi/systemtest/resources/draincleaner/SetupDrainCleaner.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests

#9839 [ST] Set `STRIMZI_USE_NODE_POOLS_IN_TESTS` to `true` by default
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
Labels: needs review, System tests

#9834 [ST] KafkaConnect dynamic log level change test checks addition
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: System tests, ready for merge

#9852 [ST] (Kraft)KafkaUpgradeDowngrade decrease tests durations
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftKafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/KafkaUpgradeDowngradeST.java
Labels: System tests

#9850 [ST] fix flaky test in MultipleClusterOperatorsST
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
Labels: needs review, System tests

#9658 [ST] default builders for plain/tls internal clients
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaClients.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTopicTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaVersionsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/PodSetST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicReplicasChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftKafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/KafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: System tests, ready for merge

#9878 docs(upgrade): updates node draining instructions following drain cleaner changes
  documentation/modules/upgrading/con-upgrade-cluster.adoc
Labels: documentation

#9866 docs(storage): adds a description of tiered storage
  documentation/api/io.strimzi.api.kafka.model.kafka.tieredstorage.TieredStorageCustom.adoc
  documentation/assemblies/configuring/assembly-storage.adoc
  documentation/modules/configuring/ref-storage-tiered.adoc
Labels: documentation

#9884 docs(pvc): updates the procedure to recover from a deleted cluster
  documentation/modules/managing/proc-cluster-recovery-volume.adoc
Labels: documentation

#9894 docs(node pools): impact on racks when moving nodes
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/modules/configuring/con-node-pools-racks.adoc
Labels: documentation
