Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-11, with the labels that each got.

#10795 [system test] Fix default storage class retrieval
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
Labels: System tests

#10796 [ST] fix usages of logPodImages in UpgradeSTs
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
Labels: System tests

#10804 docs(review): minor edits to the docs from review
  documentation/api/io.strimzi.api.kafka.model.kafka.listener.GenericKafkaListenerConfiguration.adoc
  documentation/modules/deploying/con-strimzi-installation-methods.adoc
  documentation/modules/managing/proc-cluster-recovery-volume-zk.adoc
  documentation/shared/attributes.adoc
Labels: documentation

#10803 docs(quota plugins): note on quotas for internal users
  documentation/modules/managing/proc-setting-broker-limits.adoc
Labels: documentation

#10819 Prepare upgrade files in packit pipelines in test phase where all envs are set properly
  .azure/scripts/setup_upgrade.sh
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
Labels: System tests

#10830 [ST] Remove SecurityST#testCertificates
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
Labels: needs review, System tests

#10637 [system test] make Recovery tests run only on KRaft mode only
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
Labels: System tests

#10833 [system test] Add wait to prevent race condition in testAutoKafkaRebalanceScaleUpSc…
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests, ready for merge

#10856 Improve release_files_check script
  .azure/scripts/release_files_check.sh
Labels: enhancement

#10864 docs(controllers): adds a section on controllers quorums and limitations
  documentation/assemblies/deploying/assembly-kraft-mode.adoc
  documentation/modules/configuring/proc-managing-storage-node-pools.adoc
Labels: documentation

#10863 Bump up Strimzi test container 0.109.0
  pom.xml
Labels: enhancement

#10837 docs(jbod): using cc to reassign partitions on jbod disks
  documentation/deploying/deploying.adoc
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-cruise-control-moving-data.adoc
  documentation/modules/cruise-control/proc-fixing-problems-with-kafkarebalance.adoc
  documentation/modules/cruise-control/proc-generating-optimization-proposals.adoc
  documentation/modules/cruise-control/proc-stopping-cluster-rebalance.adoc
Labels: documentation

#10844 Improve min.insync.replicas parsing in warnTooLargeMinIsr
  topic-operator/src/main/java/io/strimzi/operator/topic/BatchingTopicController.java
  topic-operator/src/main/java/io/strimzi/operator/topic/KafkaHandler.java
  topic-operator/src/test/java/io/strimzi/operator/topic/BatchingTopicControllerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicControllerIT.java
Labels: ready for merge
