Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-04, with the labels that each got.

#9885 docs(uto): removes some references to using the bidirectional topic operator
  documentation/assemblies/security/assembly-security.adoc
  documentation/assemblies/upgrading/assembly-upgrade-cluster-operator.adoc
  documentation/modules/cruise-control/proc-cruise-control-topic-replication.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-certs.adoc
Labels: documentation

#9913 docs(fips): note on NIST validation
  documentation/modules/deploying/con-fips-support.adoc
  documentation/modules/deploying/con-fips-validation.adoc
Labels: documentation

#9917 docs(fix): fixes link to image environment variables info
  documentation/modules/con-common-configuration-properties.adoc
Labels: documentation

#9919 [ST] Fix `LoggingChangeST#testDynamicallySetConnectLoggingLevels` for Kafka versions below 3.7.x
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
Labels: bug, needs review, System tests

#9942 [ST] Move AZP profiles from STs' pom.xml and remove profiles related to Jenkins
  .azure/systemtests/systemtest-settings.xml
  .azure/templates/steps/system_test_general.yaml
  systemtest/pom.xml
Labels: needs review, System tests

#9950 docs(node pools): reversing the migration to node pools
  documentation/modules/configuring/proc-migrating-clusters-node-pools.adoc
Labels: documentation

#9971 Fix missing curly bracket in KRaft volume size query
  packaging/examples/metrics/grafana-dashboards/strimzi-kraft.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kraft.json
Labels: monitoring

#9954 [ST] Fix MigrationST
  .azure/templates/jobs/system-tests/migration_jobs.yaml
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceOperation.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
Labels: needs review, System tests

#9907 [performance] Introduction to performance testing
  .packit.yaml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/metrics/MetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/OperationTimer.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/PerformanceConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/BaseMetricsCollectionScheduler.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/TopicOperatorMetricsCollectionScheduler.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/TopicOperatorMetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/BasePerformanceReporter.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/TopicOperatorPerformanceReporter.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/parser/BasePerformanceMetricsParser.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/parser/ExperimentMetrics.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/parser/ParserFactory.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/parser/ParserType.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/report/parser/TopicOperatorMetricsParser.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceItem.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaTopicScalabilityUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/TopicOperatorPerformanceTest.java
  systemtest/src/test/resources/performance/dashboards/topic-operator/topic-dashboard.json
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/scripts/copy-logs.sh
  systemtest/tmt/tests/strimzi/main.fmf
  systemtest/tmt/tests/strimzi/test.sh
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: ready for merge

#9959 Add more unit tests for `Label.class` related to label filtering
  operator-common/src/main/java/io/strimzi/operator/common/model/Labels.java
  operator-common/src/test/java/io/strimzi/operator/common/model/LabelsTest.java
Labels: needs review

#9991 docs(exporter): adds the showAllOffsets configuration to example Exporter config
  documentation/modules/metrics/proc-metrics-kafka-deploy-options.adoc
Labels: documentation

#9982 Update Grafana dashboards to remove deprecated angular plugins
  CHANGELOG.md
  packaging/examples/metrics/grafana-dashboards/strimzi-cruise-control.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-bridge.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-connect.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-exporter.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-mirror-maker-2.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka-oauth.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kafka.json
  packaging/examples/metrics/grafana-dashboards/strimzi-kraft.json
  packaging/examples/metrics/grafana-dashboards/strimzi-operators.json
  packaging/examples/metrics/grafana-dashboards/strimzi-zookeeper.json
  packaging/examples/metrics/grafana-install/grafana.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-cruise-control.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka-bridge.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka-connect.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka-exporter.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka-mirror-maker-2.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka-oauth.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kafka.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-kraft.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-operators.json
  packaging/helm-charts/helm3/strimzi-kafka-operator/files/grafana-dashboards/strimzi-zookeeper.json
Labels: monitoring

#10007 [system test] - adapt JBOD system tests for KRaft and also make it co…
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
Labels: System tests, ready for merge

#10029 [system test] - Remove scalabillity test cases
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserScalabilityST.java
Labels: System tests

#9876 [ST] enable all system test disable due to UTO and add admin client utils
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/UTONotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/UTONotSupportedCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/cli/KafkaCmdClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/admin/AdminClient.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/admin/KafkaAdminException.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/admin/KafkaTopicDescription.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/specific/AdminClientTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/AdminClientUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/PodUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/CruiseControlUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
Labels: System tests, ready for merge

#10018 [performance] - UserOperator capacity tests
  .packit.yaml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/metrics/MetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/PerformanceConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/collectors/BaseMetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/utils/UserOperatorPerformanceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/UserOperatorPerformanceTest.java
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/main.fmf
Labels: ready for merge
