Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-02, with the labels that each got.

#9531 docs(api): puts the api ref into three columns
  api/src/main/java/io/strimzi/api/kafka/model/kafka/KafkaClusterSpec.java
  crd-generator/src/main/java/io/strimzi/crdgenerator/DocGenerator.java
  crd-generator/src/test/resources/io/strimzi/crdgenerator/simpleTest.adoc
  documentation/modules/appendix_crds.adoc
  documentation/modules/upgrading/con-upgrade-cluster.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation

#9630 Read and store ST configuration in yaml
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
Labels: ready for merge

#9627 Use KRaft only on Testing Farm to avoid unexpected ZK failures
  systemtest/tmt/plans/main.fmf
  systemtest/tmt/tests/strimzi/main.fmf
  test/src/main/java/io/strimzi/test/k8s/cluster/Kind.java
Labels: System tests, ready for merge

#9584 [ST] Kafka Roller: enable pod pending test for kraft controller
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#9569 [ST] Big refactor of Test Storage usage in ST
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlConfigurationST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceRbacScopeOperatorST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/ReconciliationST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/ThrottlingQuotaST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/OpaIntegrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/HelmChartST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftKafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/KafkaUpgradeDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: System tests

#9635 docs(node pools): checks for nodes in node pools changing role
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/modules/configuring/con-config-node-pool-roles.adoc
  documentation/modules/configuring/con-config-node-pools.adoc
  documentation/modules/configuring/con-scaling-kafka-clusters.adoc
  documentation/modules/configuring/con-skipping-scale-down-checks.adoc
  documentation/modules/deploying/proc-deploy-kafka-node-pools.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/overview/con-configuration-points-node-pools.adoc
Labels: documentation

#9637 [ST] Refactor logs collecting of systemtests and collect more data
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  test/src/main/java/io/strimzi/test/TestUtils.java
Labels: System tests, ready for merge

#9628 [ST] Use real test execution instead of milis from epoch in collecting logs from CO
  systemtest/src/main/java/io/strimzi/systemtest/matchers/LogHasNoUnexpectedErrors.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
Labels: System tests

#9639 Improve verification of the running test cluster
  test/src/main/java/io/strimzi/test/k8s/cluster/KubeCluster.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Kubernetes.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Microshift.java
  test/src/main/java/io/strimzi/test/k8s/cluster/Minikube.java
  test/src/main/java/io/strimzi/test/k8s/cluster/OpenShift.java
Labels: System tests, ready for merge

#9636 [ST] Fixups to few failing tests
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaConnectUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesST.java
Labels: System tests

#9646 docs(api): adds formatting for lists to the descriptions of the API properties
  api/src/main/java/io/strimzi/api/kafka/model/kafka/listener/GenericKafkaListener.java
  crd-generator/src/main/java/io/strimzi/crdgenerator/DocGenerator.java
  crd-generator/src/test/resources/io/strimzi/crdgenerator/simpleTest.adoc
  documentation/modules/appendix_crds.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation

#9650 [ST] Remove unused methods from the KafkaNodePoolResource class
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaNodePoolResource.java
Labels: needs review, System tests

#9647 docs(refactor): moves drain cleaner content
  documentation/assemblies/deploying/assembly-drain-cleaner.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-certs-renewals.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-certs.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-deploying-helm-chart.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-deploying.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-using.adoc
  documentation/modules/upgrading/con-upgrade-cluster.adoc
Labels: documentation

#9659 Store secrets and configmaps in folders during log collecting
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
Labels: System tests, ready for merge

#9656 [ST] Re-enable applying of NetworkPolicies during namespace creation
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/jaeger/SetupJaeger.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/kubernetes/NetworkPolicyTemplates.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
Labels: needs review, System tests

#9673 [ST] Remove un-necessary check inside testKafkaConnectAndConnectorStatus
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
Labels: System tests, ready for merge

#9663 Use Integer instead of int in `KafkaClusterSpec` replicas
  api/src/main/java/io/strimzi/api/kafka/model/kafka/KafkaClusterSpec.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KRaftUtils.java
  cluster-operator/src/test/resources/io/strimzi/operator/cluster/model/KafkaClusterTest.withAffinityWithoutRack-Kafka.yaml
  cluster-operator/src/test/resources/io/strimzi/operator/cluster/model/KafkaClusterTest.withRackAndAffinity-Kafka.yaml
  cluster-operator/src/test/resources/io/strimzi/operator/cluster/model/KafkaClusterTest.withRackAndAffinityWithMoreTerms-Kafka.yaml
  cluster-operator/src/test/resources/io/strimzi/operator/cluster/model/KafkaClusterTest.withRackWithoutAffinity-Kafka.yaml
  cluster-operator/src/test/resources/io/strimzi/operator/cluster/model/KafkaClusterTest.withTolerations-Kafka.yaml
Labels: needs review

#9665 docs(annotations): makes format of the annotation commands consistent
  documentation/modules/configuring/proc-manual-delete-pod-pvc-kafka.adoc
  documentation/modules/configuring/proc-manual-delete-pod-pvc-zookeeper.adoc
  documentation/modules/configuring/proc-manual-restart-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-connector.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-fixing-problems-with-kafkarebalance.adoc
  documentation/modules/cruise-control/proc-stopping-cluster-rebalance.adoc
  documentation/modules/managing/proc-manual-rolling-update-pods.adoc
  documentation/modules/managing/proc-manual-rolling-update-strimzipodset.adoc
  documentation/modules/managing/proc-pausing-reconciliation.adoc
  documentation/modules/operators/proc-converting-managed-topics.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gates.adoc
  documentation/modules/security/proc-installing-your-own-ca-certificates.adoc
  documentation/modules/security/proc-renewing-ca-certs-manually.adoc
  documentation/modules/security/proc-replacing-private-keys.adoc
  documentation/modules/security/proc-replacing-your-own-private-keys.adoc
  documentation/modules/upgrading/con-upgrade-cluster.adoc
Labels: documentation

#9679 Set STRIMZI_USE_KRAFT_IN_TESTS=true also for x86 on TF
  systemtest/tmt/tests/strimzi/main.fmf
Labels: System tests

#9667 [ST] fixing unnecessary error logs when cleaning resources
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
Labels: System tests, ready for merge

#9682 Configure OAuth principal.builder.class also for controllers
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilder.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilderTest.java
Labels: needs review

#9681 docs(node pools): adds a procedure to describe role transitions
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/modules/configuring/con-config-node-pool-roles.adoc
  documentation/modules/configuring/proc-managing-storage-affinity-node-pools.adoc
  documentation/modules/configuring/proc-managing-storage-node-pools.adoc
  documentation/modules/configuring/proc-moving-node-pools.adoc
  documentation/modules/configuring/proc-scaling-down-node-pools.adoc
  documentation/modules/configuring/proc-scaling-up-node-pools.adoc
  documentation/modules/configuring/proc-splitting-node-pool-roles.adoc
Labels: documentation

#9716 docs(review): minor updates and corrections
  documentation/assemblies/security/assembly-securing-access.adoc
  documentation/assemblies/upgrading/assembly-upgrade.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/deploying/proc-deploy-kafka-node-pools.adoc
  documentation/modules/operators/con-configuring-cluster-operator.adoc
  documentation/modules/operators/proc-changing-topic-operator-mode.adoc
  documentation/modules/tracing/ref-tracing-span-names.adoc
  documentation/modules/upgrading/proc-switching-to-FIPS-mode-when-upgrading.adoc
Labels: documentation

#9717 docs(refactor): moves annotations content
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/deploying/assembly-deploy-client-access.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-cluster.adoc
  documentation/assemblies/deploying/assembly-uninstalling.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/deploying/con-service-discovery.adoc
  documentation/modules/operators/con-configuring-cluster-operator.adoc
  documentation/modules/operators/proc-pausing-reconciliation.adoc
Labels: documentation

#9725 docs(build): updates for warnings highlighted in build
  api/src/main/java/io/strimzi/api/kafka/model/kafka/PersistentClaimStorage.java
  documentation/modules/appendix_crds.adoc
  documentation/modules/oauth/proc-oauth-authentication-broker-config.adoc
  documentation/modules/oauth/proc-oauth-kafka-config.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/04A-Crd-kafkanodepool.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
  packaging/install/cluster-operator/04A-Crd-kafkanodepool.yaml
Labels: documentation, build

#9260 docs(clients): updates the tuning content for producers and consumers
  documentation/assemblies/security/assembly-securing-access.adoc
  documentation/modules/managing/con-consumer-config-properties.adoc
  documentation/modules/managing/con-producer-config-properties.adoc
  documentation/modules/security/con-securing-kafka-authentication.adoc
Labels: documentation

#9661 [ST] Refactor methods in AbstractST
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaMirrorMakerResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/VerificationUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMakerST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests, ready for merge

#9743 [ST] add skip mixed role annotation to ST.
  systemtest/src/main/java/io/strimzi/systemtest/annotations/MixedRoleNotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/MixedRoleNotSupportedCondition.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests
