Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-01, with the labels that each got.

#9496 [ST] Create NamespaceManager for handling namespaces in the tests
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/parallel/TestSuiteNamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/jaeger/SetupJaeger.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/kubernetes/NetworkPolicyResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/templates/kubernetes/NetworkPolicyTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/NamespaceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/JmxUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicScalabilityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AllNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
  test/src/main/java/io/strimzi/test/k8s/KubeClusterResource.java
Labels: System tests

#9507 [ST] Enable connector autoRestart test
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
Labels: System tests, ready for merge

#9504 [ST] Fix detecting kind in systemtests
  test/src/main/java/io/strimzi/test/k8s/cluster/Kind.java
Labels: System tests, ready for merge

#9506 [ST] Update upgrade/downgrade files after 0.39.0 release and enable KRaftStrimziDowngradeST
  .azure/templates/steps/default_variables.yaml
  .azure/templates/steps/system_test_general.yaml
  systemtest/src/main/java/io/strimzi/systemtest/templates/crd/KafkaTemplates.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/VersionModificationDataLoader.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/StUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/AbstractKRaftUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: System tests

#9529 [ST] Upgrade/downgrade - specify file path for Kafka in the YAML files
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/CommonVersionModificationData.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/AbstractKRaftUpgradeST.java
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: needs review, System tests

#9525 [ST] Innitial cleanup of AbstractST
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeKafkaExternalListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfSharedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthAuthorizationST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPasswordGrantsST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthPlainST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthScopeST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/oauth/OauthTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
  systemtest/src/test/java/io/strimzi/systemtest/tracing/OpenTelemetryST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/kraft/KRaftStrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
Labels: System tests, ready for merge

#9557 [system test] Update Azure KRaft pipelines to run KRaft
  .azure/templates/jobs/system-tests/kraft_regression_jobs.yaml
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
Labels: System tests, ready for merge

#9521 docs(feature gates): updates content due to maturity
  documentation/assemblies/deploying/assembly-deploy-intro-operators.adoc
  documentation/modules/configuring/con-pod-management.adoc
  documentation/modules/configuring/proc-changing-topic-replicas.adoc
  documentation/modules/cruise-control/con-optimization-proposals.adoc
  documentation/modules/managing/con-custom-resources-status.adoc
  documentation/modules/managing/proc-accessing-resource-status.adoc
  documentation/modules/operators/con-removing-topic-finalizers.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gate-releases.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gates.adoc
  documentation/shared/attributes.adoc
Labels: documentation

#9540 [ST] KafkaNodePools Roll only broker role due to broker only config change
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
Labels: System tests

#9572 docs(refactor): brings the custom resource content together
  documentation/assemblies/deploying/assembly-deploy-intro-custom-resources.adoc
  documentation/assemblies/managing/assembly-management-tasks.adoc
  documentation/assemblies/managing/assembly-working-with-resources.adoc
  documentation/modules/managing/con-custom-resources-info.adoc
  documentation/modules/managing/proc-accessing-resource-status.adoc
  documentation/shared/snip-intro-custom-resources.adoc
Labels: documentation

#9580 [ST] ZK to KRaft migration - migration process
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/storage/TestStorage.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
Labels: needs review, System tests

#9590 docs(readme): adds a readme to the documentation folder
  README.md
  documentation/README.md
  documentation/contributing/introduction.adoc
Labels: documentation
