Repository strimzi/strimzi-kafka-operator, pull requests merged in 2024-10, with the labels that each got.

#10675 Bump test frame 0.7.0
  pom.xml
Labels: System tests, ready for merge

#10673 [ST] Remove assumption for skipping run on OLM and Helm from few tests
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
Labels: System tests

#10681 [ST] Install CO with OLM without need of specifying OLM version for latest released operator
  development-docs/TESTING.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/SetupClusterOperator.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/configuration/OlmConfiguration.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/OlmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/upgrade/VersionModificationDataLoader.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/controllers/DeploymentUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/OlmUtils.java
  systemtest/src/main/java/io/strimzi/test/k8s/KubeClient.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/OlmUpgradeST.java
Labels: needs review, System tests

#10695 [ST] Use Test-Frame's LogCollector in STs
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/LogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestExecutionWatcher.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestLogCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/TopicOperatorPerformance.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/UserOperatorPerformance.java
Labels: needs review, System tests

#10699 docs(auto-rebalance): format fixes on API descriptions for auto-rebalance properties
  api/src/main/java/io/strimzi/api/kafka/model/kafka/cruisecontrol/KafkaAutoRebalanceConfiguration.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/cruisecontrol/KafkaAutoRebalanceStatus.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/cruisecontrol/KafkaAutoRebalanceStatusBrokers.java
  documentation/modules/appendix_crds.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: documentation

#10650 [system test] [doc] kafka package
  development-docs/systemtests/io.strimzi.systemtest.bridge.HttpBridgeCorsST.md
  development-docs/systemtests/io.strimzi.systemtest.bridge.HttpBridgeST.md
  development-docs/systemtests/io.strimzi.systemtest.bridge.HttpBridgeScramShaST.md
  development-docs/systemtests/io.strimzi.systemtest.bridge.HttpBridgeTlsST.md
  development-docs/systemtests/io.strimzi.systemtest.connect.ConnectBuilderST.md
  development-docs/systemtests/io.strimzi.systemtest.connect.ConnectST.md
  development-docs/systemtests/io.strimzi.systemtest.cruisecontrol.CruiseControlApiST.md
  development-docs/systemtests/io.strimzi.systemtest.cruisecontrol.CruiseControlST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.ConfigProviderST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.KafkaNodePoolST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.KafkaST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.KafkaVersionsST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.QuotasST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.TieredStorageST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.dynamicconfiguration.DynamicConfST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.dynamicconfiguration.DynamicConfSharedST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.listeners.ListenersST.md
  development-docs/systemtests/io.strimzi.systemtest.kafka.listeners.MultipleListenersST.md
  development-docs/systemtests/labels/kafka.md
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/MixedRoleNotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/docs/TestDocsLabels.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeCorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeScramShaST.java
  systemtest/src/test/java/io/strimzi/systemtest/bridge/HttpBridgeTlsST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectBuilderST.java
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlApiST.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/ConfigProviderST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaVersionsST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/QuotasST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/TieredStorageST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfSharedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/MultipleListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/MultipleClusterOperatorsST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/SpecificST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/AbstractNamespaceST.java
  systemtest/src/test/java/io/strimzi/systemtest/watcher/MultipleNamespaceST.java
Labels: System tests

#10702 docs(metrics): adds missing callout to metrics file list
  documentation/assemblies/metrics/assembly-metrics-config-files.adoc
Labels: documentation

#10680 docs(tracing): adds configuration for TLS with OTLP tracing
  documentation/assemblies/tracing/assembly-distributed-tracing-procedures.adoc
  documentation/assemblies/tracing/assembly-distributed-tracing.adoc
  documentation/modules/tracing/con-distributed-tracing-description.adoc
  documentation/modules/tracing/con-overview-tracing.adoc
  documentation/modules/tracing/proc-enabling-tracing-in-connect-mirror-maker-bridge-resources.adoc
  documentation/modules/tracing/ref-tracing-environment-variables.adoc
Labels: documentation

#10709 [ST] Remove line for setting null for LMFV in StrimziDowngradeST
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/regular/StrimziDowngradeST.java
Labels: needs review, System tests

#10661 docs(connectors): adds procedures to manage connector offsets
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/modules/configuring/con-config-mirrormaker2-connectors.adoc
  documentation/modules/configuring/proc-altering-connector-offsets.adoc
  documentation/modules/configuring/proc-listing-connector-offsets.adoc
  documentation/modules/configuring/proc-manual-restart-connector-task.adoc
  documentation/modules/configuring/proc-manual-restart-connector.adoc
  documentation/modules/configuring/proc-manual-stop-pause-connector.adoc
  documentation/modules/configuring/proc-resetting-connector-offsets.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
  documentation/modules/upgrading/con-upgrade-status.adoc
Labels: documentation

#10734 Remove Canary install files from the packaging folder
  CHANGELOG.md
  packaging/install/Makefile
  packaging/install/canary/000-ServiceAccount.yaml
  packaging/install/canary/010-Service.yaml
  packaging/install/canary/020-Deployment.yaml
  packaging/install/canary/README.md
Labels: needs review

#10737 [DOC] Fix the image name in the TO customization Dockerfile
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
Labels: bug, documentation

#10666 [system test] Auto-rebalance feature test case
  development-docs/systemtests/io.strimzi.systemtest.cruisecontrol.CruiseControlST.md
  development-docs/systemtests/labels/cruise-control.md
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaRebalanceUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests

#10747 Bump Test-Frame to 0.8.0
  pom.xml
Labels: System tests

#10754 [system test] Fix testAutoKafkaRebalanceScaleUpScaleDown and make it …
  systemtest/src/test/java/io/strimzi/systemtest/cruisecontrol/CruiseControlST.java
Labels: System tests, ready for merge

#10731 docs(storage): updates the storage content for KRaft and node pools
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/configuring/assembly-storage.adoc
  documentation/assemblies/deploying/assembly-kraft-mode.adoc
  documentation/modules/configuring/con-config-storage-kraft.adoc
  documentation/modules/configuring/con-config-storage-zookeeper.adoc
  documentation/modules/configuring/con-considerations-for-data-storage.adoc
  documentation/modules/configuring/proc-adding-volumes-to-jbod-storage.adoc
  documentation/modules/configuring/proc-managing-storage-node-pools.adoc
  documentation/modules/configuring/proc-removing-volumes-from-jbod-storage.adoc
  documentation/modules/configuring/proc-resizing-persistent-volumes.adoc
  documentation/modules/configuring/ref-storage-ephemeral.adoc
  documentation/modules/configuring/ref-storage-jbod.adoc
  documentation/modules/configuring/ref-storage-persistent.adoc
  documentation/modules/configuring/ref-storage-tiered.adoc
  documentation/modules/managing/proc-cluster-recovery-volume.adoc
  documentation/shared/attributes.adoc
Labels: documentation

#10752 docs(access operator): early access instructions for using the access operator
  documentation/assemblies/security/assembly-access-operator.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/modules/deploying/proc-deploy-access-operator.adoc
  documentation/modules/deploying/proc-using-access-operator.adoc
Labels: documentation

#10776 [ST] Upgrade/downgrade tests - check Kafka versions in KafkaConnect version change
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractUpgradeST.java
Labels: needs review, System tests

#10783 [ST] Add 0.44.0 to upgrade/downgrade tests
  systemtest/src/test/resources/upgrade/BundleDowngrade.yaml
  systemtest/src/test/resources/upgrade/BundleUpgrade.yaml
  systemtest/src/test/resources/upgrade/OlmUpgrade.yaml
Labels: needs review, System tests

#10780 [ST] Add CollectorElement to the NamespaceManager for situations when we are creating Namespaces manually
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
Labels: needs review, System tests
