Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-10, with the labels that each got.

#11823 [system test] [doc] ClusterOperatorST, CustomResourceStatusST, Featur…
  development-docs/systemtests/io.strimzi.systemtest.log.LogSettingST.md
  development-docs/systemtests/io.strimzi.systemtest.metrics.MetricsST.md
  development-docs/systemtests/io.strimzi.systemtest.metrics.StrimziMetricsReporterST.md
  development-docs/systemtests/io.strimzi.systemtest.mirrormaker.MirrorMaker2ST.md
  development-docs/systemtests/io.strimzi.systemtest.operators.ClusterOperatorRbacST.md
  development-docs/systemtests/io.strimzi.systemtest.operators.CustomResourceStatusST.md
  development-docs/systemtests/io.strimzi.systemtest.operators.FeatureGatesST.md
  development-docs/systemtests/io.strimzi.systemtest.operators.LeaderElectionST.md
  development-docs/systemtests/labels/bridge.md
  development-docs/systemtests/labels/connect.md
  development-docs/systemtests/labels/kafka.md
  development-docs/systemtests/labels/mirror-maker-2.md
  systemtest/src/test/java/io/strimzi/systemtest/operators/ClusterOperatorRbacST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/CustomResourceStatusST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/FeatureGatesST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/LeaderElectionST.java
Labels: System tests, ready for merge

#11969 Use Strimzi artifacts always from build pipeline
  .github/actions/build/containers-load/action.yml
  .github/actions/build/download-build-artifacts/action.yml
  .github/docs/README.md
  .github/docs/sts-workflow.png
  .github/workflows/run-system-tests.yml
  .github/workflows/system-tests.yml
Labels: GitHub Actions

#11983 Use keyless container sign within GitHub actions
  .github/actions/build/containers-push/action.yml
  .github/workflows/build.yml
  Makefile
  Makefile.docker
  docker-images/base/Makefile
  docker-images/kafka-based/Makefile
Labels: GitHub Actions

#11962 docs(glossary): adds new glossary of strimzi terms
  Makefile
  documentation/glossary/glossary.adoc
  documentation/glossary/modules
  documentation/glossary/shared
  documentation/modules/glossary/a.adoc
  documentation/modules/glossary/c.adoc
  documentation/modules/glossary/d.adoc
  documentation/modules/glossary/e.adoc
  documentation/modules/glossary/f.adoc
  documentation/modules/glossary/k.adoc
  documentation/modules/glossary/l.adoc
  documentation/modules/glossary/m.adoc
  documentation/modules/glossary/n.adoc
  documentation/modules/glossary/s.adoc
  documentation/modules/glossary/t.adoc
  documentation/modules/glossary/u.adoc
Labels: documentation

#11965 Migrate junit5 to junit6
  pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/interfaces/IndicativeSentences.java
  systemtest/src/test/java/io/strimzi/systemtest/AbstractST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/TopicOperatorPerformance.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/TopicOperatorScalabilityPerformance.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/UserOperatorPerformance.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
Labels: needs review
