Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-06, with the labels that each got.

#11502 Cherry-pick 'Added project names for the ones to be published to Maven Central' to release-0.45.x branch
  api/pom.xml
  certificate-manager/pom.xml
  cluster-operator/pom.xml
  config-model-generator/pom.xml
  config-model/pom.xml
  crd-annotations/pom.xml
  crd-generator/pom.xml
  kafka-agent/pom.xml
  kafka-init/pom.xml
  mockkube/pom.xml
  operator-common/pom.xml
  systemtest/pom.xml
  test/pom.xml
  topic-operator/pom.xml
  tracing-agent/pom.xml
  user-operator/pom.xml
Labels: needs review

#11505 docs(kraft): clarifies static quorum limit applies to new deployments
  documentation/assemblies/deploying/assembly-kraft-mode.adoc
Labels: documentation

#11500 [ST] Add systemtest with user specific configuraton for ssl.* fields for custom type of listener
  development-docs/systemtests/io.strimzi.systemtest.kafka.listeners.ListenersST.md
  development-docs/systemtests/labels/kafka.md
  systemtest/src/main/java/io/strimzi/systemtest/resources/draincleaner/SetupDrainCleaner.java
  systemtest/src/main/java/io/strimzi/systemtest/security/CertAndKeyFiles.java
  systemtest/src/main/java/io/strimzi/systemtest/security/OpenSsl.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertAndKey.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertAndKeyBuilder.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertBundle.java
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertGenerator.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/SecretUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
Labels: System tests

#11515 [ST] Fix testSendMessagesCustomListenerTlsCustomization
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
Labels: System tests

#11523 [ST] Fix methods used in the ConnectST
  systemtest/src/test/java/io/strimzi/systemtest/connect/ConnectST.java
Labels: needs review, System tests

#11520 docs(metrics): updates for kafka exporter
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/assemblies/metrics/assembly_metrics-prometheus-setup.adoc
  documentation/modules/metrics/con-metrics-cruise-control.adoc
  documentation/modules/metrics/con_kafka-exporter-lag.adoc
  documentation/modules/metrics/proc-jmx-exporter-metrics-kafka-deploy-options.adoc
  documentation/modules/metrics/proc-kafka-exporter-deploy.adoc
  documentation/modules/metrics/proc-strimzi-metrics-reporter-kafka-deploy-options.adoc
Labels: documentation

#11540 docs(overview): clarifies role of the entity operator
  documentation/assemblies/deploying/assembly-deploy-intro-operators.adoc
  documentation/assemblies/overview/assembly-overview-components.adoc
Labels: documentation

#11556 [release-0.46.x] Release RC artifacts to Sonatype Maven central directly
  .azure/build-pipeline.yaml
  .azure/scripts/push-to-central.sh
  .azure/templates/jobs/build/deploy_strimzi_java.yaml
  .azure/templates/jobs/build/release_artifacts.yaml
  .azure/templates/steps/prerequisites/install_java.yaml
  Makefile
Labels: needs review

#11554 Release RC artifacts to Sonatype Maven central directly
  .azure/build-pipeline.yaml
  .azure/scripts/push-to-central.sh
  .azure/templates/jobs/build/deploy_strimzi_java.yaml
  .azure/templates/jobs/build/release_artifacts.yaml
  .azure/templates/steps/prerequisites/install_java.yaml
  Makefile
Labels: needs review

#11527 Create all CA secrets in parallel instead of chaining futures
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/CaReconciler.java
Labels: ready for merge

#11565 MINOR: Fix example readme
  packaging/examples/README.md
Labels: ready for merge
