Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-04, with the labels that each got.

#11308 [system test] [perf] fix 409 error code
  systemtest/src/main/java/io/strimzi/systemtest/resources/crd/KafkaTopicResource.java
Labels: System tests, ready for merge

#11322 Bump skodjob-test-docs generator to version 0.4.0
  development-docs/systemtests/io.strimzi.systemtest.connect.ConnectST.md
  development-docs/systemtests/labels/bridge.md
  development-docs/systemtests/labels/connect.md
  development-docs/systemtests/labels/cruise-control.md
  development-docs/systemtests/labels/kafka.md
  development-docs/systemtests/labels/logging.md
  development-docs/systemtests/labels/metrics.md
  pom.xml
Labels: System tests

#11301 docs(connect): updates the deployment instructions for kafka connect
  documentation/modules/configuring/con-config-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
Labels: documentation

#11323 Promote `ContinueReconciliationOnManualRollingUpdateFailure` FG to GA
  .azure/templates/jobs/system-tests/feature_gates_regression_jobs.yaml
  .azure/templates/jobs/system-tests/feature_gates_regression_namespace_rbac_jobs.yaml
  CHANGELOG.md
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/AbstractConnectOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaReconciler.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/ClusterOperatorConfigTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/EntityOperatorTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorManualRollingUpdatesTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperatorPodSetTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorPodSetTest.java
  documentation/modules/managing/proc-manual-rolling-update-pods.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gates.adoc
  operator-common/src/main/java/io/strimzi/operator/common/featuregates/FeatureGates.java
  operator-common/src/test/java/io/strimzi/operator/common/featuregates/FeatureGatesTest.java
Labels: needs review

#11330 Clean Azure agent in AZPs before running tests
  .azure/templates/steps/clean_up_workspace.yaml
  .azure/templates/steps/system_test_general.yaml
Labels: needs review

#11307 docs(opa): update of metrics and security content
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/configuring/con-config-kafka-kraft.adoc
  documentation/modules/metrics/proc-metrics-kafka-deploy-options.adoc
  documentation/modules/overview/con-security-overview.adoc
  documentation/modules/security/con-securing-client-authorization.adoc
Labels: documentation

#11342 Increase timeout for signing manifest
  Makefile.docker
Labels: ready for merge

#11341 Add a NFS system test for tiered storage
  development-docs/systemtests/io.strimzi.systemtest.kafka.TieredStorageST.md
  development-docs/systemtests/labels/kafka.md
  systemtest/src/main/java/io/strimzi/systemtest/utils/kubeUtils/objects/BuildUtils.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/specific/NfsUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/TieredStorageST.java
  systemtest/src/test/resources/nfs/nfs.yaml
  systemtest/src/test/resources/tiered-storage/Dockerfile
Labels: System tests, ready for merge

#11345 docs(authz): removes AclAuthorizer
  documentation/assemblies/oauth/assembly-oauth-authorization.adoc
  documentation/modules/configuring/proc-config-kafka-connect-user-authorization.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/deploying/proc-deploy-setup-external-clients.adoc
  documentation/modules/oauth/proc-oauth-authorization-broker-config.adoc
Labels: documentation

#11358 docs(mm2): updates the deployment instructions for MirrorMaker 2
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
Labels: documentation

#11372 fix QuotasOperator javadoc
  user-operator/src/main/java/io/strimzi/operator/user/operator/QuotasOperator.java
Labels: ready for merge

#11373 ST: Make several systemtests checks more resilient
  systemtest/src/main/java/io/strimzi/systemtest/resources/NamespaceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/operator/specific/HelmResource.java
  systemtest/src/main/java/io/strimzi/systemtest/utils/ClientUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/KRaftKafkaUpgradeDowngradeST.java
Labels: System tests

#11380 Bump test-clients to 0.11.0
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
Labels: System tests
