Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-01, with the labels that each got.

#11003 docs(bug): code example formatting fix
  documentation/modules/cruise-control/proc-cruise-control-moving-data.adoc
Labels: documentation

#10969 docs(oauth): updates example client config for truststore
  documentation/modules/oauth/con-oauth-authentication-client.adoc
  documentation/modules/oauth/proc-oauth-authorization-keycloak-example.adoc
  documentation/shared/attributes.adoc
Labels: documentation

#10942 docs(mm2): considerations for active/passive disaster recovery
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/modules/configuring/con-mm2-recovery.adoc
Labels: documentation

#11018 [ST] ZK removal from STs - regression tests and migration
  development-docs/systemtests/io.strimzi.systemtest.kafka.KafkaST.md
  development-docs/systemtests/io.strimzi.systemtest.log.LoggingChangeST.md
  development-docs/systemtests/labels/kafka.md
  systemtest/src/main/java/io/strimzi/systemtest/annotations/KRaftNotSupported.java
  systemtest/src/main/java/io/strimzi/systemtest/annotations/KRaftNotSupportedCondition.java
  systemtest/src/main/java/io/strimzi/systemtest/metrics/ZookeeperMetricsComponent.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaNodePoolST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/KafkaST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/dynamicconfiguration/DynamicConfSharedST.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/NamespaceDeletionRecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/RecoveryST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicReplicasChangeST.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/topic/TopicST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/AlternativeReconcileTriggersST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/KafkaRollerST.java
  systemtest/src/test/java/io/strimzi/systemtest/rollingupdate/RollingUpdateST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/NetworkPoliciesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/PodSecurityProfilesST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/SecurityST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomAuthorizerST.java
  systemtest/src/test/java/io/strimzi/systemtest/security/custom/CustomCaST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/DrainCleanerST.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/RackAwarenessST.java
Labels: needs review, System tests

#10938 [system test] [doc] Add LogSettingST
  development-docs/systemtests/io.strimzi.systemtest.log.LogSettingST.md
  development-docs/systemtests/labels/bridge.md
  development-docs/systemtests/labels/connect.md
  development-docs/systemtests/labels/cruise-control.md
  development-docs/systemtests/labels/kafka.md
  development-docs/systemtests/labels/logging.md
  systemtest/src/main/java/io/strimzi/systemtest/docs/TestDocsLabels.java
  systemtest/src/test/java/io/strimzi/systemtest/log/LogSettingST.java
Labels: System tests, ready for merge

#11044 [system test] - Make it possible to use POSTGRES_IMAGE env
  systemtest/src/main/java/io/strimzi/systemtest/Environment.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/keycloak/SetupKeycloak.java
  systemtest/src/test/resources/oauth2/postgres.yaml
Labels: System tests

#11093 docs(cleanup): removes or replaces content related to zookeeper or mirrormaker1
  documentation/assemblies/configuring/assembly-customizing-kubernetes-resources.adoc
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/assemblies/deploying/assembly-deploy-kafka-mirror-maker.adoc
  documentation/assemblies/deploying/assembly-uninstalling.adoc
  documentation/assemblies/metrics/assembly-metrics.adoc
  documentation/modules/configuring/ref-list-of-mirrormaker-resources.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster-kraft.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-certs-renewals.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-deploying.adoc
  documentation/modules/drain-cleaner/proc-drain-cleaner-using.adoc
  documentation/modules/operators/con-configuring-cluster-operator.adoc
  documentation/modules/operators/ref-operator-cluster-feature-gate-releases.adoc
Labels: documentation

#11070 Try fix race condition inside TopicControllerIT and KafkaHandlerIT
  topic-operator/src/test/java/io/strimzi/operator/topic/KafkaHandlerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicControllerIT.java
Labels: ready for merge

#10918 Improve Cruise Control client creation and testing
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicOperatorMain.java
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicOperatorUtil.java
  topic-operator/src/main/java/io/strimzi/operator/topic/cruisecontrol/CruiseControlClient.java
  topic-operator/src/main/java/io/strimzi/operator/topic/cruisecontrol/CruiseControlClientImpl.java
  topic-operator/src/test/java/io/strimzi/operator/topic/BatchingTopicControllerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicControllerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TopicOperatorConfigTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/cruisecontrol/CruiseControlHandlerTest.java
Labels: needs review, topic operator

#11036 [system test] [doc] Metrics package
  development-docs/systemtests/io.strimzi.systemtest.metrics.JmxST.md
  development-docs/systemtests/io.strimzi.systemtest.metrics.MetricsST.md
  development-docs/systemtests/labels/bridge.md
  development-docs/systemtests/labels/connect.md
  development-docs/systemtests/labels/cruise-control.md
  development-docs/systemtests/labels/kafka.md
  development-docs/systemtests/labels/metrics.md
  systemtest/src/main/java/io/strimzi/systemtest/docs/TestDocsLabels.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/JmxST.java
  systemtest/src/test/java/io/strimzi/systemtest/metrics/MetricsST.java
Labels: System tests
