Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-03, with the labels that each got.

#11192 [ST] Add Kafka Access Operator ST
  development-docs/systemtests/io.strimzi.systemtest.specific.AccessOperatorST.md
  development-docs/systemtests/labels/kafka-access.md
  pom.xml
  systemtest/pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/TestConstants.java
  systemtest/src/main/java/io/strimzi/systemtest/docs/TestDocsLabels.java
  systemtest/src/main/java/io/strimzi/systemtest/enums/DeploymentTypes.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/internalClients/KafkaClients.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/ResourceManager.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/access/KafkaAccessResource.java
  systemtest/src/main/java/io/strimzi/systemtest/resources/access/SetupAccessOperator.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/AccessOperatorST.java
Labels: needs review, System tests

#11163 docs(operators): updates to the operator overviews
  documentation/assemblies/deploying/assembly-deploy-intro-operators.adoc
  documentation/assemblies/deploying/assembly-deploy-standalone-operators.adoc
  documentation/assemblies/overview/assembly-overview-components.adoc
  documentation/assemblies/security/assembly-access-operator.adoc
  documentation/assemblies/security/assembly-security.adoc
  documentation/deploying/deploying.adoc
  documentation/modules/configuring/con-pod-management.adoc
  documentation/modules/operators/con-operators-namespaces.adoc
  documentation/modules/overview/con-overview-components-cluster-operator.adoc
  documentation/modules/overview/con-overview-components-drain-cleaner.adoc
  documentation/modules/overview/con-overview-components-topic-operator.adoc
  documentation/modules/overview/con-overview-components-user-operator.adoc
  documentation/overview/overview.adoc
Labels: documentation

#11154 [system test] Fix downgrade procedure
  systemtest/src/test/java/io/strimzi/systemtest/upgrade/AbstractKRaftUpgradeST.java
Labels: System tests, ready for merge

#11226 docs(cruise control): update to cruise control flow diagram
  documentation/modules/cruise-control/con-cruise-control-overview.adoc
  documentation/shared/images/kafka-concepts-cruise-control.png
Labels: documentation

#11235 [ST] Add Service to LogCollector's list of resources to collect
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestLogCollector.java
Labels: needs review, System tests

#11234 Add Drain Cleaner 1.3.0 to the Operators repository
  CHANGELOG.md
  documentation/shared/attributes.adoc
  packaging/install/drain-cleaner/certmanager/041-Certificate.yaml
  packaging/install/drain-cleaner/certmanager/060-Deployment.yaml
  packaging/install/drain-cleaner/kubernetes/060-Deployment.yaml
  packaging/install/drain-cleaner/openshift/060-Deployment.yaml
Labels: needs review

#11238 [ST] Correct names in loggers for KAO ST
  systemtest/src/main/java/io/strimzi/systemtest/resources/access/SetupAccessOperator.java
  systemtest/src/test/java/io/strimzi/systemtest/specific/AccessOperatorST.java
Labels: needs review, System tests

#11239 [ST] Use `AutoOffsetResetStrategy` in clients instead of `OffsetResetStrategy`
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/clientproperties/ConsumerProperties.java
  systemtest/src/main/java/io/strimzi/systemtest/kafkaclients/externalClients/ExternalKafkaClient.java
Labels: needs review, System tests

#11231 docs(downgrade): updates from review of downgrade content
  documentation/assemblies/upgrading/assembly-downgrade-cluster-operator.adoc
  documentation/modules/upgrading/con-downgrade-paths.adoc
Labels: documentation

#11220 Topic Operator test refactoring
  topic-operator/src/main/java/io/strimzi/operator/topic/TopicOperatorMain.java
  topic-operator/src/test/java/io/strimzi/operator/topic/AlterableTopicConfigIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/ConfigTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/CoreFeaturesIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/InterruptedExceptionsIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/KafkaHandlerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/KubernetesHandlerTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/LogCaptor.java
  topic-operator/src/test/java/io/strimzi/operator/topic/LogCaptorTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MetricsIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/ReplicasChangeIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/TestUtil.java
  topic-operator/src/test/java/io/strimzi/operator/topic/cruisecontrol/CruiseControlHandlerTest.java
  topic-operator/src/test/java/io/strimzi/operator/topic/cruisecontrol/MockCruiseControl.java
Labels: needs review

#11222 Allow run LoadBalancer tests on TestingFarm
  .azure/scripts/setup-kind.sh
  systemtest/src/main/java/io/strimzi/systemtest/security/SystemTestCertManager.java
  systemtest/src/test/java/io/strimzi/systemtest/kafka/listeners/ListenersST.java
  systemtest/tmt/tests/strimzi/main.fmf
Labels: System tests, do-not-merge

#11247 Remove preferIPv4Stack option and let it use JVM defaults
  CHANGELOG.md
  docker-images/kafka-based/kafka/scripts/set_kafka_jmx_options.sh
  systemtest/scripts/run_tests.sh
Labels: ready for merge

#11270 [system test] [perf] Fix executor handling
  systemtest/src/main/java/io/strimzi/systemtest/performance/utils/TopicOperatorPerformanceUtils.java
Labels: System tests, ready for merge, performance

#11264 [DOC] clarifies configuration of jmxOptions and Prometheus Exporter
  documentation/api/io.strimzi.api.kafka.model.common.jmx.KafkaJmxOptions.adoc
  documentation/assemblies/metrics/assembly-metrics-config-files.adoc
Labels: documentation

#11284 docs(kraft): kraft migration: previous rollback warning
  documentation/modules/deploying/proc-deploy-migrate-kraft.adoc
Labels: documentation

#11285 [ST] Add test for migration-rollback-migration with additional checks
  systemtest/src/main/java/io/strimzi/systemtest/utils/kafkaUtils/KafkaUtils.java
  systemtest/src/test/java/io/strimzi/systemtest/migration/MigrationST.java
Labels: needs review, System tests

#11289 Update GitHub actions/cache plugin
  .github/workflows/codeql-analysis.yml
Labels: needs review

#11254 docs(logging): log4j2 support updates
  documentation/api/io.strimzi.api.kafka.model.bridge.KafkaBridgeSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.connect.KafkaConnectSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.KafkaClusterSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.cruisecontrol.CruiseControlSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.entityoperator.EntityTopicOperatorSpec.adoc
  documentation/api/io.strimzi.api.kafka.model.kafka.entityoperator.EntityUserOperatorSpec.adoc
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/modules/configuring/con-config-kafka-bridge.adoc
  documentation/modules/configuring/con-config-kafka-connect.adoc
  documentation/modules/configuring/con-config-kafka-kraft.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/configuring/con-configuration-points-configmaps.adoc
  documentation/modules/configuring/proc-creating-configmap.adoc
  documentation/modules/configuring/proc-creating-logging-filters.adoc
  documentation/modules/cruise-control/proc-configuring-deploying-cruise-control.adoc
  documentation/modules/operators/ref-operator-cluster-logging-configmap.adoc
  documentation/shared/attributes.adoc
Labels: documentation

#11287 Strimzi test container 0.110.0
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectApiIT.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectorIT.java
  pom.xml
  topic-operator/src/test/java/io/strimzi/operator/topic/AlterableTopicConfigIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/CoreFeaturesIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/InterruptedExceptionsIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/KafkaHandlerIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/MetricsIT.java
  topic-operator/src/test/java/io/strimzi/operator/topic/ReplicasChangeIT.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/AdminApiOperatorIT.java
  user-operator/src/test/java/io/strimzi/operator/user/operator/QuotasOperatorIT.java
Labels: ready for merge
