Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-05, with the labels that each got.

#11382 docs(bridge): updates the deployment instructions for Kafka Bridge
  documentation/modules/configuring/con-config-kafka-bridge.adoc
  documentation/modules/deploying/proc-deploy-kafka-bridge.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
Labels: documentation

#11410 [system test] [performance] Make from scheduler class singleton.
  pom.xml
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/collectors/BaseMetricsCollector.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/schedulers/BaseMetricsCollectionScheduler.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/schedulers/TopicOperatorMetricsCollectionScheduler.java
  systemtest/src/main/java/io/strimzi/systemtest/performance/gather/schedulers/UserOperatorMetricsCollectionScheduler.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/TopicOperatorPerformance.java
  systemtest/src/test/java/io/strimzi/systemtest/performance/UserOperatorPerformance.java
  systemtest/tmt/plans/main.fmf
Labels: System tests, ready for merge, performance

#11051 Add support for the Strimzi Metrics Reporter to Kafka brokers/controllers components
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/common/metrics/JmxPrometheusExporterMetrics.java
  api/src/main/java/io/strimzi/api/kafka/model/common/metrics/MetricsConfig.java
  api/src/main/java/io/strimzi/api/kafka/model/common/metrics/StrimziMetricsReporter.java
  api/src/main/java/io/strimzi/api/kafka/model/common/metrics/StrimziMetricsReporterValues.java
  api/src/main/java/io/strimzi/api/kafka/model/connect/AbstractKafkaConnectSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/KafkaClusterSpec.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/cruisecontrol/CruiseControlSpec.java
  api/src/test/java/io/strimzi/api/kafka/model/kafka/KafkaCrdIT.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/ConfigMapUtils.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/CruiseControl.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilder.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/cruisecontrol/CruiseControlMetricsReporter.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/metrics/JmxPrometheusExporterModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/metrics/MetricsModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/metrics/StrimziMetricsReporterModel.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/MetricsAndLoggingUtils.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/ConfigMapUtilsTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/CruiseControlTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBridgeClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaBrokerConfigurationBuilderTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaConnectClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/KafkaMirrorMaker2ClusterTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/metrics/JmxPrometheusExporterModelTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/model/metrics/StrimziMetricsReporterModelTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/MetricsAndLoggingUtilsTest.java
  development-docs/systemtests/io.strimzi.systemtest.metrics.StrimziMetricsReporterST.md
  docker-images/artifacts/kafka-thirdparty-libs/3.9.x/pom.xml
  docker-images/artifacts/kafka-thirdparty-libs/4.0.x/pom.xml
  docker-images/kafka-based/kafka/cruise-control-scripts/cruise_control_run.sh
  docker-images/kafka-based/kafka/scripts/kafka_connect_run.sh
  docker-images/kafka-based/kafka/scripts/kafka_run.sh
  documentation/modules/appendix_crds.adoc
  documentation/modules/con-common-configuration-properties.adoc
  documentation/shared/attributes.adoc
  packaging/examples/metrics/strimzi-metrics-reporter/README.md
  packaging/examples/metrics/strimzi-metrics-reporter/grafana-dashboards/strimzi-kafka.json
  packaging/examples/metrics/strimzi-metrics-reporter/grafana-dashboards/strimzi-kraft.json
  packaging/examples/metrics/strimzi-metrics-reporter/kafka-metrics.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/041-Crd-kafkaconnect.yaml
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/048-Crd-kafkamirrormaker2.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
  packaging/install/cluster-operator/041-Crd-kafkaconnect.yaml
  packaging/install/cluster-operator/048-Crd-kafkamirrormaker2.yaml
  systemtest/src/test/java/io/strimzi/systemtest/metrics/StrimziMetricsReporterST.java
Labels: needs review

#11436 chore: Minor formatting and style cleanups in ClusterOperator
  cluster-operator/src/main/java/io/strimzi/operator/cluster/ClusterOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/Main.java
Labels: ready for merge

#11460 Bump Jaeger version to 1.65.0 to make tests working on Kube 1.33
  systemtest/src/test/resources/tracing/jaeger-instance.yaml
  systemtest/src/test/resources/tracing/jaeger-operator.yaml
Labels: System tests

#11471 [system test] Update TESTING.md doc
  development-docs/TESTING.md
Labels: System tests, ready for merge

#11473 [system test] [doc] MirrorMaker2ST
  development-docs/systemtests/io.strimzi.systemtest.mirrormaker.MirrorMaker2ST.md
  systemtest/src/test/java/io/strimzi/systemtest/mirrormaker/MirrorMaker2ST.java
Labels: System tests, ready for merge
