Repository strimzi/strimzi-kafka-operator, pull requests merged in 2025-09, with the labels that each got.

#11740 docs(deploy): operator handling of resources in namespaces
  documentation/assemblies/deploying/assembly-deploy-cluster-operator.adoc
  documentation/assemblies/deploying/assembly-deploy-intro-operators.adoc
  documentation/modules/deploying/con-deploy-cluster-operator-from-operator-hub.adoc
  documentation/modules/deploying/con-deploy-cluster-operator-watch-options.adoc
  documentation/modules/deploying/con-deploy-operator-best-practices.adoc
  documentation/modules/deploying/proc-deploy-cluster-operator-helm-chart.adoc
  documentation/modules/deploying/proc-deploy-kafka-cluster-kraft.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect.adoc
  documentation/modules/deploying/proc-deploy-kafka-mirror-maker.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-topic-operator-with-cluster-operator.adoc
  documentation/modules/deploying/proc-deploy-user-operator-standalone.adoc
  documentation/modules/deploying/proc-deploy-user-operator-with-cluster-operator.adoc
  documentation/modules/operators/con-operators-namespaces.adoc
Labels: documentation

#11779 docs(connect): clarifies image/version config for kafka connect
  documentation/modules/con-common-configuration-properties.adoc
  documentation/modules/deploying/proc-deploy-kafka-connect-new-image-from-base.adoc
Labels: documentation

#11814 docs(fix): fixes typo in loading config values from files procedure
  documentation/modules/configuring/proc-loading-config-from-files.adoc
Labels: documentation

#11821 [AZP] Add cleanup phase to UTs/ITs job for build
  .azure/templates/jobs/build/test_strimzi.yaml
Labels: needs review

#11789 Add workflow for building Strimzi
  .github/actions/build/build-docs/action.yml
  .github/actions/build/build-strimzi-binaries/action.yml
  .github/actions/build/containers-build/action.yml
  .github/actions/build/containers-load/action.yml
  .github/actions/build/containers-push/action.yml
  .github/actions/build/deploy-java/action.yml
  .github/actions/build/publish-docs/action.yml
  .github/actions/build/test-strimzi/action.yml
  .github/actions/containers-push-manifest/action.yml
  .github/actions/dependencies/install-docker/action.yml
  .github/actions/dependencies/install-helm/action.yml
  .github/actions/dependencies/install-shellcheck/action.yml
  .github/actions/dependencies/install-yq/action.yml
  .github/actions/dependencies/setup-kind/action.yml
  .github/actions/dependencies/setup-minikube/action.yml
  .github/actions/systemtests/generate-matrix/action.yml
  .github/actions/systemtests/generate-matrix/pipelines.yaml
  .github/actions/systemtests/parse-comment/action.yml
  .github/actions/utils/add-comment/action.yml
  .github/actions/utils/check-and-status/action.yml
  .github/actions/utils/check-permissions/action.yml
  .github/actions/utils/log-variables/action.yml
  .github/actions/utils/set-defaults/action.yml
  .github/docs/README.md
  .github/tests/workflows/check-permissions-template.yaml
  .github/tests/workflows/generate-matrix-template.yaml
  .github/tests/workflows/parse-comment-template.yaml
  .github/workflows/actions-tests.yml
  .github/workflows/build.yml
  .github/workflows/run-system-tests.yml
  .github/workflows/system-tests.yml
Labels: GitHub Actions

#11833 Add PR trigger to verify changes in sts workflow for every change
  .github/actions/systemtests/parse-comment/action.yml
  .github/actions/utils/set-defaults/action.yml
  .github/tests/scenarios/parse-comment.yaml
  .github/workflows/system-tests.yml
Labels: GitHub Actions

#11850 [ST] Change `testChangingInternalToExternalLoggingTriggerRollingUpdate` after removal of Kafka 3.9.x
  development-docs/systemtests/io.strimzi.systemtest.log.LoggingChangeST.md
  development-docs/systemtests/labels/kafka.md
  development-docs/systemtests/labels/logging.md
  systemtest/src/test/java/io/strimzi/systemtest/log/LoggingChangeST.java
Labels: needs review, System tests

#11803 docs(affinity): updates the pod scheduling section to use node pools
  documentation/assemblies/configuring/assembly-scheduling.adoc
  documentation/assemblies/configuring/assembly-storage.adoc
  documentation/modules/configuring/con-config-storage-kraft-metadata.adoc
  documentation/modules/configuring/con-config-storage-kraft.adoc
  documentation/modules/configuring/proc-dedicated-nodes.adoc
  documentation/modules/configuring/proc-scheduling-based-on-other-pods.adoc
  documentation/modules/configuring/proc-scheduling-brokers-on-different-worker-nodes.adoc
  documentation/modules/configuring/proc-scheduling-deployment-to-node-using-node-affinity.adoc
  documentation/modules/configuring/ref-affinity.adoc
Labels: documentation

#11695 docs(mm2): updates to mm2 config content and structure to improve usability and clarity
  documentation/assemblies/configuring/assembly-config.adoc
  documentation/assemblies/configuring/assembly-logging-configuration.adoc
  documentation/assemblies/deploying/assembly-deploy-intro-operators.adoc
  documentation/modules/configuring/con-common-configuration.adoc
  documentation/modules/configuring/con-config-kafka-kraft.adoc
  documentation/modules/configuring/con-config-mirrormaker2-acls.adoc
  documentation/modules/configuring/con-config-mirrormaker2-connect-workers.adoc
  documentation/modules/configuring/con-config-mirrormaker2-connectors.adoc
  documentation/modules/configuring/con-config-mirrormaker2-heartbeat.adoc
  documentation/modules/configuring/con-config-mirrormaker2-sync-acls.adoc
  documentation/modules/configuring/con-config-mirrormaker2-sync.adoc
  documentation/modules/configuring/con-config-mirrormaker2-tasks-max.adoc
  documentation/modules/configuring/con-config-mirrormaker2-topic-names.adoc
  documentation/modules/configuring/con-config-mirrormaker2.adoc
  documentation/modules/configuring/con-config-mm2-multiple-instances.adoc
  documentation/modules/configuring/con-config-node-pools.adoc
  documentation/modules/configuring/con-config-resources.adoc
  documentation/modules/configuring/proc-config-mirrormaker2-securing-connection.adoc
  documentation/modules/overview/con-overview-mirrormaker2.adoc
  documentation/overview/overview.adoc
Labels: documentation

#11876 [ST] Fixes to LogCollector and UserST
  systemtest/src/main/java/io/strimzi/systemtest/TestTags.java
  systemtest/src/main/java/io/strimzi/systemtest/listeners/ExecutionListener.java
  systemtest/src/main/java/io/strimzi/systemtest/logs/TestLogCollector.java
  systemtest/src/test/java/io/strimzi/systemtest/operators/user/UserST.java
Labels: needs review, System tests

#11882 Disable test-container logging as build is stable
  .azure/build-pipeline.yaml
Labels: ready for merge

#11886 docs(format): adds missing abstract tags to doc files
  documentation/assemblies/deploying/assembly-rolling-updates.adoc
  documentation/assemblies/metrics/assembly_metrics-prometheus-deploy.adoc
  documentation/assemblies/overview/assembly-kafka-components.adoc
  documentation/assemblies/overview/assembly-kafka-concepts.adoc
  documentation/modules/configuring/con-common-configuration.adoc
  documentation/modules/configuring/con-config-large-messages.adoc
  documentation/modules/configuring/con-config-storage-kraft-metadata.adoc
  documentation/modules/configuring/con-customizing-image-pull-policy.adoc
  documentation/modules/configuring/proc-disable-pod-disruption-budget-generation.adoc
  documentation/modules/configuring/proc-manual-delete-pod-pvc-kafka.adoc
  documentation/modules/configuring/ref-affinity.adoc
  documentation/modules/configuring/ref-config-list-of-kafka-connect-resources.adoc
  documentation/modules/configuring/ref-kubernetes-labels.adoc
  documentation/modules/configuring/ref-list-of-kafka-bridge-resources.adoc
  documentation/modules/configuring/ref-list-of-kafka-cluster-resources.adoc
  documentation/modules/configuring/ref-list-of-mirrormaker2-resources.adoc
  documentation/modules/cruise-control/con-rebalance-performance.adoc
  documentation/modules/cruise-control/proc-approving-optimization-proposal.adoc
  documentation/modules/cruise-control/proc-stopping-cluster-rebalance.adoc
  documentation/modules/cruise-control/proc-tracking-cluster-rebalance.adoc
  documentation/modules/deploying/con-accessing-kafka-bridge-from-outside.adoc
  documentation/modules/deploying/con-deploy-container-images.adoc
  documentation/modules/deploying/con-deploy-prereqs.adoc
  documentation/modules/deploying/con-fips-validation.adoc
  documentation/modules/deploying/proc-deploy-designating-strimzi-administrators.adoc
  documentation/modules/managing/proc-manual-rolling-update-pods.adoc
  documentation/modules/metrics/con_metrics-prometheus-options.adoc
  documentation/modules/metrics/con_metrics-prometheus-resources.adoc
  documentation/modules/metrics/proc_metrics-deploying-prometheus-operator.adoc
  documentation/modules/metrics/ref-strimzi-metrics-reporter-config.adoc
  documentation/modules/oauth/con-oauth-reauthentication.adoc
  documentation/modules/operators/con-ignoring-some-users-in-user-operator.adoc
  documentation/modules/operators/con-operator-topic-names.adoc
  documentation/modules/operators/con-topic-replication.adoc
  documentation/modules/operators/con-tuning-topic-request-batches.adoc
  documentation/modules/operators/proc-pausing-reconciliation.adoc
  documentation/modules/overview/con-feature-gates-overview.adoc
  documentation/modules/overview/con-kafka-concepts-producers-consumers.adoc
  documentation/modules/overview/con-overview-components-kafka-bridge-clients.adoc
  documentation/modules/security/con-securing-client-acls.adoc
  documentation/modules/security/con-securing-client-labels.adoc
  documentation/modules/security/proc-configuring-external-clients-to-trust-cluster-ca.adoc
  documentation/modules/security/proc-configuring-internal-clients-to-trust-cluster-ca.adoc
  documentation/modules/security/proc-replacing-private-keys.adoc
  documentation/modules/upgrading/con-upgrade-versions-and-images.adoc
  documentation/shared/ref-document-conventions.adoc
Labels: documentation

#11890 Deprecate and stop using the `.status.kafkaMetadataState` field
  CHANGELOG.md
  api/src/main/java/io/strimzi/api/kafka/model/kafka/KafkaMetadataState.java
  api/src/main/java/io/strimzi/api/kafka/model/kafka/KafkaStatus.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperator.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaReconciler.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/ReconcilerUtils.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorKRaftMockTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaAssemblyOperatorWithKRaftTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaReconcilerStatusTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaStatusTest.java
  documentation/modules/appendix_crds.adoc
  packaging/helm-charts/helm3/strimzi-kafka-operator/crds/040-Crd-kafka.yaml
  packaging/install/cluster-operator/040-Crd-kafka.yaml
Labels: do-not-merge

#11920 docs(review): minor fixes from review
  documentation/modules/configuring/con-maintenance-time-window-definition.adoc
  documentation/modules/configuring/ref-list-of-kafka-cluster-resources.adoc
  documentation/modules/metrics/con-metrics-cruise-control.adoc
  documentation/modules/security/con-certificate-renewal.adoc
Labels: documentation

#11926 Fix MirrorMaker 2 configuration changes handling and default labels
  cluster-operator/src/main/java/io/strimzi/operator/cluster/model/KafkaConnectCluster.java
  cluster-operator/src/main/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperator.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaConnectAssemblyOperatorPodSetTest.java
  cluster-operator/src/test/java/io/strimzi/operator/cluster/operator/assembly/KafkaMirrorMaker2AssemblyOperatorPodSetTest.java
Labels: bug

#11855 Add comment parameter validation passed to GHA and improve docs
  .github/actions/systemtests/generate-matrix/action.yml
  .github/actions/systemtests/parse-comment/action.yml
  .github/actions/systemtests/validate-matrix/action.yml
  .github/docs/README.md
  .github/tests/inputs/validate-matrix/empty_matrix.json
  .github/tests/inputs/validate-matrix/null_matrix.json
  .github/tests/inputs/validate-matrix/valid_custom.json
  .github/tests/inputs/validate-matrix/valid_multiple.json
  .github/tests/inputs/validate-matrix/valid_single.json
  .github/tests/scenarios/validate-matrix.yaml
  .github/tests/workflows/validate-matrix-template.yaml
  .github/workflows/actions-tests.yml
  .github/workflows/run-system-tests.yml
  .github/workflows/system-tests.yml
Labels: GitHub Actions

#11950 docs(toc): updates the toc level to 2
  documentation/shared/attributes.adoc
Labels: documentation
